
a {
    text-decoration: none;
    color: black;
}
/*select*/
.select span{
    position: relative;
    left: calc(50% - 150px/2);
    top: 10px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.select{
	text-align: center;
}
.select_first{
	margin: 30px 0 10px;
}
.select_first .all{
    position: relative;
    border: 0.5px solid #BFBFBF;
    width: 60px;
    height: 30px;
    background: white;
    border-radius: 20px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #BFBFBF;
    cursor: pointer;
}
.select_first .all:hover{
    background-color: #FF731D;
    color: white;
    border: none;
}
.select_first .company{
    position: relative;
    border: 0.5px solid #BFBFBF;
    width: 60px;
    height: 30px;
    background: white;
    border-radius: 20px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #BFBFBF;
    cursor: pointer;
}
.select_first .company:hover{
    background-color: #FF731D;
    color: white;
    border: none;
}
.select_first .college{
    position: relative;
    border: 0.5px solid #BFBFBF;
    width: 60px;
    height: 30px;
    background: white;
    border-radius: 20px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #BFBFBF;
    cursor: pointer;
}
.select_first .college:hover{
    background-color: #FF731D;
    color: white;
    border: none;
}
.select_first .apply{
    position: relative;
    border: 0.5px solid #BFBFBF;
    width: 60px;
    height: 30px;
    background: white;
    border-radius: 20px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #BFBFBF;
    cursor: pointer;
}
.select_first .apply:hover{
    background-color: #FF731D;
    color: white;
    border: none;
}
.select_first .app{
    position: relative;
    border: 0.5px solid #BFBFBF;
    width: 60px;
    height: 28px;
    background: white;
    border-radius: 20px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #BFBFBF;
    cursor: pointer;
}
.select_first .app:hover{
    background-color: #FF731D;
    color: white;
    border: none;
}

/*취업 선택 시 2차 버튼*/
.select_company .all, .company1, .company2, .company3{
	position: relative;
    border: 0.5px solid #BFBFBF;
    width: 60px;
    height: 28px;
    background: white;
    border-radius: 20px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #BFBFBF;
    cursor: pointer;
}
.select_company .all:hover, .company1:hover, .company2:hover, .company3:hover{
    background-color: #FF731D;
    color: white;
    border: none;
}
.select_company{
	margin-bottom: 25px;
}

/*대학생활 선택 시 2차 버튼*/
.select_college .all, .college1, .college2, .college3, .college4{
	position: relative;
    border: 0.5px solid #BFBFBF;
    width: 60px;
    height: 28px;
    background: white;
    border-radius: 20px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #BFBFBF;
    cursor: pointer;
}
.select_college .all:hover, .college1:hover, .college2:hover, .college3:hover, .college4:hover{
    background-color: #FF731D;
    color: white;
    border: none;
}
.select_college{
	margin-bottom: 25px;
	display: none;
}

/*지원 선택 시 2차 버튼*/
.select_apply .all, .apply1, .apply2{
	position: relative;
    border: 0.5px solid #BFBFBF;
    width: 60px;
    height: 28px;
    background: white;
    border-radius: 20px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #BFBFBF;
    cursor: pointer;
}
.select_apply .all:hover, .apply1:hover, .apply2:hover{
    background-color: #FF731D;
    color: white;
    border: none;
}
.select_apply{
	margin-bottom: 25px;
	display: none;
}

.checked {
    background-color: #FF731D;
    color: white;
    border: none;
}


/*contentme*/
.content{
	position: relative;
	width: 85%;
	border: 0.5px solid #959595;
	border-radius: 10px;
	margin: 8px auto;
	padding: 13px;
	cursor: pointer;
}
.content:hover{
	color: white;
	background-color: rgba(0,0,0,0.2);
}
.content .type{
	background-color: #FF731D;
	color: white;
	display: inline-block;
	font-size: 10px;
	padding: 5px 7px;
	margin-left: 8px;
	border-radius: 30px;
	margin-top: 0;
}
.content span{
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #000000;
	padding-left: 3px;
}
.content p{
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 140%;
	color: #000000;
	padding: 0 10px;
	margin: 5px 0;
}




/*1200px 이상*/
  @media ( min-width: 1025px ) {
    #container {
      width: 1024px;
      margin: auto;
    }

    /*header*/
    .header{
        height: 45px;
    }
    .menuimage{
        display: none;
    }
    /*select*/
    .select span{
        font-size: 22px;
    }
    .all{
        width: 120px;
        height: 35px;
        left: calc(50% - 50px/2 - 338px);
        top: 125px;
        font-size: 14px;
        line-height: 20px;
    }
    .company{
        width: 120px;
        height: 35px;
        left: calc(50% - 50px/2 - 188px);
        top: 125px;
        font-size: 14px;
        line-height: 20px;
    }
    .college{
        width: 120px;
        height: 35px;
        left: calc(50% - 50px/2 - 38px);
        top: 125px;
        font-size: 14px;
        line-height: 20px;
    }
    .apply{
        width: 120px;
        height: 35px;
        left: calc(50% - 50px/2 + 112px);
        top: 125px;
        font-size: 14px;
        line-height: 20px;
    }
    .app{
        width: 120px;
        height: 35px;
        left: calc(50% - 66px/2 + 270px);
        top: 125px;
        font-size: 14px;
        line-height: 20px;
    }

  }