<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>직업 탐구하기</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	  </style> 
    <link rel="stylesheet" href="/css/world/job.css">
	{% include "common.html" %}
  </head>

  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}
      <div class="select">
        <span>직업 탐구하기</span>
		{% if not jobList %}
		<script>alert("데이터를 받고 있는 중이에요. 잠시 후에 다시 접속해보세요!")</script>  
		{% endif %}
		<div class="select">
			<button class="all checked">전체</button>
			{% for category, jobs in jobList %}
			<button class="{{ loop.index }}">{{ category }}</button>
			{% endfor %}
			<!--
			<button class="select2">무용 관련직</button>
			<button class="select3">안전 관련직</button>
			<button class="select4">일반운전 관련직</button>
			<button class="select5">기능직</button>
			<button class="select6">의복제조 관련직</button>
			<button class="select7">조리 관련직</button>
			<button class="select8">이미용 관련직</button>
			<button class="select9">기타 게임·오락·스포츠 관련직</button>
			<button class="select10">고급 운전 관련직</button>
			<button class="select11">공학 기술직</button>
			<button class="select12">공학 전문직</button>
			<button class="select13">음악 관련직</button>
			<button class="select14">악기 관련직</button>
			<button class="select15">연기 관련직</button>
			<button class="select16">웹·게임·애니메이션 관련직</button>
			<button class="select17">미술 및 공예 관련직</button>
			<button class="select18">기타 특수 예술직</button>
			<button class="select19">사회서비스직</button>
			<button class="select20">인문계 교육 관련직</button>
			<button class="select21">이공계 교육 관련직</button>
			<button class="select22">의료관련 전문직</button>
			<button class="select23">IT 관련전문직</button>
			<button class="select24">금융 및 경영 관련직</button>
			<button class="select25">인문 및 사회과학 관련직</button>
			<button class="select26">회계 관련직</button>
			<button class="select27">언어 관련 전문직</button>
			<button class="select28">작가 관련직</button>
			<button class="select29">교육관련 서비스직</button>
			<button class="select30">기획서비스직</button>
			<button class="select31">매니지먼트 관련직</button>
			<button class="select32">보건의료 관련 서비스직</button>
			<button class="select33">사무 관련직</button>
			<button class="select34">영업관련 서비스직</button>
			<button class="select35">일반 서비스직</button>
			<button class="select36">디자인 관련직</button>
			<button class="select37">영상 관련직</button>
			<button class="select38">예술 기획 관련직</button>
			<button class="select39">자연친화 관련직</button>
			<button class="select40">농생명산업 관련직</button>
			<button class="select41">환경관련 전문직</button>
			<button class="select42">법률 및 사회활동 관련직</button>
			<button class="select43">이학 전문직</button>
			-->
		</div>
		
      </div>
		
    <div class="contentme">
		{% for category, jobs in jobList %}
		<div class="item {{ loop.index }}_content content">	
			<p>{{ category }}</p>
			{% for job in jobs %}
			<a href="{{ job[1] }}"><button>{{ job[0] }}</button></a>
			{% endfor %}
		</div>
		{% endfor %}
		<!--
		<div class="content">	
			<p>운동 관련직</p>
			<a href="#"><button>경영관리</button></a>
			<a href="#"><button>기획</button></a>
			<a href="#"><button>게임기획</button></a>
			<a href="#"><button>경영분석</button></a>
			<a href="#"><button>경영기획</button></a>
			<a href="#"><button>경영컨설팅</button></a>
			<a href="#"><button>광고기획</button></a>
			<a href="#"><button>경영혁신(PI)</button></a>
			<a href="#"><button>금융컨설팅</button></a>
			<a href="#"><button>교육기획</button></a>
			<a href="#"><button>레벨디자인</button></a>
			<a href="#"><button>기술기획</button></a>
			<a href="#"><button>리서치</button></a>
			<a href="#"><button>마케팅기획</button></a>
			<a href="#"><button>문화기획</button></a>
			<a href="#"><button>데이터분석</button></a>
			<a href="#"><button>법인장</button></a>
			<a href="#"><button>사업개발</button></a>
			<a href="#"><button>브랜드기획</button></a>
			<a href="#"><button>사업관리</button></a>
			<a href="#"><button>사업제휴</button></a>
			<a href="#"><button>사업기획</button></a>
			<a href="#"><button>스토리보드</button></a>
			<a href="#"><button>상품기획</button></a>	
			<a href="#"><button>시장조사</button></a>
			<a href="#"><button>서비스기획</button></a>
			<a href="#"><button>신사업기획</button></a>
			<a href="#"><button>앱기획</button></a>
			<a href="#"><button>신사업발굴</button></a>
			<a href="#"><button>웹기획</button></a>
			<a href="#"><button>실적관리</button></a>
			<a href="#"><button>인사기획</button></a>
			<a href="#"><button>전략기획</button></a>
			<a href="#"><button>엑셀러레이팅</button></a>
			<a href="#"><button>지점관리자</button></a>
			<a href="#"><button>예산관리</button></a>
			<a href="#"><button>출판기획</button></a>
			<a href="#"><button>인큐베이팅</button></a>
			<a href="#"><button>자료조사</button></a>
			<a href="#"><button>컨설턴트</button></a>
			<a href="#"><button>행사기획</button></a>
			<a href="#"><button>조직관리</button></a>
			<a href="#"><button>CEO</button></a>
			<a href="#"><button>지속가능경영</button></a>
			<a href="#"><button>COO</button></a>
			<a href="#"><button>창업컨설팅</button></a>
			<a href="#"><button>CTO</button></a>
			<a href="#"><button>타당성검토</button></a>
			<a href="#"><button>IT컨설팅</button></a>
			<a href="#"><button>투자전략</button></a>
			<a href="#"><button>PL(프로젝트리더)</button></a>
			<a href="#"><button>트렌드분석</button></a>
			<a href="#"><button>PM(프로젝트매니저)</button></a>
			<a href="#"><button>프로토타이핑</button></a>
			<a href="#"><button>해외법인관리</button></a>
			<a href="#"><button>PMO</button></a>
			<a href="#"><button>BPR</button></a>
			<a href="#"><button>PO(프로덕트오너)</button></a>
			<a href="#"><button>BSC</button></a>
			<a href="#"><button>CSR</button></a>
			<a href="#"><button>ESG</button></a>
			<a href="#"><button>ISMP</button></a>
			<a href="#"><button>ISP</button></a>
			<a href="#"><button>KPI관리</button></a>
			<a href="#"><button>M&A</button></a>
			<a href="#"><button>MBO</button></a>
			<a href="#"><button>OKR</button></a>
			<a href="#"><button>REP(제안요청서)</button></a>
			<a href="#"><button>UI/UX</button></a>
		</div>
		<div class="content">	
			<p>무용 관련직</p>
			<a href="#"><button>경영관리</button></a>
			<a href="#"><button>기획</button></a>
			<a href="#"><button>게임기획</button></a>
			<a href="#"><button>경영분석</button></a>
			<a href="#"><button>경영기획</button></a>
			<a href="#"><button>경영컨설팅</button></a>
			<a href="#"><button>광고기획</button></a>
			<a href="#"><button>경영혁신(PI)</button></a>
			<a href="#"><button>금융컨설팅</button></a>
			<a href="#"><button>교육기획</button></a>
			<a href="#"><button>레벨디자인</button></a>
			<a href="#"><button>기술기획</button></a>
			<a href="#"><button>리서치</button></a>
			<a href="#"><button>마케팅기획</button></a>
			<a href="#"><button>문화기획</button></a>
			<a href="#"><button>데이터분석</button></a>
			<a href="#"><button>법인장</button></a>
			<a href="#"><button>사업개발</button></a>
			<a href="#"><button>브랜드기획</button></a>
			<a href="#"><button>사업관리</button></a>
			<a href="#"><button>사업제휴</button></a>
			<a href="#"><button>사업기획</button></a>
			<a href="#"><button>스토리보드</button></a>
			<a href="#"><button>상품기획</button></a>	
			<a href="#"><button>시장조사</button></a>
			<a href="#"><button>서비스기획</button></a>
			<a href="#"><button>신사업기획</button></a>
			<a href="#"><button>앱기획</button></a>
			<a href="#"><button>신사업발굴</button></a>
			<a href="#"><button>웹기획</button></a>
			<a href="#"><button>실적관리</button></a>
			<a href="#"><button>인사기획</button></a>
			<a href="#"><button>전략기획</button></a>
			<a href="#"><button>엑셀러레이팅</button></a>
			<a href="#"><button>지점관리자</button></a>
			<a href="#"><button>예산관리</button></a>
			<a href="#"><button>출판기획</button></a>
			<a href="#"><button>인큐베이팅</button></a>
			<a href="#"><button>자료조사</button></a>
			<a href="#"><button>컨설턴트</button></a>
			<a href="#"><button>행사기획</button></a>
			<a href="#"><button>조직관리</button></a>
			<a href="#"><button>CEO</button></a>
			<a href="#"><button>지속가능경영</button></a>
			<a href="#"><button>COO</button></a>
			<a href="#"><button>창업컨설팅</button></a>
			<a href="#"><button>CTO</button></a>
			<a href="#"><button>타당성검토</button></a>
			<a href="#"><button>IT컨설팅</button></a>
			<a href="#"><button>투자전략</button></a>
			<a href="#"><button>PL(프로젝트리더)</button></a>
			<a href="#"><button>트렌드분석</button></a>
			<a href="#"><button>PM(프로젝트매니저)</button></a>
			<a href="#"><button>프로토타이핑</button></a>
			<a href="#"><button>해외법인관리</button></a>
			<a href="#"><button>PMO</button></a>
			<a href="#"><button>BPR</button></a>
			<a href="#"><button>PO(프로덕트오너)</button></a>
			<a href="#"><button>BSC</button></a>
			<a href="#"><button>CSR</button></a>
			<a href="#"><button>ESG</button></a>
			<a href="#"><button>ISMP</button></a>
			<a href="#"><button>ISP</button></a>
			<a href="#"><button>KPI관리</button></a>
			<a href="#"><button>M&A</button></a>
			<a href="#"><button>MBO</button></a>
			<a href="#"><button>OKR</button></a>
			<a href="#"><button>REP(제안요청서)</button></a>
			<a href="#"><button>UI/UX</button></a>
		</div>
		<div class="content">	
			<p>안전 관련직</p>
			<a href="#"><button>경영관리</button></a>
			<a href="#"><button>기획</button></a>
			<a href="#"><button>게임기획</button></a>
			<a href="#"><button>경영분석</button></a>
			<a href="#"><button>경영기획</button></a>
			<a href="#"><button>경영컨설팅</button></a>
			<a href="#"><button>광고기획</button></a>
			<a href="#"><button>경영혁신(PI)</button></a>
			<a href="#"><button>금융컨설팅</button></a>
			<a href="#"><button>교육기획</button></a>
			<a href="#"><button>레벨디자인</button></a>
			<a href="#"><button>기술기획</button></a>
			<a href="#"><button>리서치</button></a>
			<a href="#"><button>마케팅기획</button></a>
			<a href="#"><button>문화기획</button></a>
			<a href="#"><button>데이터분석</button></a>
			<a href="#"><button>법인장</button></a>
			<a href="#"><button>사업개발</button></a>
			<a href="#"><button>브랜드기획</button></a>
			<a href="#"><button>사업관리</button></a>
			<a href="#"><button>사업제휴</button></a>
			<a href="#"><button>사업기획</button></a>
			<a href="#"><button>스토리보드</button></a>
			<a href="#"><button>상품기획</button></a>	
			<a href="#"><button>시장조사</button></a>
			<a href="#"><button>서비스기획</button></a>
			<a href="#"><button>신사업기획</button></a>
			<a href="#"><button>앱기획</button></a>
			<a href="#"><button>신사업발굴</button></a>
			<a href="#"><button>웹기획</button></a>
			<a href="#"><button>실적관리</button></a>
			<a href="#"><button>인사기획</button></a>
			<a href="#"><button>전략기획</button></a>
			<a href="#"><button>엑셀러레이팅</button></a>
			<a href="#"><button>지점관리자</button></a>
			<a href="#"><button>예산관리</button></a>
			<a href="#"><button>출판기획</button></a>
			<a href="#"><button>인큐베이팅</button></a>
			<a href="#"><button>자료조사</button></a>
			<a href="#"><button>컨설턴트</button></a>
			<a href="#"><button>행사기획</button></a>
			<a href="#"><button>조직관리</button></a>
			<a href="#"><button>CEO</button></a>
			<a href="#"><button>지속가능경영</button></a>
			<a href="#"><button>COO</button></a>
			<a href="#"><button>창업컨설팅</button></a>
			<a href="#"><button>CTO</button></a>
			<a href="#"><button>타당성검토</button></a>
			<a href="#"><button>IT컨설팅</button></a>
			<a href="#"><button>투자전략</button></a>
			<a href="#"><button>PL(프로젝트리더)</button></a>
			<a href="#"><button>트렌드분석</button></a>
			<a href="#"><button>PM(프로젝트매니저)</button></a>
			<a href="#"><button>프로토타이핑</button></a>
			<a href="#"><button>해외법인관리</button></a>
			<a href="#"><button>PMO</button></a>
			<a href="#"><button>BPR</button></a>
			<a href="#"><button>PO(프로덕트오너)</button></a>
			<a href="#"><button>BSC</button></a>
			<a href="#"><button>CSR</button></a>
			<a href="#"><button>ESG</button></a>
			<a href="#"><button>ISMP</button></a>
			<a href="#"><button>ISP</button></a>
			<a href="#"><button>KPI관리</button></a>
			<a href="#"><button>M&A</button></a>
			<a href="#"><button>MBO</button></a>
			<a href="#"><button>OKR</button></a>
			<a href="#"><button>REP(제안요청서)</button></a>
			<a href="#"><button>UI/UX</button></a>
		</div>
		   -->
	</div>
	{% include "menu/menu.html" %}
	</div>
  </body>
  <script>
	const buttons = document.querySelectorAll('.select button');
	const changeButtons = (name) => {
	  buttons.forEach((button) => {
		if (button.classList[0] === name) {
	      button.classList.add("checked"); 
		} else {
		  button.classList.remove("checked");
		}
	  });
	};
	  
	const items = document.querySelectorAll('.item');
	const changeItems = (name) => {
	  items.forEach((item) => {
		if (name === 'all' || item.classList[1].split("_")[0] === name) {
		  item.style.display = 'block';
		} else {
		  item.style.display = 'none';
		}
	  });
	};
	  
    buttons.forEach((button) => {
	  button.addEventListener('click', (e) => {
	    changeButtons(button.classList[0]);
		changeItems(button.classList[0]);
	  });
	});
  </script>
</html>