
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>직업 탐구하기</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	{% include "metatag.html" %}
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;500&display=swap');
	  </style> 
    <link rel="stylesheet" href="/css/world/jobdetail.css">
	{% include "common.html" %}
  </head>

  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}
      <div class="top" style="text-align:center;">
        <span class="maintitle">직업 탐구하기</span>
        <span class="category">직업분류(aptit_name String)</span>
        <div class="heart">
            <span class="name" >직업명(job_nm String)</span>
            <svg id="like" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/>
            </svg>
        </div>
      </div>

      <div class="explain1">
        <span class="middletitle">하는 일</span>
        <p>물리학연구원은 자연현상의 기본 법칙을 규명하여 합리적으로 설명, 예측하고, 물리학적 원리와 기법을 산업, 의료, 군사 분야 등에 응용하기 위한 연구를
            수행합니다.
            물질과 구조의 운동, 전기나 빛 등 에너지의 발생과 이동, 물질과
            에너지의 상호 관계에 대한 연구와 실험을 합니다.
            물질과 에너지의 관계 등 물리학적 현상에 대해 관찰, 실험합니다.
            고형 물질의 구조와 특성을 조사하기 위해 온도, 압력 등의 환경조건을
            변화시켜 실험하고 반응을 연구합니다.
            다양한 물리학학 기본 원리를 적용하여 재료, 전기, 자기, 광학, 의료,
            음향, 빛 등 일상생활을 편리하게 하는 기구 개발에 대해 연구합니다.</p> <!--workList work String-->
      </div>

      <div class="explain2">
        <div class="explain2-1">
            <span class="middletitle">흥미</span>
            <p>자연현상에 대해 호기심을 가지고 관찰하는 것을 좋아하고, 깊게
                탐구하는 과정을 즐기는 사람에게 적합합니다. 
                문제에 대한 답을 구하기 위해 정보를 분석하는 것에 관심이 있고,
                논리적이고 합리적인 사고를 하는 사람에게 적합합니다. </p>  <!--interestList interest String-->
        </div>
        <div class="explain2-2">
            <span class="middletitle">적성</span>
            <p>자연현상에 대해 호기심을 가지고 관찰하는 것을 좋아하고, 깊게
                탐구하는 과정을 즐기는 사람에게 적합합니다. 
                문제에 대한 답을 구하기 위해 정보를 분석하는 것에 관심이 있고,
                논리적이고 합리적인 사고를 하는 사람에게 적합합니다. </p>  <!--aptitudeList aptitude String-->
        </div>
      </div>

      <div class="explain3">
        <div class="explain3-1">
            <ul class="outer">
                <li>
                    <ul>
                        <li><span class="middletitle">사회공헌</span></li>
                        <li><img src="/photo/main/contribution.png"></li>
                        <li><span class="state">매우 좋음</span></li>  <!--social String-->
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><span class="middletitle">일가정균형</span></li>
                        <li><img src="/photo/main/balance.png"></li>
                        <li><span class="state">좋음</span></li>  <!--wlb String-->
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><span class="middletitle">직업만족도</span></li>
                        <li><img src="/photo/main/satisfaction.png"></li>
                        <li><span class="state">79.8</span></li>  <!--Satisfaction Number-->
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><span class="middletitle">평균연봉</span></li>
                        <li><img src="/photo/main/cash.png"></li>
                        <li><span class="state">6,734</span></li>   <!--Wage Number-->
                    </ul>
                </li>
            </ul>
        </div>
        <div class="explain3-2">
            <ul>
                <li>
                    <span class="middletitle">업무수행능력</span> 
                    <p>수리력, 범주화, 글쓰기, 듣고 이해하기, 읽고 이해하기, 논리적분석, 공간지각력, 선택적 집중력, 창의력, 기술분석</p>  <!--perform String-->
                </li>
                <li>
                    <span class="middletitle">업무환경</span> 
                    <p>자동화 정도, 이메일 이용하기, 앉아아서 근무, 정확성 정밀성 유지,  반복적인 신체행동, 정신적 활동, 균형을 유지하기, 실내근무, 연설, 발표, 회의하기, 공문, 문서 주고받기, 재택근무 </p>  <!--environment String-->
                </li>
                <li>
                    <span class="middletitle">지식중요도</span> 
                    <p>물리, 산수와 수학, 영어, 컴퓨터와 전자공학, 기게, 화학, 공학과 기술, 통신, 국어, 의사소통과 미디어</p>  <!--knowledge String-->
                </li>
            </ul>
        </div>
    </div>

        <div class="explain4">
            <span class="middletitle">준비방법</span> <!--4가지 중에 있는게 있고 없는게 있어서 있는 경우만 나오는 걸로 가능한가..?-->
            <ul>
                <li>
                    <span class="subtitle">정규교육과정</span>
                    <p>대학교, 대학원에서 물리학과, 지구환경과학과 등 물리 관련 학과를 졸업하면 유리합니다.</p> <!--curriculum curriculum String-->
                </li>
                <li>
                    <span class="subtitle">입직 및 취업방법</span>
                    <p>공개 채용이나 특별 채용을 통해 정부출연연구소 등에 취업할 수 있습니다. 
                        대학, 기업부설연구소, 과학 및 공학 컨설팅회사 등에 취업할 수 있습니다.</p>  <!--recruit recruit String-->
                </li>
                <li>
                    <span class="subtitle">관련자격증</span>
                    <p>공개 채용이나 특별 채용을 통해 정부출연연구소 등에 취업할 수 있습니다. 
                        대학, 기업부설연구소, 과학 및 공학 컨설팅회사 등에 취업할 수 있습니다.</p> <!--certificate certificate String-->
                </li>
                <li>
                    <span class="subtitle">직업훈련</span>
                    <p>공개 채용이나 특별 채용을 통해 정부출연연구소 등에 취업할 수 있습니다. 
                        대학, 기업부설연구소, 과학 및 공학 컨설팅회사 등에 취업할 수 있습니다.</p>  <!--training training String-->
                </li> 
            </ul>
        </div>

        <div class="explain5">
            <span class="middletitle">직업전망</span>
            <p> 향후 5년간 물리학연구원의 일자리 규모는 다소 증가할 것으로 전망됩니다. 정부가 국가경쟁력의 핵심 요소가 되는 과학기술 인력의 체계적 육성과 지원을 중요한 정책적 과제로 제시하고 있고, 이에 수반되는 예산을 증액할 예정이므로 향후 자연과학 관련 인력의 수요가 증가할 것으로 판단됩니다. 이러한 상황을 종합하면 향후 물리학 연구원의 일자리는 다소 증가할 것으로 예측되고 있습니다. (자료: 워크넷 직업정보)</p>
        </div>

        <button>목록으로</button>


      </div>

      <script>
        let like = document.getElementById("like");
        // like부분에 클릭 이벤트
        like.addEventListener("click", function() {
          like.classList.toggle('click');
        }) 
      </script>



   <!-- <div class="contentme">
		{% for category, jobs in jobList %}
		<div class="item {{ loop.index }}_content content">	
			<p>{{ category }}</p>
			{% for job in jobs %}
			<a href="{{ job[1] }}"><button>{{ job[0] }}</button></a>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
	{% include "menu/menu.html" %}
	</div>-->
  </body>
</html>