<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>세상 알아보기</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
      content="세상을 다같이 함께 살아가기에 나를 이해하는 것 뿐만 아니라 현재 세상이 어떻고 어떤 것들을 활용할 수 있는지 아는 것도 중요해요." />
	<meta name="keywords" content="보담길,진로,진로사이트,진로고민,진로교육,진로게임,진로이야기,진로여정,꿈,꿈찾기,대학생,대학생진로,직업,직무,심리검사,진로검사" />
	<meta name="robots" content="index,nofollow">
	<meta property="og:site_name" content="보담길" />
	<meta property="og:title" content="보담길" />
	<meta property="og:description"
      content="세상 알아보기" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.bodamgil.com" />
	<meta property="og:image"
      content="/photo/main/og-image.png" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="보담길">
    <meta name="twitter:description" content="세상 알아보기">
    <meta name="twitter:image" content="/photo/main/og-image.png">
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	  </style> 
    <link rel="stylesheet" href="/css/world/main.css">
	{% include "common.html" %}
  </head>

  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}		
	  <div class="content">
        <img src="/photo/main/world-image.jpg" class="photo" alt="지도 보는 모습">
        <span class="findme">세상 알아보기</span>
	    <p>세상을 다같이 함께 살아가기에
        <br>나를 이해하는 것 뿐만 아니라
        <br>현재 세상이 어떻고 어떤 것들을
        <br>활용할 수 있는지 아는 것도 중요해요.</p>
        <div class="line"></div>

        <a href="/world/duty" class="work">직무 알아보기</a>
        <a href="/world/job" class="job">직업 탐구하기</a>
        <a href="/world/site" class="site">도움이 되는 사이트</a>
	  </div>
    </div>
	{% include "menu/menu.html" %}
  </body>
  <script>
    window.onload = () => {
	  let message = (new URLSearchParams(location.search)).get('message');

	  if (message) {
	    switch (message) {
		  case 'preparation':
		    alert('아직 준비 중인 기능이에요. 조금만 기다려주세요!');
		    break;
	      }
	    }
      };  
  </script>
</html>
	  