<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>진로 검사 실시하기</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	  </style> 
    <link rel="stylesheet" href="/css/world/test.css">
	{% include "common.html" %}
  </head>

  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}		  
      <div class="select">
        <span>진로 검사 실시하기</span>
        <button class="all checked">전체</button>
        <button class="like">흥미</button>
        <button class="good">능력</button>
        <button class="goal">목표</button>
        <button class="value">가치관</button>
		<button class="etc">기타</button>
      </div>
      <div class="contentme">
	  	<div class="like_content">	  
		   <a href="https://www.work.go.kr/consltJobCarpa/jobPsyExam/aduPreSNewDetail.do" target="_blank"><div class="content">
				<span>직업선호도검사 S형</span>
				<p>좋아하는 활동, 관심 있는 직업, 선호하는 분야를 탐색하여 직업흥미유형에 적합한 직업들을 제공해 줍니다.</p>
		   </div></a>
		   <a href="https://www.work.go.kr/consltJobCarpa/jobPsyExam/aduPreLNewDetail.do" target="_blank"><div class="content">
				<span>직업선호도검사 L형</span>
				<p>좋아하는 활동, 관심 있는 직업, 선호하는 분야를 탐색하고 개인의 성격 및 생활사 특성을 측정하여 이에 적합한 직업들을 제공해 줍니다.</p>
		   </div></a>
	  	</div>
		  
		<div class="good_content">	  
		   <a href="https://www.work.go.kr/consltJobCarpa/jobPsyExam/aduFoundAptdDetail.do" target="_blank"><div class="content">
				<span>창업적성검사</span>
				<p>창업을 희망하는 개인에게 창업소질이 있는지를 진단해주고, 가장 적합한 업종이 무엇인지 추천해 줍니다.</p>
		   </div></a>
		   <a href="https://www.work.go.kr/consltJobCarpa/jobPsyExam/aduAptNewDetail.do" target="_blank"><div class="content">
				<span>직업적성검사</span>
				<p>직업선택 시 중요한 능력과 적성을 토대로 적합한 직업을 선택할 수 있도록 도와줍니다.</p>
		   </div></a>
		   <a href="https://www.career.go.kr/cnet/front/examen/inspctNor.do#" target="_blank"><div class="content">
				<span>주요능력효능감검사</span>
				<p>직업과 관련된 특정 능력에 대해 스스로의 자신감 정보를 알아볼 수 있도록 도와줍니다.</p>
		   </div></a>
		   <a href="https://www.career.go.kr/cnet/front/examen/inspctNor.do#" target="_blank"><div class="content">
				<span>이공계전공적합도검사</span>
				<p>대학의 이공계 내 세부전공별 적합도를 알아볼 수 있도록 도와줍니다.</p>
		   </div></a>
	  	</div>
		  
		<div class="goal_content">	  
		   <a href="https://www.work.go.kr/consltJobCarpa/jobPsyExam/univJobPreDetail.do" target="_blank"><div class="content">
				<span>대학생 진로준비도검사</span>
				<p>대학생 및 취업을 준비하는 대졸 청년층 구직자들을 대상으로 하며, 진로발달수준과 취업준비 행동수준에 대한 객관적인 정보를 바탕으로 효과적인 진로 및 취업선택을 지원하는데 도움을 줍니다.</p>
		   </div></a>
		   <a href="https://www.work.go.kr/consltJobCarpa/jobPsyExam/aduEquipDetail.do" target="_blank"><div class="content">
				<span>구직준비도검사</span>
				<p>구직을 희망하는 사람들이 성공적인 구직을 할 준비가 되어 있는가를 알아보고,이를 토대로 적합한 취업지원 서비스를 선택할 수 있도록 도와줍니다.</p>
		   </div></a>
		   <a href="https://www.career.go.kr/cnet/front/examen/inspctNor.do#" target="_blank"><div class="content">
				<span>진로개발준비도검사</span>
				<p>대학생 전체에 비교할 때 자신의 진로 계획 및 준비가 어느 정도 갖추고 있는가를 알려주며 자기주도적으로 진로를 개발하기 위한 방법을 알려줍니다.</p>
		   </div></a>
	  	</div>
		  
		<div class="value_content">	  
		   <a href="https://www.work.go.kr/consltJobCarpa/jobPsyExamNew/adltOccpOsvDetail.do" target="_blank"><div class="content">
				<span>직업가치관검사(워크넷)</span>
				<p>직업선택 시 중요하게 생각하는 직업가치관을 측정하여 자신의 직업가치를 확인하고 그에 적합한 직업분야를 안내해 줍니다.</p>
		   </div></a>
		   <a href="https://www.career.go.kr/cnet/front/examen/inspctNor.do#" target="_blank"><div class="content">
				<span>직업가치관검사(커리어넷)</span>
				<p>직업과 관련된 다양한 욕구 및 가치들에 대해 상대적으로 무엇을 얼마나 더 중요하게 여기는가를 살펴보고, 그 가치가 충족될 가능성이 높은 직업을 탐색할 수 있도록 도움을 줍니다.</p>
		   </div></a>
	  	</div>
		  
		<div class="etc_content">	  
		   <a href="https://www.guidance.co.kr/Intgr/freetest/free-screen.html?FCode=04" target="_blank"><div class="content">
				<span>자아탄력성검사</span>
				<p>변화하는 환경이나 스트레스를 포함하는 환경에 잘 적응할 수 있는 능력을 얼마나 가지고 있는지 알아보도록 도와줍니다.</p>
		   </div></a>
		   <a href="https://www.guidance.co.kr/Intgr/freetest/free-screen.html?FCode=05" target="_blank"><div class="content">
				<span>방어기제유형검사</span>
				<p>불안의 위협으로부터 자신을 보호하기 위해 어떤 방어기제를 사용하고 있는지 알아보도록 도와줍니다.</p>
		   </div></a>
		   <a href="https://www.guidance.co.kr/Intgr/freetest/free-screen.html?FCode=16" target="_blank"><div class="content">
				<span>애착유형검사</span>
				<p>생후 6~7개월 경에 형성되기 시작한 애착은 가장 가까운 사람과 연결되게 하는 강한 유대관계로서 자신의 애착 정도가 타인과의 관계 형성에 어떤 영향을 미치는 지 알아보도록 도와줍니다.</p>
		   </div></a>
		   <a href="https://www.guidance.co.kr/Intgr/freetest/free-screen.html?FCode=22" target="_blank"><div class="content">
				<span>대인관계능력검사</span>
				<p>주변 사람들과의 관계를 맺는 능력 정도를 알아보도록 도와줍니다.</p>
		   </div></a>
		   <a href="https://www.guidance.co.kr/Intgr/freetest/free-screen.html?FCode=23" target="_blank"><div class="content">
				<span>대인관계선호도검사</span>
				<p>대인관계에서 온정성과 냉정성을 측정하는 검사로서 대인관계 속에서의 성격을 알아보도록 도와줍니다.</p>
		   </div></a>
		   <a href="https://www.guidance.co.kr/Intgr/freetest/free-screen.html?FCode=27" target="_blank"><div class="content">
				<span>불안증검사</span>
				<p>자신의 불안증 정도를 알아보도록 도와줍니다.</p>
		   </div></a>
		   <a href="https://www.guidance.co.kr/Intgr/freetest/free-screen.html?FCode=28" target="_blank"><div class="content">
				<span>스트레스검사</span>
				<p>자신의 현재 스트레스 정도를 알아보도록 도와줍니다.</p>
		   </div></a>
		   <a href="https://www.guidance.co.kr/Intgr/freetest/free-screen.html?FCode=29" target="_blank"><div class="content">
				<span>스트레스 대처방식 검사</span>
				<p>스트레스를 어떤 방식으로 대처하는지 알려주며 자신의 방법을 이해하도록 도와줍니다.</p>
		   </div></a>
	  	</div>
		
		  
      </div>
	</div>
	{% include "menu/menu.html" %}
  </body>
  <script>
	const buttons = document.querySelectorAll('.select button');
	const changeButtons = (name) => {
	  buttons.forEach((button) => {
		if (button.classList[0] === name) {
	      button.classList.add("checked"); 
		} else {
		  button.classList.remove("checked");
		}
	  });
	};
	  
	const items = document.querySelectorAll('.item');
	const changeItems = (name) => {
	  items.forEach((item) => {
		if (name === 'all' || item.classList[1].split("-")[1] === name) {
		  item.style.display = 'block';
		} else {
		  item.style.display = 'none';
		}
	  });
	};
	  
    buttons.forEach((button) => {
	  button.addEventListener('click', (e) => {
	    changeButtons(button.classList[0]);
		changeItems(button.classList[0]);
	  });
	});
  </script>
</html>