body {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

#container {
    margin: 0;
    padding: 0px;
 }

.navigationbar {
    position: relative;
    background-color: white;
    height: 50px;
    font-size: 14px;
    margin: 0;
    padding: 0px;
  }

.logo{
	position: absolute;
	width: 80px;
	height: 21px;
	left: 5px;
    top: 5px;
}

.nav > li > a {
	height: 20px;
}

.navigationbar .title {
    position: absolute;
    font-size: 1.3em;
    left: 20px;
    top: 10px;
    color: black;
}

.navigationbar .menuimage{
	position: absolute;
	width: 25px;
	height: 25px;
    right: 20px;
    top: 10px;
	cursor: pointer;
}

.navigationbar .nav{
    display: none;
    position: absolute;
    right: 0px;
}

.navigationbar a {
    text-decoration: none;
    color: black;
}

.navigationbar li {
    list-style-type: none;
}

.navigationbar .person{
  width: 20px;
  height: 18px;
} 

.previous-circle {
	position: absolute;
	width: 110px;
	height: 30px;
	background: #ffffff;
	border: 1px solid #FF731D;
	border-radius: 5px;
	left: 30px;
	top: 90px;
	cursor: pointer;
	z-index: 1;
	transition: background-color .4s, color .4s;
}

.previous-circle:hover {
    background-color: #FF731D;
	color: white;
}

.previous-circle a {
	text-decoration: none;
}

.previous{
	position: relative;
	width: 22px;
	height: 22px;
	top: 4px;
	left: 4px;
	cursor: pointer;
	z-index: 1;
	padding: 0px 5px;
}

.previous-circle span {
	font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
	color: #000000;
	transition: color .4s;
}

.previous-circle:hover span {
	color: white;
}


@media ( min-width: 1025px ) {
  #container {
	width: 1024px;
	margin: auto;
  }
	
  .logo{
	top: 2px;
  }
	
  .navigationbar .nav{
	display: flex;
  }
	
  .navigationbar ul li{
    padding: 0px 20px;
    font-family: 'Noto Sans KR';
	font-weight: 400;
	font-size: 16px;
    line-height: 100%;
  }

  .navigationbar .menuimage{
	display: none;
  }

  /*노트북: 메뉴바 드롭다운*/
  .navigationbar nav ul {
    font-size: 0;
    margin: 0;
    padding: 0;
  }
	
  .navigationbar nav ul li {
    display: inline-block;
    position: relative;
  }
	
  .navigationbar nav ul li a {
    color: black;
    display: block;
    font-size: 14px;
    padding: 15px 14px;
  }
	
  .navigationbar nav ul li:hover { 
    font-weight: 700;
  }
	
  .navigationbar .person{
	margin: -2px 0 -2px 0;
  }

  .navigationbar nav ul li ul {
    position: absolute;
    width: 200px;
    right: -10px;
	overflow: hidden;
	height: 0px;
	transition: height 0.3s;
  }

  .navigationbar nav ul li ul li {
    display: block; 
  }

  .navigationbar nav ul li ul li a {
	position: relative;
    background: #FF731D;
    color: white;
    display: block;
    padding: 10px 14px; 
	z-index: 10;
  }
	
  .previous-circle {
	left: calc(50% - 1025px/2 + 30px);
  }
}