<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>
  <body>
	<h1>로그인</h1>
	<form action="/auth/login" method="post">
	  <div>
	    <label for="email">이메일</label>	  
		<input id="email" type="email" name="email" require autofocus>
	  </div>
	  <div>
		<label for="password">비밀번호</label>	  
	    <input id="password" type="password" name="password" require>
	  </div>
	  <button type="submit">로그인</button>
	</form>
	<a href="/auth/kakao">카카오톡으로 로그인</a>
	<a href="/auth/google">구글로 로그인</a>
	<a href="/signup">회원가입</a>
  </body>
</html>