<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>
  <body>
	<h1>Node.js Server</h1>
	{% if user and user.id %}
	  <h2>{{ user.name }} 님, 안녕하세요!</h2>
	  <img src="{% if user.image %}{{ user.image }}{% else %}profilebasic.jpeg{% endif %}">
	  <a href="/auth/logout">로그아웃</a>
	{% else %}
	  <a href="/login">로그인</a>
	  <a href="/signup">회원가입</a>
	{% endif %}
  </body>
</html>