<!-- main, about page들은 별도 지정함 -->
<meta property="og:site_name" content="보담길" />
<meta property="og:title" content="보담길" />
<meta property="og:description"
  content="보다 나은 너를 찾길" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.bodamgil.com" />
<meta property="og:image"
  content="https://bodamgil.com/photo/main/og-image.png" />
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="보담길">
<meta name="twitter:description" content="보다 나은 너를 찾길">
<meta name="twitter:image" content="https://bodamgil.com/photo/main/og-image.png">