<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>진로 게임(원래 - 후에 다시 돌려두기)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	  </style> 
    <link rel="stylesheet" href="/css/myself/game.css">
	{% include "common.html" %}
  </head>

  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}		  
      <div class="select">
        <span>진로게임</span>
        <button class="all checked">전체</button>
        <button class="like">흥미</button>
        <button class="good">능력</button>
        <button class="goal">목표</button>
        <button class="value">가치관</button>
      </div>
      <div class="contentme">
        <div class="flexbox">
		  {% for game in gameList %}
          <div class="item item-{% if game.category === '흥미' %}like{% elif game.category === '능력' %}good{% elif game.category === '목표' %}goal{% elif game.category === '가치관' %}value{% endif %}">
            <a href="/myself/{{ game.name }}"><img src="{{ game.image }}"></a>
            <p class="contentme_type">{{ game.category }}</p>
            <p class="contentme_name">{{ game.title }}</p>
            <p class="contentme_explain">{{ game.introduction }}</p>
          </div>
		  {% endfor %}
          <!--
			<div class="item item-goal">
            <img src="/photo/main/world-image.jpg">
            <p class="contentme_type">목표</p>
            <p class="contentme_name">콘텐츠 이름</p>
            <p class="contentme_explain">콘텐츠 설명에 대해 적어주세요.콘텐츠 설명에 대해 적어주세요.</p>
          </div>
          <div class="item item-value">
            <img src="/photo/main/world-image.jpg">
            <p class="contentme_type">가치관</p>
            <p class="contentme_name">콘텐츠 이름</p>
            <p class="contentme_explain">콘텐츠 설명에 대해 적어주세요.콘텐츠 설명에 대해 적어주세요.</p>
          </div> -->
        </div>
      </div>
	</div>
	{% include "menu/menu.html" %}
  </body>
  <script>
	const buttons = document.querySelectorAll('.select button');
	const changeButtons = (name) => {
	  buttons.forEach((button) => {
		if (button.classList[0] === name) {
	      button.classList.add("checked"); 
		} else {
		  button.classList.remove("checked");
		}
	  });
	};
	  
	const items = document.querySelectorAll('.item');
	const changeItems = (name) => {
	  items.forEach((item) => {
		if (name === 'all' || item.classList[1].split("-")[1] === name) {
		  item.style.display = 'block';
		} else {
		  item.style.display = 'none';
		}
	  });
	};
	  
    buttons.forEach((button) => {
	  button.addEventListener('click', (e) => {
	    changeButtons(button.classList[0]);
		changeItems(button.classList[0]);
	  });
	});
  </script>
</html>