<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>진로 게임</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	  </style> 
    <link rel="stylesheet" href="../../css/myself/game.css">
    <link rel="stylesheet" href="../../css/menu/navigationbar.css">
    <link rel="stylesheet" href="../../css/menu/menu.css">
  </head>

  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}		  
      <div class="select">
        <span>진로게임</span>
        <button class="all checked">전체</button>
        <button class="like">흥미</button>
        <button class="good">능력</button>
        <button class="goal">목표</button>
        <button class="value">가치관</button>
      </div>
      <div class="contentme">
        <div class="flexbox">
          <div class="item item-like">
            <a href="/myself/polaroid"><img src="../../../photo/polaroid/polaroid_main.png"></a>
            <p class="contentme_type">흥미</p>
            <p class="contentme_name">어릴 때의 내가 좋아했던 것은?</p>
            <p class="contentme_explain">꿈이 많고 마냥 즐거웠던 어렸을 때의 꿈, 좋아했던 것, 인상깊었던 경험 등을 떠올려보면서 나라는 사람이 어떤 것을 좋아하는 사람이었는지 생각해보는 시간을 가질 수 있어요.</p>
          </div>
          <div class="item item-good">
            <a href="/myself/paperplane"><img src="../../../photo/paperplane/paperplane_main.png"></a>
            <p class="contentme_type">능력</p>
            <p class="contentme_name">내가 잘하는 것은? 네가 잘하는 것은!</p>
            <p class="contentme_explain">때로는 자신이 잘하는 것을 자신이 발견하기는 어렵기도 하죠. 자신의 주변 사람들에게 물어보면서 자신이 무엇을 잘하는 사람인지 탐구해봐요.</p>
          </div>
          <!--
			<div class="item item-goal">
            <img src="../../photo/main/world-image.jpg">
            <p class="contentme_type">목표</p>
            <p class="contentme_name">콘텐츠 이름</p>
            <p class="contentme_explain">콘텐츠 설명에 대해 적어주세요.콘텐츠 설명에 대해 적어주세요.</p>
          </div>
          <div class="item item-value">
            <img src="../../photo/main/world-image.jpg">
            <p class="contentme_type">가치관</p>
            <p class="contentme_name">콘텐츠 이름</p>
            <p class="contentme_explain">콘텐츠 설명에 대해 적어주세요.콘텐츠 설명에 대해 적어주세요.</p>
          </div> -->
        </div>
      </div>
	</div>
	{% include "menu/menu.html" %}
  </body>
  <script>
	const buttons = document.querySelectorAll('.select button');
	const changeButtons = (name) => {
	  buttons.forEach((button) => {
		if (button.classList[0] === name) {
	      button.classList.add("checked"); 
		} else {
		  button.classList.remove("checked");
		}
	  });
	};
	  
	const items = document.querySelectorAll('.item');
	const changeItems = (name) => {
	  items.forEach((item) => {
		if (name === 'all' || item.classList[1].split("-")[1] === name) {
		  item.style.display = 'block';
		} else {
		  item.style.display = 'none';
		}
	  });
	};
	  
    buttons.forEach((button) => {
	  button.addEventListener('click', (e) => {
	    changeButtons(button.classList[0]);
		changeItems(button.classList[0]);
	  });
	});
  </script>
</html>