/*스티커*/
@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

.header{
	position: relative;
}

.menu{
	position: absolute;
	width: 25px;
	height: 25px;
	left: 319px;
	top: 9.5px;	
}

.main{
	position: absolute;
	width: 360px;
	height: 595px;
	top: 45px;	
	background: #EFEDF7;

}

.sticker{
	position: absolute;
	width: 32px;
	height: 32px;
	left: 164px;
	top: 163px;
	border-radius: 50%;
	background: rgba(197, 187, 227, 0.8);
}

/*폴라로이드 뒤에 하얀색*/
.polaroid{
	position: absolute;
	width: 250px;
	height: 227px;
	left: calc(50% - 250px/2);
	top: 179px;
	background: #FFFFFF;
	box-shadow: 4px 5px 9px -1px rgba(0, 0, 0, 0.25);
}

/*안에 사진*/
.photo{
	position: absolute;
	width: 202px;
	height: 151px;
	left: calc(50% - 202px/2);
	top: 203px;
	background: #D9D9D9;
}

/*사진 안의 글씨*/
.polaroid-content{
    position: absolute;
    width: auto;
    height: 23px;
	left: calc(50% - 190px/2);
    top: 352px;

    font-family: 'InkLipquid';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    text-align: center;
    color: #000000;
}

/*예시 설명 문장1*/
.example-content1{
    position: absolute;
    width: auto;
    left: calc(50% - 260px/2 + 29px);
    top: 50px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 142%;
    text-align: center;
    color: #000000;
}

/*예시 설명 문장2*/
.example-content2{
    position: absolute;
    width: auto;
    left: calc(50% - 260px/2);
    top: 430px;
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 142%;
    text-align: center;
    color: #000000;
}

.arrow1{
    position: absolute;
    width: 36px;
    height: 75px;
    left: 215px;
    top: 148px;
    transform: rotate(10deg);
}

.arrow2{
    position: absolute;
    width: 18px;
    height: 38px;
    left: 140px;
    top: 400px;
    transform: rotate(5deg);
}

.exit{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 20px;
    top:20px;
}
