@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

html {
	height: 100%;
}

.previous-circle {
	border: 1px solid #5F2987!important;
}

.previous-circle:hover {
    background-color: #5F2987!important;
}

.trash-circle {
	position: absolute;
	width: 30px;
	height: 30px;
	background: #ffffff;
	border: 1px solid #5F2987;
	border-radius: 50%;
	right: 30px;
	top: 90px;
	cursor: pointer;
	z-index: 1;
	transition: background-color .4s, color .4s;
}

.trash-circle:hover {
    background-color: #5F2987;
	color: white;
}

.trash{
	position: relative;
	width: 22px;
	height: 22px;
	top: 4px;
	left: 4.3px;
	cursor: pointer;
	z-index: 1;
}

.menu{
	position: absolute;
	width: 25px;
	height: 25px;
	left: 319px;
	top: 9.5px;	
	cursor: pointer;
}

.main{
	position: relative;
	width: 100%;
}

@media ( min-width: 1025px ) {
	.main {
		width: 1025px;
	}
	.trash-circle {
		right: calc(50% - 1025px/2 + 30px);
	}
}

.main.polaroid-red {
	background: #FFF3F3;
}

.main.polaroid-yellow {
	background: #FDF9E9;
}

.main.polaroid-green {
	background: #EEF8E4;
}

.main.polaroid-blue {
	background: #EBFAFF;
}

.main.polaroid-purple {
	background: #EFEDF7;
}

/*스티커*/
.sticker{
	position: absolute;
	width: 32px;
	height: 32px;
	left: 164px;
	top: 65px;
	border-radius: 50%;
}

.sticker.polaroid-red {
	background: rgba(255, 189, 189, 0.8);
}

.sticker.polaroid-yellow {
	background: rgba(246, 227, 146, 0.8);
}

.sticker.polaroid-green {
	background: rgba(171, 220, 122, 0.8);
}

.sticker.polaroid-blue {
	background: rgba(151, 228, 255, 0.8);
}

.sticker.polaroid-purple {
	background: rgba(197, 187, 227, 0.8);
}

.download-container {
	position: relative;
	width: 360px;
	left: calc(50% - 360px / 2);
	margin: 0;
	background: inherit;
}

.polaroid-download.polaroid-horizontal {
	position: relative;
	height: 408px;
	width: 360px;
	background: inherit;
}

.polaroid-download.polaroid-vertical {
	position: relative;
	height: 515px;
	width: 360px;
	background: inherit;
	left: calc(50% - 360px / 2);
	margin: 0;
}

/*폴라로이드 뒤에 하얀색*/
.polaroid.polaroid-horizontal{
	position: absolute;
	width: 250px;
	height: 227px;
	left: calc(50% - 250px/2);
	top: 81px;
	background: #FFFFFF;
	box-shadow: 4px 5px 9px -1px rgba(0, 0, 0, 0.25);
}

.polaroid.polaroid-vertical {
	position: absolute;
	width: 250px;
	height: 334px;
	left: calc(50% - 250px/2);
	top: 81px;
	background: #FFFFFF;
	box-shadow: 4px 5px 9px -1px rgba(0, 0, 0, 0.25);
}

/*안에 사진*/
.photo.polaroid-horizontal{
	position: absolute;
	width: 202px;
	height: 151px;
	left: calc(50% - 202px/2);
	top: 105px;
	background: #D9D9D9;
	object-fit: cover;
}

.photo.polaroid-vertical{
	position: absolute;
	width: 202px;
	height: 260px;
	left: calc(50% - 202px/2);
	top: 105px;
	background: #D9D9D9;
	object-fit: cover;
}

/*사진 안의 글씨*/
.polaroid-content.polaroid-horizontal{
   position: absolute;
	width: 200px;
	height: 40px;
	left: calc(50% - 200px/2);
	top: 250px;

    font-family: 'InkLipquid';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    
    text-align: center;
    color: #000000;
}

.polaroid-content.polaroid-vertical{
   position: absolute;
	width: 200px;
	height: 40px;
	left: calc(50% - 200px/2);
	top: 357px;

    font-family: 'InkLipquid';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    
    text-align: center;
    color: #000000;
}

.url-copy, .kakao-send {
	border: none;
	padding: 0;
}

/*다시하기 버튼*/
.button1 {
	position: absolute;
	border: 1px solid #5F2987;
	background-color: white;
	border-radius: 10px;
    height: 50px;
    width: 150px;
	list-style: none;
	left: calc(50% - 310px/2);
	top: 515px;
	cursor: pointer;
    transition: background-color .4s, color .4s;
}

.button1:hover{
    background-color: #5F2987;
	color: white;
}

.last-again {  
    position: absolute;
    top: 16px;
    left: 28px;
    display: inline-block;
    width: 18px;
    height: 18px;
    text-indent: -1000px;
    overflow: hidden;
}

.last-again-content {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    line-height: 50px;
    font-size: 14px;
    padding: 0 0 0 40px;
    text-align: center;
}

/*링크 공유 버튼*/
.button2 {
	position: absolute;
	border: 1px solid #5F2987;
	background-color: white;
	border-radius: 10px;
    height: 50px;
    width: 150px;
	list-style: none;
	left: calc(50% - 310px/2 + 160px);
	top: 515px;
	cursor: pointer;
    transition: background-color .4s, color .4s;
}

.button2:hover{
    background-color: #5F2987;
	color: white;
}
.last-link {  
    position: absolute;
    top: 15px;
    left: 22px;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-indent: -1000px;
    overflow: hidden;
    }
 
.last-link-content {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 14px;
    line-height: 47px;
    padding: 0 0 0 40px;
	text-align: center;
}

/*홈으로 가기 버튼*/
.button3 {
	position: absolute;
	border: 1px solid #5F2987;
	background-color: white;
	border-radius: 10px;
    height: 50px;
    width: 150px;
	list-style: none;
	left: calc(50% - 310px/2);
	top: 575px;
	cursor: pointer;
    transition: background-color .4s, color .4s;
}

.button3:hover{
    background-color: #5F2987;
	color: white;
}

.last-home {  
    position: absolute;
    top: 16px;
    left: 28px;
    display: inline-block;
    width: 18px;
    height: 18px;
    text-indent: -1000px;
    overflow: hidden;
}

.last-home-content {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    line-height: 50px;
    font-size: 14px;
    padding: 0 0 0 40px;
    text-align: center;
}

/*이미지로 저장 버튼*/
.image-download {
	position: absolute;
	border: 1px solid #5F2987;
	background-color: white;
	border-radius: 10px;
    height: 50px;
    width: 150px;
	list-style: none;
	left: calc(50% - 310px/2 + 160px);
	top: 575px;
	cursor: pointer;
    transition: background-color .4s, color .4s;
}

.image-download:hover{
    background-color: #5F2987;
	color: white;
}
.last-image {  
    position: absolute;
    top: 15px;
    left: 22px;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-indent: -1000px;
    overflow: hidden;
    }
 
.last-image-content {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 14px;
    line-height: 47px;
    padding: 0 0 0 40px;
	text-align: center;
}

/*링크복사하기 누르면 나오는 선택사항*/
.link-select-box {
	display: none;
}

.link-select { 
	position: absolute;
	background: #FFFFFF; 
	width: 100px; 
	height: 50px;
	border-radius: 10px;
	border: 1px solid #BFBFBF;
	padding:15px;
	top: 410px;
	right: calc(50% - 360px/2 + 30px);
}
.link-select:after { /*말풍선 꼭지*/
	top: 80px; /*말풍선꼭지위치 위아래*/
	transform: rotate(-180deg);
	border: 1px solid #BFBFBF;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent transparent #BFBFBF transparent; /*말풍선 꼭지방향*/
	border-width: 10px; /*말풍선 꼭지 사이즈*/
	margin-left: 70px; /*말풍선 상세위치 조정*/
}

.kakaotalk{
    position: absolute;
    width: 32px;
    height: 32px;
	right: calc(50% - 360px/2 + 110px);
    top: 425px;
    cursor: pointer;
}

.kakaotalkcontent{
    position: absolute;
	right: calc(50% - 360px/2 + 107.5px);
    top: 465px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    text-align: center;
    color: #000000;
}

.link{
    position: absolute;
    width: 30px;
    height: 30px;
	right: calc(50% - 360px/2 + 50px);
    top: 425px;
    cursor: pointer;
}

.linkcontent{
    position: absolute;
	right: calc(50% - 360px/2 + 45px);
    top: 465px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    text-align: center;
    color: #000000;
}

/*이미지 삭제 => 휴지통 버튼 누르면 뜨도록*/
.black{
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0px;
	background: rgba(0, 0, 0, 0.3);
	z-index: 2;
}

.alert{
	position: absolute;
	width: 290px;
	height: 190px;
	left: calc(50% - 290px/2);
	top: 200px;
	background: #FFFFFF;
	border-radius: 10px;	
	z-index: 3;
}

.line1{
	position: absolute;
	width: 288px;
	left: calc(50% - 290px/2);
	top: 337px;
	border: 0.1px solid #BFBFBF;
	z-index: 3;
}

.line2{
	position: absolute;
	width: 50px;
	left: calc(50% - 290px/2 + 122px);
	top: 363px;
	border: 0.1px solid #BFBFBF;
	transform: rotate(90deg);
	z-index: 3;
}

.delete p{
	position: absolute;
	width: auto;
	left: calc(50% - 290px/2 + (290px - 192.83px)/2);
	top: 220px;

	font-family: 'Noto Sans KR';
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	color: #000000;
	z-index: 3;
}

.no{
	position: absolute;
	width: 34px;
	height: 26px;
	left: calc(50% - 290px/2 + 60px);
	top: 350px;

	font-family: 'Noto Sans KR';
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	color: #000000;
	cursor: pointer;
	z-index: 3;
}

.yes{
	position: absolute;
	width: 34px;
	height: 26px;
	left: calc(50% - 290px/2 + 205px);
	top: 350px;

	font-family: 'Noto Sans KR';
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	color: #FF0000;
	cursor: pointer;
	z-index: 3;
}