@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

.header{
	position: relative;
}

.previous{
	width: 13px;
	height: 10px;
	position: absolute;
	left: 16px;
	top: 17.5px;
}

.home{
	position: absolute;
	left: 38px;
	top: 17.5px;

	font-family: 'Noto Sans KR';
	font-weight: 400;
	font-size: 14px;
	line-height: 10px;
	text-align: center;

	color: #000000;
}

.trash{
	position: absolute;
	width: 22px;
	height: 22px;
	left: 274px;
	top: 11.5px;
	cursor: pointer;
}

.menu{
	position: absolute;
	width: 25px;
	height: 25px;
	left: 319px;
	top: 9.5px;	
	cursor: pointer;
}

.main{
	position: absolute;
	width: 360px;
	height: 595px;
	top: 45px;	
	/*background: #EFEDF7;*/
}

/*스티커*/
.sticker{
	position: absolute;
	width: 32px;
	height: 32px;
	left: 164px;
	top: 60px;
	border-radius: 50%;
	/*background: rgba(197, 187, 227, 0.8);*/
}

.polaroid-download {
	position: relative;
	height: 400px;
	background: inherit;
}

/*폴라로이드 뒤에 하얀색*/
.polaroid{
	position: absolute;
	width: 250px;
	height: 227px;
	left: calc(50% - 250px/2);
	top: 76px;
	background: #FFFFFF;
	box-shadow: 4px 5px 9px -1px rgba(0, 0, 0, 0.25);
}

/*안에 사진*/
.photo{
	position: absolute;
	width: 202px;
	height: 151px;
	left: calc(50% - 202px/2);
	top: 100px;
	background: #D9D9D9;
	object-fit: cover;
}

/*사진 안의 글씨*/
.polaroid-content{
   position: absolute;
	width: 200px;
	height: 40px;
	left: calc(50% - 200px/2);
	top: 240px;
    /*세로일 때) top: 348px;  */

    font-family: 'InkLipquid';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    
    text-align: center;
    color: #000000;
}

.url-copy, .image-download {
	border: none;
	background-color: transparent;
	padding: 0;
}

/*다시하기 버튼*/
.button1 {
	position: absolute;
	border: 1px solid #5F2987;
	background-color: white;
	border-radius: 10px;
    height: 50px;
    width: 150px;
	list-style: none;
	left: 25px;
	bottom: 90px;
	cursor: pointer;
    transition: background-color .4s, color .4s;
}

.button1:hover{
    background-color: #5F2987;
	color: white;
}

.last-again {  
    position: absolute;
    top: 16px;
    left: 28px;
    display: inline-block;
    width: 18px;
    height: 18px;
    text-indent: -1000px;
    overflow: hidden;
    }

.last-again-content {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    line-height: 50px;
    font-size: 14px;
    padding: 0 0 0 40px;
    text-align: center;
}

/*링크 공유 버튼*/
.button2 {
	position: absolute;
	border: 1px solid #5F2987;
	background-color: white;
	border-radius: 10px;
    height: 50px;
    width: 150px;
	list-style: none;
	right: 25px;
	bottom: 90px;
	cursor: pointer;
    transition: background-color .4s, color .4s;
}

.button2:hover{
    background-color: #5F2987;
	color: white;
}
.last-link {  
    position: absolute;
    top: 15px;
    left: 22px;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-indent: -1000px;
    overflow: hidden;
    }
 
.last-link-content {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 14px;
    line-height: 47px;
    padding: 0 0 0 40px;
	text-align: center;
}

/*홈으로 가기 버튼*/
.button3 {
	position: absolute;
	border: 1px solid #5F2987;
	background-color: white;
	border-radius: 10px;
    height: 50px;
    width: 150px;
	list-style: none;
	left: 25px;
	bottom: 30px;
	cursor: pointer;
    transition: background-color .4s, color .4s;
}

.button3:hover{
    background-color: #5F2987;
	color: white;
}

.last-home {  
    position: absolute;
    top: 16px;
    left: 28px;
    display: inline-block;
    width: 18px;
    height: 18px;
    text-indent: -1000px;
    overflow: hidden;
    }

.last-home-content {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    line-height: 50px;
    font-size: 14px;
    padding: 0 0 0 40px;
    text-align: center;
}

/*이미지로 저장 버튼*/
.image-download {
	position: absolute;
	border: 1px solid #5F2987;
	background-color: white;
	border-radius: 10px;
    height: 50px;
    width: 150px;
	list-style: none;
	right: 25px;
	bottom: 30px;
	cursor: pointer;
    transition: background-color .4s, color .4s;
}

.image-download:hover{
    background-color: #5F2987;
	color: white;
}
.last-image {  
    position: absolute;
    top: 15px;
    left: 22px;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-indent: -1000px;
    overflow: hidden;
    }
 
.last-image-content {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 14px;
    line-height: 47px;
    padding: 0 0 0 40px;
	text-align: center;
}

/*링크복사하기 누르면 나오는 선택사항*/
.link-select { 
	position: absolute;
	background: #FFFFFF; 
	width: 155px; 
	height: 50px;
	border-radius: 10px;
	border: 1px solid #BFBFBF;
	padding:15px;
	top: 358px;
	right: 22px;
	
}
.link-select:after { /*말풍선 꼭지*/
	top: 80px; /*말풍선꼭지위치 위아래*/
	transform: rotate(-180deg);
	border: 1px solid #BFBFBF;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent transparent #BFBFBF transparent; /*말풍선 꼭지방향*/
	border-width: 12px; /*말풍선 꼭지 사이즈*/
	margin-left: 100px; /*말풍선 상세위치 조정*/
}

.kakaotalk{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 174px;
    top: 375px;
	cursor: pointer;
}

.kakaotalkcontent{
    position: absolute;
    left: 174px;
    top: 413px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    text-align: center;
    color: #000000;
}

.instagram{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 231px;
    top: 374px;
    cursor: pointer;
}

.instagramcontent{
    position: absolute;
    left: 226px;
    top: 412px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    text-align: center;
    color: #000000;
}

.link{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 287px;
    top: 375px;
    cursor: pointer;
}

.linkcontent{
    position: absolute;
    left: 284px;
    top: 412px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    text-align: center;
    color: #000000;
}