/* 전체화면 */
.header{
	position: relative;
}

.menu{
	position: absolute;
	width: 25px;
	height: 25px;
	left: 319px;
	top: 9.5px;	
}

/* 당신은 어릴 때 무엇을 좋아했나요? */
.main h1{
position: absolute;
left: calc(50% - 286px/2);
top: 45px;
margin: 0;

font-family: 'Noto Sans KR';
font-weight: 700;
font-size: 20px;
text-align: center;
line-height: 100%;
color: #000000;
}

/* 어렸을 때의 꿈이나 즐겼던 활동 사진을 넣고 이에 대해 설명해주세요. 어렸을 때의 사진이나 기억 나는 장소 등에 대해 적어도 좋아요. */
.main p{
position: absolute;
width: 305px;
height: 69px;
left: calc(50% - 305px/2 + 0.5px);
top: 80px;
margin: 0;

font-family: 'Noto Sans KR', sans-serif;
font-weight: 300;
font-size: 14px;
text-align: center;
color: #000000;
}

/*세 개 버튼*/
li {
	position: relative;
	border: 1px solid #BFBFBF;
	border-radius: 30px;
    margin: 140px 4px 0 0;
    height: 40px;
    line-height: 40px;
    width: 90px;
	list-style: none;
	float: left;
	left: auto;
	cursor: pointer;
    transition: all .4s;
}

li:hover{
    background-color: #5F2987;
	color: white;
}
 
.main img {  
    position: absolute;
    top:12.5px;
    left: 22px;
    display: inline-block;
    width: 16px;
    height: 16px;
    text-indent: -1000px;
    overflow: hidden;
    }
 
span {
    padding: 0 0 0 46px;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

/*스티커*/
.sticker{
	position: absolute;
	width: 32px;
	height: 32px;
	left: 164px;
	top: 262px;
	border-radius: 50%;
	background: rgba(197, 187, 227, 0.8);
}

/*폴라로이드 뒤에 하얀색*/
.polaroid{
	position: absolute;
	width: 250px;
	height: 227px;
	left: calc(50% - 250px/2);
	top: 278px;
	background: #FFFFFF;
	box-shadow: 4px 5px 9px -1px rgba(0, 0, 0, 0.25);
}

/*안에 사진*/
.photo{
	position: absolute;
	width: 202px;
	height: 151px;
	left: calc(50% - 202px/2);
	top: 302px;
	background: #D9D9D9;
}

#inner-content{
	position: absolute;
	width: 200px;
	height: 40px;
	left: calc(50% - 200px/2);
	top: 450px;
	font-size: 12px;
}

#content{
	position: absolute;
	width: 250px;
	height: 40px;
	left: calc(50% - 250px/2);
	top: 525px;
	background: #FFFFFF;
	border: 0.8px solid #BFBFBF;

}

/*다음 버튼*/
.next{
	border: 1px solid #5F2987;
	border-radius: 30px;

	position: absolute;
	width: 100px;
	height: 32px;
	right: 16px;
	top: 590px;
	

	font-family: 'Noto Sans KR';
	font-weight: 300;
	font-size: 14px;
	background-color: white;
	text-align: center;
	line-height: 20px;
	color: #5F2987;
	
	cursor: pointer;
    transition: all .4s;
}

.next:hover{
    background-color: #5F2987;
	color: white;
}

/*색깔 누르면 나오는 말풍선*/
.color-select { /*말풍선 박스*/
	position: absolute;
	background: #FFFFFF; 
	width: 220px; 
	height: 20px;
	border-radius: 30px;
	border: 1px solid #BFBFBF;
	padding:15px;
	top: 128px;
	left: 21px;
	
}
.color-select:after { /*말풍선 꼭지*/
	top: 50px; /*말풍선꼭지위치 위아래*/
	left: 10%; /*말풍선위치 좌우*/
	transform: rotate(-180deg);
	border: 1px solid #BFBFBF;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent transparent #BFBFBF transparent; /*말풍선 꼭지방향*/
	border-width: 12px; /*말풍선 꼭지 사이즈*/
	margin-left: 10px; /*말풍선 상세위치 조정*/
}

.select-red{
	position: absolute;
	width: 32px;
	height: 32px;
	left: 43px;
	top: 138px;
	border-radius: 50px;
	background: #FFBDBD;
	cursor: pointer;
}

.select-yellow{
	position: absolute;
	width: 32px;
	height: 32px;
	left: 86px;
	top: 138px;
	border-radius: 50px;
	background: #F6E392;
	cursor: pointer;
}

.select-green{
	position: absolute;
	width: 32px;
	height: 32px;
	left: 129px;
	top: 138px;
	border-radius: 50px;
	background: #ABDC7A;
	cursor: pointer;
}

.select-blue{
	position: absolute;
	width: 32px;
	height: 32px;
	left: 172px;
	top: 138px;
	border-radius: 50px;
	background: #97E4FF;
	cursor: pointer;
}

.select-purple{
	position: absolute;
	width: 32px;
	height: 32px;
	left: 215px;
	top: 138px;
	border-radius: 50px;
	background: #C5BBE3;
	cursor: pointer;
}

.size-select { /*말풍선 박스*/
	position: absolute;
	background: #FFFFFF; 
	width: 150px; 
	height: 20px;
	border-radius: 30px;
	border: 1px solid #BFBFBF;
	padding:15px;
	top: 128px;
	left: 90px;
	
}
.size-select:after { /*말풍선 꼭지*/
	top: 50px; /*말풍선꼭지위치 위아래*/
	left: 10%; /*말풍선위치 좌우*/
	transform: rotate(-180deg);
	border: 1px solid #BFBFBF;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent transparent #BFBFBF transparent; /*말풍선 꼭지방향*/
	border-width: 12px; /*말풍선 꼭지 사이즈*/
	margin-left: 62px; /*말풍선 상세위치 조정*/
}

.select-horizontal{
	position: absolute;
	left: 125px;
	top: 145px;

	font-family: 'Noto Sans KR';
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	display: block;
	color: #000000;
	cursor: pointer;
}

.select-vertical{
	position: absolute;
	left: 200px;
	top: 145px;

	font-family: 'Noto Sans KR';
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	display: block;
	color: #000000;
	cursor: pointer;
}

.main{
	position: absolute;
	width: 360px;
	height: 595px;
	top: 45px;	
	background: #EFEDF7;

}