<div class="menu-back">
</div>
<div class="menu-container">
<div class="header {% if user %}header-login{% endif %}">
	<a href="/"><img src="/photo/main/home.png" class="home"></a>
	<button class="exit-btn"><img src="/photo/main/exit.png" class="exit"></button>
	{% if user %}
		<img src="{% if user.image %}{{ user.image }}{% else %}/photo/main/profile.png{% endif %}" class="profile">
		<span class="name">{{ user.name }}</span>
		<a href="/myprofile" class="mypage">마이페이지</a>
		<p class="intro">{{ user.introduction }}</p>
	{% endif %}
</div> 
<nav>
	<ul class="nav">
	  <li class="menu-1"><a href="/about">소개</a></li>
	  <li class="menu-2"><a href="/myself">나 알아보기</a>
	  <img src="/photo/main/right.png" class="right1 menu-close">
		<ul>
		  <li class="submenu"><a href="/myself/game">진로게임</a></li>
		  <li class="submenu"><a href="/myprofile">마이페이지</a></li>
		</ul>
	  </li>
	  <li class="menu-3"><a href="/world">세상 알아보기</a>
	  <img src="/photo/main/right.png" class="right2 menu-close">
		<ul>
		  <li class="submenu"><a href="#">직무 알아보기</a></li>
		  <li class="submenu"><a href="#">직업 탐구하기</a></li>
		  <li class="submenu"><a href="#">진로 검사 실시하기</a></li>
		  <li class="submenu"><a href="#">도움이 되는 사이트</a></li>
		</ul>
	  </li>
	  <li class="menu-4"><a href="#">이용안내</a>
	  <img src="/photo/main/right.png" class="right3 menu-close">
		<ul>
		  <li class="submenu"><a href="/faq">FAQ</a></li>
		  <li class="submenu"><a href="/notice">공지사항</a></li>
		</ul>
	  </li>
	  {% if user %}
		<li class="menu-5"><a href="/setprofile">회원정보수정</a></li>
	  {% endif %}
	</ul>
  </nav>
  <div class="button">
	{% if user %}
	  <div> <a href="/auth/logout" class="logout menu-button" style="top: 510px">로그아웃</a></div>
	{% else %}
	  <a href="/login" class="login menu-button" style="top: 334px">로그인</a>
	  <a href="/signup" class="signup menu-button" style="top: 394px">회원가입</a>
	{% endif %}
  </div>
</div>
<script>
  const menuBlock = document.querySelector('.menu-container');
  menuBlock.style.height = `${document.documentElement.scrollHeight}px`;
  const menuBack = document.querySelector('.menu-back');
  menuBack.style.height = `${document.documentElement.scrollHeight}px`;

  document.querySelector('.menu-btn').addEventListener('click', () => {
    menuBack.style.display = 'block';
    menuBlock.style.display = 'block';
  });

  document.querySelector('.menu-container .exit-btn').addEventListener('click', () => {
    menuBack.style.display = 'none';
    menuBlock.style.display = 'none';
  });

  const menu2Arrow = document.querySelector('.right1');
  const menu3Arrow = document.querySelector('.right2');
  const menu4Arrow = document.querySelector('.right3');
  const menuButtons = document.querySelectorAll('.menu-button');

  document.querySelector('.menu-2').addEventListener('click', () => {
    if (menu2Arrow.classList[1] === 'menu-close') {
      document.querySelectorAll('.menu-2 li.submenu').forEach((submenu) => {
	    submenu.style.display = 'block';
      });
      menuButtons.forEach((button) => {
	    button.style.top = `${Number(button.style.top.slice(0, -2)) + 69}px`;
      });
      menu2Arrow.classList.remove('menu-close');
      menu2Arrow.classList.add('menu-open');
    } else {
      document.querySelectorAll('.menu-2 li.submenu').forEach((submenu) => {
	    submenu.style.display = 'none';
      });
      menuButtons.forEach((button) => {
	    button.style.top = `${Number(button.style.top.slice(0, -2)) - 69}px`;
      });
      menu2Arrow.classList.remove('menu-open');
      menu2Arrow.classList.add('menu-close');
    }
  });

  document.querySelector('.menu-3').addEventListener('click', () => {
    if (menu3Arrow.classList[1] === 'menu-close') {
      document.querySelectorAll('.menu-3 li.submenu').forEach((submenu) => {
	    submenu.style.display = 'block';
      });
      menuButtons.forEach((button) => {
	    button.style.top = `${Number(button.style.top.slice(0, -2)) + 137}px`;
      });
      menu3Arrow.classList.remove('menu-close');
      menu3Arrow.classList.add('menu-open');
    } else {
      document.querySelectorAll('.menu-3 li.submenu').forEach((submenu) => {
	    submenu.style.display = 'none';
      });
      menuButtons.forEach((button) => {
	    button.style.top = `${Number(button.style.top.slice(0, -2)) - 137}px`;
      });
      menu3Arrow.classList.remove('menu-open');
      menu3Arrow.classList.add('menu-close');
    }
  });
	
  document.querySelector('.menu-4').addEventListener('click', () => {
    if (menu4Arrow.classList[1] === 'menu-close') {
      document.querySelectorAll('.menu-4 li.submenu').forEach((submenu) => {
	    submenu.style.display = 'block';
      });
      menuButtons.forEach((button) => {
	    button.style.top = `${Number(button.style.top.slice(0, -2)) + 69}px`;
      });
      menu4Arrow.classList.remove('menu-close');
      menu4Arrow.classList.add('menu-open');
    } else {
      document.querySelectorAll('.menu-4 li.submenu').forEach((submenu) => {
	    submenu.style.display = 'none';
      });
      menuButtons.forEach((button) => {
	    button.style.top = `${Number(button.style.top.slice(0, -2)) - 69}px`;
      });
      menu4Arrow.classList.remove('menu-open');
      menu4Arrow.classList.add('menu-close');
    }
  });

window.addEventListener('resize', (e) => {
menuBack.style.height = `${document.documentElement.scrollHeight}px`;
menuBlock.style.height = `${document.documentElement.scrollHeight}px`;
if (window.innerWidth >= 1025) {
  menuBack.style.display = 'none';
  menuBlock.style.display = 'none';
}
});

</script>