<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>소개</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
    </style> 
    <link rel="stylesheet" href="/css/main/about.css">
    <link rel="stylesheet" href="/css/menu/navigationbar.css">
    <link rel="stylesheet" href="/css/menu/menu.css">
  </head>
  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}
      <div class="content1">
        <div class="white"></div>
		<div class="background"></div>
        <span class="about">About us</span>
        <p class="aboutexplain1">우리 모두 어릴 적에는 하고 싶은 것이 많았습니다. 
			그런데 세상에 나와서 하루하루를 살아가면서 어느새 그 꿈은 기억도 나지 않습니다. 
			또한, 매일 매일 바쁘게 살아가다면서 자신이 무엇을 원하고, 어떤 것을 좋아하는지에 대한 생각을 하기조차 어렵습니다. </p>
        <p class="aboutexplain2">이런 정신없는 현실 속에서 우리는 자신의 꿈과 취향에 대해 잃어버리곤 합니다.</p>
        <img src="/photo/main/about1-2.jpg" class="aboutphoto">
      </div>
		
	  <div class="content2">
        <div class="white"></div>
		<div class="background"></div>
		  <p class="aboutexplain1">하지만, 이제 우리는 잠시 멈춰서 생각해 볼 시간이 필요합니다. </p>
		  <p class="aboutexplain2">자신이 누구인지, 어디로 가고 있는지에 대한 고민을 해 보았나요? </p>
    	  <p class="aboutexplain3">그것이 바로 우리가 진정으로 원하는 것을 찾아나가는 첫 걸음입니다. 
			그리고 그 첫걸음을 걸어나가기 위해, 우리는 진지하게 자신을 탐구하고, 이해하려는 노력을 필요로 합니다.</p>
        <img src="/photo/main/about2-2.jpg" class="aboutphoto">
      </div>
		
	  <div class="content3">
        <div class="white"></div>
		<div class="background"></div>
        <p class="aboutexplain1">이런 생각에서 '보담길'이 탄생하게 되었습니다. 
			우리는 각자 자신이 무엇을 좋아하고, 어떤 것을 원하는지에 대해 깊이 생각하고, 그에 따라 자신의 진로를 탐색하고 결정할 수 있도록 도와주고자 합니다. 
			'보담길'이라는 이름은 바로 누구보다 나은 삶을 살기를 바라는 우리의 바람을 담고 있습니다. </p>
        <p class="aboutexplain2">우리와 함께, 그 보담길을 걸어가보시겠습니까?</p>
        <img src="/photo/main/about3.jpg" class="aboutphoto">
      </div>
     
     <div class="footer">
        <p><img src="/photo/main/weblogo.png" class="logo"></p>
        <a href="https://instagram.com/bodamgil?igshid=MzMyNGUyNmU2YQ=="><img src="/photo/main/instagram_black.png" class="instagram"></a>
        <a href="https://m.blog.naver.com/bodamgil"><img src="/photo/main/blog_black.png" class="blog"></a>
        <a href="https://www.youtube.com/@bodamgil"><img src="/photo/main/youtube_black.png" class="youtube"></a>
        <a href="/about" class="aboutus">브랜드 소개</a>
        <div class="line1"></div>
        <a href="/notice" class="notice">공지사항</a>
        <div class="line2"></div>
        <a href="/faq" class="FAQ">FAQ</a>
        <p class="write">만든이: 박찬영, 김민아</p>
        <p class="contact">Contact: 010-1111-1111</p>
      </div>

     
	</div>
	{% include "menu/menu.html" %}
  </body>
</html>