<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>소개</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
    </style> 
    <link rel="stylesheet" href="../../css/main/about.css">
    <link rel="stylesheet" href="../../css/menu/navigationbar.css">
    <link rel="stylesheet" href="../../css/menu/menu.css">
  </head>
  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}
      <div class="content">
        <div class="white"></div>
		<div class="background"></div>
        <span class="about">About us</span>
        <p class="aboutexplain1">우리에 대한 설명111111111</p>
        <p class="aboutexplain2">우리에 대한 설명222222222</p>
        <img src="../../photo/main/world-image.jpg" class="aboutphoto">
      </div>
      <div class="content1">
        <span class="title">우리의 특징, 추구성1</span>
        <div class="line"></div>
        <img src="../../photo/main/world-image.jpg" class="photo">
        <p class="explain">특징 및 추구성 설명 특징 및 추구성 설명 특징 및 추구성 설명</p>
      </div>
      <div class="content2">
        <span class="title">우리의 특징, 추구성2</span>
        <div class="line"></div>
        <img src="../../photo/main/world-image.jpg" class="photo">
        <p class="explain">특징 및 추구성 설명 특징 및 추구성 설명 특징 및 추구성 설명</p>
      </div>
      <div class="content3">
        <span class="title">우리의 특징, 추구성3</span>
        <div class="line"></div>
        <img src="../../photo/main/world-image.jpg" class="photo">
        <p class="explain">특징 및 추구성 설명 특징 및 추구성 설명 특징 및 추구성 설명</p>
      </div>
	</div>
	{% include "menu/menu.html" %}
  </body>
</html>