<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>비밀번호 변경</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  	  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style> 
    <link rel="stylesheet" href="../../css/main/changepassword.css">
	<link rel="stylesheet" href="../../css/menu/navigationbar.css">
    <link rel="stylesheet" href="../../css/menu/menu.css">
  </head>

  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}		  
      <!--<img src="../../photo/main/exit.png" class="exit">-->
      <span class="passwordchange">비밀번호 변경</span>
      <p class="passwordchange_context">고객님께서는 오랜 기간 동일한 비밀번호를 사용하고 계십니다. <br>
      동일한 비밀번호를 장기간 사용할 경우 <br>
      개인정보 도용 및 유출 등의 위험이 있습니다. <br>
      소중한 개인정보 보호를 위해 비밀번호를 변경해주세요.</p>
	  <form>
        <div>
          <input id="currentpassword" type="password" name="currentpassword" require minlength="8" maxlength="20" placeholder="현재 비밀번호">
        </div>
        <div>
          <input id="newpassword" type="password" name="newpassword" require minlength="8" maxlength="20" placeholder="새 비밀번호">
        </div>
        <div>
          <input id="newpasswordcheck" type="password" name="newpasswordcheck" require minlength="8" maxlength="20" placeholder="새 비밀번호 확인">
        </div>
        <button type="submit" class="change">변경하기</button>
        <button type="submit" class="nochange">90일 후에 변경</button>
	  </form>	  
	</div>
	{% include "menu/menu.html" %}
  </body>
</html>
	  