<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>비밀번호 변경</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  	  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style> 
    <link rel="stylesheet" href="/css/main/changepassword.css">
	{% include "common.html" %}
  </head>

  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}
	  <div class="previous-circle">
		<a href="/myprofile">
		  <img src="/photo/main/previous.png" class="previous">
		  <span>마이페이지</span>
		</a>
	  </div>    
      <!--<img src="/photo/main/exit.png" class="exit">-->
      <span class="passwordchange">비밀번호 변경</span>
	  <!--
      <p class="passwordchange_context">고객님께서는 오랜 기간 동일한 비밀번호를 사용하고 계십니다. <br>
      동일한 비밀번호를 장기간 사용할 경우 <br>
      개인정보 도용 및 유출 등의 위험이 있습니다. <br>
      소중한 개인정보 보호를 위해 비밀번호를 변경해주세요.</p>
	  -->
	  <form action="/auth/changepassword" method="post" id="changeForm">
        <div class="field">
		  <span class="passwordcontext">현재 비밀번호</span>
          <input id="currentpassword" type="password" name="currentpassword" require minlength="8" maxlength="20" placeholder="현재 비밀번호를 입력해주세요">
        </div>
        <div class="field">
		  <span class="passwordcontext">새 비밀번호</span>
          <input id="password" type="password" name="password" require minlength="8" maxlength="20" placeholder="새 비밀번호를 입력해주세요 (영문, 숫자, 특수문자 포함 8~20자)">
		  <p>※ 영문, 숫자, 특수문자 포함 8자 이상 입력해주세요.</p>
        </div>
        <div class="field">
		  <span class="passwordcontext">새 비밀번호 확인</span>
          <input id="confirm" type="password" name="confirm" require minlength="8" maxlength="20" placeholder="새 비밀번호를 한 번 더 입력해주세요">
		  <p>※ 비밀번호를 다시 확인해주세요.</p>
        </div>
        <button type="submit" class="change">변경하기</button>
        <!--<button type="submit" class="nochange">90일 후에 변경</button>-->
	  </form>	  
	</div>
	{% include "menu/menu.html" %}
  </body>
<script defer>
  exports = {};
</script>
<script defer src="/js/uservalidation.js"></script>
<script defer src="/js/userinputvalidation.js"></script>
<script>
	window.onload = () => {
	let message = (new URLSearchParams(location.search)).get('message');
    
	if (message) {
	  switch (message) {
		case 'passwordError':
		  alert('잘못된 비밀번호 형식입니다!');
		  break;
		case 'passwordConfirmError':
		  alert('비밀번호를 다시 확인해주세요!');
		  break;
		case 'currentPasswordError':
		  alert('기존 비밀번호가 일치하지 않습니다!');
		  break;
		case 'signupSuccess':
		  alert('회원 가입이 완료되었습니다. 보담길에 오신 것을 환영합니다.');
		  break;
	  }
	}
  };  
	
</script>
</html>

<!--
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	  </style> 
    <link rel="stylesheet" href="/css/main/changepassword_desktop.css">
  </head>

  <body class="back">
    <div style="display: flex; justify-content: center;">
      <div  class="container">
        
    <div class="header">
      <div class="title"><a href="/">LOGO</a></div>
		  <a href="#"><img src="/photo/main/menu.png" class="menuimage"></a>
	  </div>
		  
   <img src="/photo/main/exit.png" class="exit">
   <div class="line"></div>
   <span class="passwordchange">비밀번호 변경</span>
   <p class="passwordchange_context">고객님께서는 오랜 기간 동일한 비밀번호를 사용하고 계십니다. <br>
    동일한 비밀번호를 장기간 사용할 경우 
    개인정보 도용 및 유출 등의 위험이 있습니다. <br>
    소중한 개인정보 보호를 위해 비밀번호를 변경해주세요.</p>

	  <form>
      <div>
        <input id="currentpassword" type="password" name="currentpassword" require minlength="8" maxlength="20" placeholder="현재 비밀번호">
      </div>
      <div>
        <input id="newpassword" type="password" name="newpassword" require minlength="8" maxlength="20" placeholder="새 비밀번호">
      </div>
      <div>
        <input id="newpasswordcheck" type="password" name="newpasswordcheck" require minlength="8" maxlength="20" placeholder="새 비밀번호 확인">
      </div>

      <button type="submit" class="change">변경하기</button>
      <button type="submit" class="nochange">90일 후에 변경</button>
	  </form>
    
	</div>  
	</div> 	
	</body>
</html>
-->