<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>비밀번호 찾기</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  	  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style> 
    <link rel="stylesheet" href="/css/main/findpassword.css">
	{% include "common.html" %}
  </head>

  <body>
	<div id="container">
	  {% include "menu/navigationbar.html" %}  
	  <div class="previous-circle">
		<a href="/login">
		  <img src="/photo/main/previous.png" class="previous">
		  <span>로그인</span>
		</a>
	  </div>    
      <span class="findpassword">비밀번호 찾기</span>
      <p class="findpassword_context">아이디(이메일 주소)를 입력하시면,<br>해당 메일로 비밀번호 재설정 링크가 발송됩니다.</p>

	  <form action="/auth/findpassword" method="post">
        <div>
          <input id="email" type="email" name="email" require autofocus placeholder="아이디를 입력해주세요">
        </div>
        <button type="submit" class="form-login">비밀번호 찾기</button>
	  </form>
    
      <p class="nosignup">아이디를 모르시나요?</p>
      <a href="/findid" class="findid">아이디 찾기</a>
    </div>
	{% include "menu/menu.html" %}
  </body>
  <script>
	window.onload = () => {
	  let message = (new URLSearchParams(location.search)).get('message');
	  if (message) {
		switch (message) {
  		  case 'noUserError':
			alert('해당 이메일로 가입한 회원이 존재하지 않습니다!');
    		break;
		}
	  }
	}
  </script>
</html>
	  