<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	  </style> 
    <link rel="stylesheet" href="../../css/main/findpassword2.css">
  </head>

  <body>

    <div class="header">
      <div class="title"><a href="/">LOGO</a></div>
		  <a href="#"><img src="../../photo/main/menu.png" class="menuimage"></a>
	  </div>
		  
   <img src="../../photo/main/previous.png" class="previous">
   <span class="findpassword">비밀번호 변경</span>
   <p class="findpassword_context">새로운 비밀번호를 입력해주세요</p>

	  <form>
      <div>
        <input id="password" type="password" name="password" require minlength="8" maxlength="20" placeholder="새 비밀번호를 입력해주세요">
      </div>
      <div>
        <input id="passwordcheck" type="password" name="passwordcheck" require placeholder="새 비밀번호를 한 번 더 입력해주세요">
      </div>
      <button type="submit" class="login">확인</button>
	  </form>
    
  
	
	</body>
</html>
	  