<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	  </style> 
    <link rel="stylesheet" href="../../css/main/findid2.css">
  </head>

  <body>

  <div class="header">
    <div class="title"><a href="/">LOGO</a></div>
		<a href="#"><img src="../../photo/main/menu.png" class="menuimage"></a>
	</div>
		  
  <img src="../../photo/main/previous.png" class="previous">
  <span class="findid">아이디찾기</span>
  <p class="findid_context">가입 시 입력하셨던 휴대폰 번호를 입력해주세요</p>

	<form>
    <p class="inform"> ___________님의 아이디는 <br> _______________ 입니다</p>
    <button type="submit" class="login">로그인</button>
	</form>
    

	
	</body>
</html>
	  