<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	  </style> 
    <link rel="stylesheet" href="../../css/main/findworld.css">
  </head>

  <body>

  <div class="header">
      <div class="title"><a href="/">LOGO</a></div>
		  <a href="#"><img src="../../photo/main/menu.png" class="menuimage"></a>
	</div>
		  
	<div class="content">
      <img src="../../photo/main/world-image.jpg" class="photo">
      <span class="findme">세상 알아보기</span>
	    <p>세상을 다같이 함께 살아가기에
        나를 이해하는 것 뿐만 아니라
        현재 세상이 어떻고 어떤 것들을
        활용할 수 있는 지 아는 것도 중요해요.</p>
      <div class="line"></div>

      <a href="#" class="work">직무 알아보기</a>
      <a href="#" class="job">직업 탐구하기</a>
      <a href="#" class="test">진로 검사 실시하기</a>
      <a href="#" class="site">도움이 되는 사이트</a>
    
	</div>
	
	</body>
</html>
	  