<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>아이디 찾기</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  	  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style> 
    <link rel="stylesheet" href="/css/main/findidsuccess.css">
	<link rel="stylesheet" href="/css/menu/navigationbar.css">
    <link rel="stylesheet" href="/css/menu/menu.css">
  </head>

  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}	  
      <span class="findid">아이디 찾기</span>

	  <div>
        <p class="inform">{{ name }} 님의 아이디는 <br>{{ email }} 입니다.</p>
		  <a href="/login"><button class="login">로그인하러 가기</button></a>
	  </div>
    </div>
	{% include "menu/menu.html" %}
  </body>
</html>