<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	  </style> 
    <link rel="stylesheet" href="../../css/main/game.css">
  </head>

  <body>

    <div class="header">
        <a href="#"><img src="../../photo/main/previous.png" class= "previous"></a>
        <span class="findmecontent">나 알아보기</span>
        <a href="#"><img src="../../photo/main/menu.png" class="menuimage"></a>
    </div>

    <div class="select">
        <span>진로게임</span>
        <button class="all">전체</button>
        <button class="like">흥미</button>
        <button class="good">능력</button>
        <button class="goal">목표</button>
        <button class="value">가치관</button>
    </div>

    <div class="contentme">
        <div class="flexbox">
          <div class="item">
            <img src="../../photo/main/world-image.jpg">
            <p class="contentme_type">흥미</p>
            <p class="contentme_name">콘텐츠 이름</p>
            <p class="contentme_explain">콘텐츠 설명에 대해 적어주세요.콘텐츠 설명에 대해 적어주세요.</p>
          </div>
          <div class="item">
            <img src="../../photo/main/world-image.jpg">
            <p class="contentme_type">흥미</p>
            <p class="contentme_name">콘텐츠 이름</p>
            <p class="contentme_explain">콘텐츠 설명에 대해 적어주세요.콘텐츠 설명에 대해 적어주세요.</p>
          </div>
          <div class="item">
            <img src="../../photo/main/world-image.jpg">
            <p class="contentme_type">흥미</p>
            <p class="contentme_name">콘텐츠 이름</p>
            <p class="contentme_explain">콘텐츠 설명에 대해 적어주세요.콘텐츠 설명에 대해 적어주세요.</p>
          </div>
          <div class="item">
            <img src="../../photo/main/world-image.jpg">
            <p class="contentme_type">흥미</p>
            <p class="contentme_name">콘텐츠 이름</p>
            <p class="contentme_explain">콘텐츠 설명에 대해 적어주세요.콘텐츠 설명에 대해 적어주세요.</p>
          </div>
        </div>
      </div>
   


  </body>
</html>