<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>로그인</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	  </style> 
    <link rel="stylesheet" href="/css/main/login.css">
	{% include "common.html" %}
  </head>
  <body>
	<div id="container">
	  {% include "menu/navigationbar.html" %}
	  <div>

	    <h1 class="logincontent">로그인</h1>
	    <div class="block-1">
		  <div class="email"><img src="/photo/main/email.png" class="email_image">이메일로 로그인</div>
		  <a href="/auth/kakao?redirect=a" class="kakaotalk"><img src="/photo/main/kakaotalk.png" class="kakaotalk_image">카카오톡으로 로그인</a>
		  <a href="/auth/google" class="google"><img src="/photo/main/google.png" class="google_image">구글로 로그인</a>
		  <p class="nosignup">아직 회원이 아니신가요?</p>
		  <a href="/signup" class="signup">회원가입</a>
		  <a href="/findid" class="findid">아이디 찾기</a>
		  <a href="/findpassword" class="findpassword">비밀번호 찾기</a>  
	    </div>
	    <div class="block-2" style="display: none">
		  <form action="/auth/login" method="post">
			<!--<input id="redirect" name="redirect" value="{{ redirectURL }}" style="display: none;" readonly>-->
			<div>
			  <input id="email" type="email" name="email" require autofocus placeholder="이메일 주소" style="padding-left: 10px">
			</div>
			<div>
			  <input id="password" type="password" name="password" require  placeholder="비밀번호" style="padding-left: 10px">
			</div>
			<button type="submit" class="login">로그인</button>
		  </form>
		  <p class="nosignup">아직 회원이 아니신가요?</p>
		  <a href="/signup" class="signup">회원가입</a>
		  <a href="/findid" class="findid">아이디 찾기</a>
		  <a href="/findpassword" class="findpassword">비밀번호 찾기</a>
	    </div>
	  </div>
    </div>
	{% include "menu/menu.html" %}
	</body>
	<script>
	document.querySelector('.email').addEventListener('click', () => {
	  document.querySelector('.block-1').style.display = 'none';
	  document.querySelector('.block-2').style.display = 'block';
	});
		
	window.onload = () => {
	  let message = (new URLSearchParams(location.search)).get('message');
	  if (message) {
		switch (message) {
  		  case 'noUserError':
			alert('존재하지 않는 이메일 주소입니다!');
    		break;
  		  case 'passwordError':
			alert('잘못된 비밀번호입니다!');
    		break;
  		  case 'kakaoError':
			alert('카카오 로그인에 실패하였습니다!');
    		break;
  		  case 'googleError':
			alert('구글 로그인에 실패하였습니다!');
    		break;
  		  case 'mailSendSuccess':
			alert('입력하신 이메일로 메일이 전송되었습니다. 24시간 이내에 이메일의 링크를 통해 비밀번호를 재설정해주세요!');
    		break;
  		  case 'setPasswordSuccess':
			alert('비밀번호가 변경되었습니다. 변경한 비밀번호로 로그인해주세요!');
    		break;
		}
	  }
	}
	</script>
</html>