<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	  </style> 
    <link rel="stylesheet" href="../../css/main/loginselect.css">
  </head>

  <body>

     <div class="header">
         <div class="title"><a href="/">LOGO</a></div>
		 <a href="#"><img src="../../photo/main/menu.png" class="menuimage"></a>
	 </div>
		  
	<div>
      <span class="logo">LOGO</span>
	  <h1 class="logincontent">로그인</h1>

    <a href="/login" class="email"><img src="../../photo/main/email.png" class="email_image">이메일로 로그인</a>
	  <a href="/auth/kakao" class="kakaotalk"><img src="../../photo/main/kakaotalk.png" class="kakaotalk_image">카카오톡으로 로그인</a>
	  <a href="/auth/google" class="google"><img src="../../photo/main/google.png" class="google_image">구글로 로그인</a>
      
      <p class="nosignup">아직 회원이 아니신가요?</p>
      <a href="#" class="signup">회원가입</a>
      <a href="#" class="findid">아이디 찾기</a>
      <a href="#" class="findpassword">비밀번호 찾기</a>
	</div>  
	
	</body>
</html>
	  