<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	  </style> 
    <link rel="stylesheet" href="../../css/main/login.css">
  </head>
  <body>
     <div class="header">
         <div class="title"><a href="/">LOGO</a></div>
		 <a href="#"><img src="../../photo/main/menu.png" class="menuimage"></a>
	 </div>
		  
	<div>
      <span class="logo">LOGO</span>
	  <h1 class="logincontent">로그인</h1>

	  <form action="/auth/login" method="post">
	    <input id="redirect" name="redirect" value="{{ redirectURL }}" style="display: none;" readonly>
		<div>
		  <input id="email" type="email" name="email" require autofocus placeholder="이메일 주소">
		</div>
		<div>
          <input id="password" type="password" name="password" require  placeholder="비밀번호">
		</div>
		<button type="submit" class="login">로그인</button>
	  </form>
      
      <p class="nosignup">아직 회원이 아니신가요?</p>
      <a href="#" class="signup">회원가입</a>
      <a href="#" class="findid">아이디 찾기</a>
      <a href="#" class="findpassword">비밀번호 찾기</a>
	</div>  
	</body>
</html>
	  
<!--
  <h1>로그인</h1>
  <form action="/auth/login" method="post">
    <div>
	  <label for="email">이메일</label>	  
	  <input id="email" type="email" name="email" require autofocus>
    </div>
    <div>
	  <label for="password">비밀번호</label>	  
	  <input id="password" type="password" name="password" require>
    </div>
    <button type="submit">로그인</button>
  </form>
  <a href="/auth/kakao">카카오톡으로 로그인</a>
  <a href="/auth/google">구글로 로그인</a>
  <a href="/signup">회원가입</a>
-->