<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>보담길</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <style>
  	  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style> 
    <link rel="stylesheet" href="/css/main/main.css">
	{% include "common.html" %}
  </head>

  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}
      <div class="content">
        <img src="/photo/main/main-image.jpg" class="main-image">
        <h1>Who are you?</h1>
        <ul>
          <li>Q. 당신이 가장 행복했던 순간은 언제인가요? </li>
          <li>Q. 당신은 어떤 사람으로 기억되고 싶나요?</li>
          <li>Q. 당신에게 가장 기분 좋았던 칭찬은 무엇인가요?</li>
        </ul>
		  <p class="narrow">몇 십년을 함께 한 나 자신이지만<br>아직도 내가 누구인지, 내가 어떤 사람인지 모르겠다면<br>우리 함께 찾아봐요.</p>
		  <p class="wide">몇 십년을 함께 한 나 자신이지만 아직도 내가 누구인지, 내가 어떤 사람인지 모르겠다면 우리 함께 찾아봐요.</p>
        <a href="/myself">보다 나은 너를 찾길</a>
      </div>

      <div class="contentme">
        <span class="contentme_title">나 알아보기</span>
        <div class="flexbox">
		  {% for game in gameList %}
          <div class="item">
            <a href="/myself/{{ game.name }}"><img src="{{ game.image }}"></a>
            <p class="contentme_type">{{ game.category }}</p>
			<a href="/myself/{{ game.name }}"><p class="contentme_name">{{ game.title }}</p></a>
            <p class="contentme_explain">{{ game.introduction }}</p>
          </div>
		  {% endfor %}
			
		<!--
          <div class="item">
            <a href="#"><img src="/photo/main/world-image.jpg"></a>
            <p class="contentme_type">흥미</p>
            <p class="contentme_name">콘텐츠 이름</p>
            <p class="contentme_explain">콘텐츠 설명에 대해 적어주세요.콘텐츠 설명에 대해 적어주세요.</p>
          </div>
          <div class="item">
            <a href="#"><img src="/photo/main/world-image.jpg"></a>
            <p class="contentme_type">흥미</p>
            <p class="contentme_name">콘텐츠 이름</p>
            <p class="contentme_explain">콘텐츠 설명에 대해 적어주세요.콘텐츠 설명에 대해 적어주세요.</p>
          </div>
		-->
			
        </div>
        <a href="/myself/game" class="more">VIEW MORE</a>
      </div>

      <div class="contentworld">
        <span class="contentworld_title">세상 알아보기</span>
        <img src="/photo/main/world-image.jpg" class="world-image">
        <p class="contentworld_explain">현재 세상이 어떻고 어떤 것들을 활용할 수 있는지 알아봐요.</p>
        <a href="/world" class="more">VIEW MORE</a>
      </div>

      <div class="footer">
        <p><img src="/photo/main/weblogo.png" class="logo"></p>
        <a href="https://instagram.com/bodamgil?igshid=MzMyNGUyNmU2YQ=="><img src="/photo/main/instagram_black.png" class="instagram"></a>
        <a href="https://m.blog.naver.com/bodamgil"><img src="/photo/main/blog_black.png" class="blog"></a>
        <a href="https://www.youtube.com/@bodamgil"><img src="/photo/main/youtube_black.png" class="youtube"></a>
        <a href="/about" class="aboutus">브랜드 소개</a>
        <div class="line1"></div>
        <a href="/notice" class="notice">공지사항</a>
        <div class="line2"></div>
        <a href="/faq" class="FAQ">FAQ</a>
        <p class="write">만든 이 : 박찬영 & 김민아</p>
        <p class="contact">Contact : bodamgil@gmail.com</p>
      </div>
	</div>
	{% include "menu/menu.html" %}
  </body>
  <script>
	window.onload = () => {
	  let message = (new URLSearchParams(location.search)).get('message');
	  if (message) {
		switch (message) {
  		  case 'unregisterSuccess':
			alert('회원 탈퇴가 처리되었습니다. 그동안 보담길을 이용해주셔서 감사합니다.');
    		break;
  		  case 'invalidRequestError':
			alert('비정상적인 요청입니다!');
    		break;
		}
	  }
	}
	
  </script>
</html>