<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	  </style> 
    <link rel="stylesheet" href="../../css/main/menulogin.css">
  </head>

  <body>
    <div class="header">
        <a href="/"><img src="../../photo/main/home.png" class="home"></a>
        <a href="#"><img src="../../photo/main/exit.png"></a>
        <img src="../../photo/main/profile.png" class="profile">
        <span class="name">이름</span>
        <a href="/myprofile" class="mypage">마이페이지</a>
        <p class="intro">나를 한줄로 소개해주세요. 나를 한줄로 소개해주세요.나를 한줄로 소개해주세요.</p>
    </div> 

    <nav>
        <ul class="nav">
          <li><a href="/about">소개</a></li>
          <li><a href="/myself">나 알아보기</a>
          <img src="../../photo/main/right.png" class="right1">
            <ul>
              <li><a href="#">진로게임</a></li>
              <li><a href="/myprofile">마이페이지</a></li>
            </ul>
          </li>
          <li><a href="#">세상 알아보기</a>
          <img src="../../photo/main/right.png" class="right2">
            <ul>
              <li><a href="#">직무 알아보기</a></li>
              <li><a href="#">직업 탐구하기</a></li>
              <li><a href="#">진로 검사 실시하기</a></li>
              <li><a href="#">도움이 되는 사이트</a></li>
            </ul>
          </li>
          <li><a href="#">이용안내</a></li>
          <li><a href="#">회원정보수정</a></li>
        </ul>
      </nav>

      <div class="button">
        <a href="/auth/logout" class="logout">로그아웃</a>
      </div>
      
  </body>
</html>