<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>완료한 진로 게임</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	  </style> 
    <link rel="stylesheet" href="../../css/main/myprofilegame.css">
	<link rel="stylesheet" href="../../css/menu/navigationbar.css">
    <link rel="stylesheet" href="../../css/menu/menu.css">
  </head>

  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}
	  <div class="previous-circle">
		<a href="/myprofile">
		  <img src="/photo/main/previous.png" class="previous">
		  <span>마이페이지</span>
		</a>
	  </div>    
      <div class="select">
        <span>완료한 진로 게임</span>
        <div class="line"></div>
      </div>

      <div class="contents">
		{% for record in records %}
        <div class="content">
          <a href="{{ record.url }}">
			<img src="{{ record.image }}" class="photo">
		  </a>
          <span>{{ record.title }}</span>
          <p class="explain">{{ record.introduction }}</p>
          <p class="date">최근 업데이트 : {{ record.completedAt }}</p>
        </div>
		{% endfor %}
<!--
        <div class="contentnone">
            <img src="../../photo/main/note.png" class="note">
            <p class="contentnone_content">완료한 게임이 없습니다.</p>
        </div>
-->
	  </div>
	</div>
	{% include "menu/menu.html" %}
  </body>
</html>