<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>관심목록</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	  </style> 
    <link rel="stylesheet" href="/css/main/myprofilelike.css">
	{% include "common.html" %}
  </head>

  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}
	<!--
    <div class="header">
        <a href="#"><img src="/photo/main/previous.png" class= "previous"></a>
        <span class="mypagecontent">마이페이지</span>
        <a href="#"><img src="/photo/main/menu.png" class="menuimage"></a>
    </div>
	-->
      <div class="select">
        <span>나의 관심목록</span>
        <button class="likejob">관심직업</button>
        <button class="likework">관심직무</button>
        <button class="likesite">관심사이트</button>
        <div class="line"></div>
      </div>

      <div class="content">
        <div class="content1">
          <img src="/photo/polaroid/beach.jpg" class="photo" alt="콘텐츠 사진">
          <span>콘텐츠 이름</span>
          <p> 콘텐츠 설명에 대해 적어주세요. 콘텐츠 설명에 대해 적어주세요. </p>
        </div>
        <div class="content2">
          <img src="/photo/polaroid/beach.jpg" class="photo" alt="콘텐츠 사진">
          <span>콘텐츠 이름</span>
          <p> 콘텐츠 설명에 대해 적어주세요. 콘텐츠 설명에 대해 적어주세요. </p>
        </div>
        <div class="content3">
          <img src="/photo/polaroid/beach.jpg" class="photo" alt="콘텐츠 사진">
          <span>콘텐츠 이름</span>
          <p> 콘텐츠 설명에 대해 적어주세요. 콘텐츠 설명에 대해 적어주세요. </p>
        </div>
<!--
        <div class="contentnone">
            <img src="/photo/main/note.png" class="note">
            <p class="contentnone_content">관심직업으로 등록된 정보가 없습니다.</p>
        </div>
-->
	  </div>
	</div>
	{% include "menu/menu.html" %}
  </body>
</html>