<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>마이페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  	  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style> 
    <link rel="stylesheet" href="/css/main/myprofile.css">
	{% include "common.html" %}
  </head>

  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}
      <div class="content">
		<span class="mypage">마이페이지 MYPAGE</span>
        <img src="{% if user.image %}{{ user.image }}{% else %}/photo/main/profile_square.png{% endif %}" class="photo">
        <div>
          <span class="name">이름/Name</span>  
          <p class="namecontent">{{ user.name }}</p>
        </div>
        <div>
          <span class="introduction">한 줄 소개/Introduction</span>  
          <p class="introductioncontent">
		    {% if user.introduction %}{{ user.introduction }}{% else %}한 줄 소개를 작성해주세요.{% endif %}
		  </p>
        </div>
		<div class="contentdate">
			<div>
			  <span class="issue">발급일/Date of Issue</span>  
			  <p class="issuecontent">{{ user.signupDate }}</p>
			</div>
			<div>
			  <span class="expire">기간 만료일/Date of expire</span>  
			  <p class="expirecontent">나를 찾을 때까지</p>
			</div>
			<a href="/changepassword" class="changepassword">비밀번호 변경</a>
      		<a href="/setprofile" class="setprofile">프로필 수정</a>
			<div class="unregister">회원 탈퇴</div>
		  <div class="contentme">
			<div class="line"></div>
			<div>
			  <img src="/photo/main/write.png" class="write">
			  <a href="/myprofile/note" class="writecontent">내 기록보기</a>  
			</div>
			<div>
			  <img src="/photo/main/heart.png" class="heart">
			  <a href="/myprofile/like" class="heartcontent">관심목록</a>  
			</div>
			<div>
			  <img src="/photo/main/success.png" class="success">
			  <a href="/myprofile/game" class="successcontent">완료한 진로 게임</a>  
			</div>
		  </div>
		  <a href="/auth/logout" class="profile-logout">로그아웃</a>
		  <div class="nothing"></div>
		</div>	
		   
		<div class="delete" style="display: none;">
			  <div class="black"></div>
			  <div class="alert"></div>
			  <p>회원 삭제를 진행하시겠습니까?</p>
			  <button class="no" type="button">취소</button>
			  <button class="yes" type="submit"><a href="/auth/unregister">확인</a></button>
		 </div>
		 </div>
		 
	</div>
		{% include "menu/menu.html" %}
	  </body>
  <script>
  window.onload = () => {
	let message = (new URLSearchParams(location.search)).get('message');

	if (message) {
	  switch (message) {
		case 'saveSuccess':
		  alert('프로필이 저장되었습니다!');
		  break;
		case 'signupSuccess':
		  alert('회원 가입이 완료되었습니다. 보담길에 오신 것을 환영합니다.');
		  break;
		case 'preparation':
		  alert('아직 준비 중인 기능이에요. 조금만 기다려주세요!');
		  break;
	  }
	}
  };  
	  
	const dateNode = document.querySelector('.issuecontent');
	const dateArray = dateNode.innerHTML.split(" ");
	dateNode.innerHTML = `${dateArray[2]} ${dateArray[1]} ${dateArray[3]}`;
	  
	document.querySelector('.unregister').addEventListener('click', () => {
	  document.querySelector('.delete').style.display = document.querySelector('.delete').style.display === 'none' ? 'block' : 'none';
	});
	  
	document.querySelector('.no').addEventListener('click', () => {
	  document.querySelector('.delete').style.display = 'none';
	});
  </script>
</html>