<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>공지사항</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style> 
    <link rel="stylesheet" href="/css/main/notice.css">
	{% include "common.html" %}
  </head>

  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}
      <!--
	  <div class="header">
        <a href="#"><img src="/photo/main/previous.png" class= "previous"></a>
        <a href="#"><img src="/photo/main/menu.png" class="menuimage"></a>
      </div>
  	  -->
	  <div class="content">
        <span class="notice">공지사항</span>
        <nav>
          <ul class="nav">
            <li>
              <a href="#">1질문질문질문질문질문질문질문질문질문</a>
			  <img src="/photo/main/right.png" class= "right">
            </li>
            <li>
              <a href="#">2질문질문질문질문질문질문질문질문질문</a>
			  <img src="/photo/main/right.png" class= "right">
              <p>대답대답대답대답</p>
            </li>
            <li>
              <a href="#">3질문질문질문질문질문질문질문질문질문</a>
			  <img src="/photo/main/right.png" class= "right">
            </li>
            <li>
              <a href="#">4질문질문질문질문질문질문질문질문질문</a>
			  <img src="/photo/main/right.png" class= "right">
            </li>
            <li>
              <a href="#">5질문질문질문질문질문질문질문질문질문</a>
			  <img src="/photo/main/right.png" class= "right">
            </li>
          </ul>
        </nav>
	  </div>
	</div>
	{% include "menu/menu.html" %}
  </body>
</html>