<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>공지사항</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style> 
    <link rel="stylesheet" href="/css/main/notice.css">
	{% include "common.html" %}
  </head>

  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}
	  <div class="content">
        <span class="title">공지사항</span>
        <nav>
          <ul class="nav">
            <li>
			  <div class="notice notice-1">
                <span>Q</span>
                <a>1질문질문질문질문질문질문질문질문질문</a>
			    <img src="/photo/main/right.png" class="arrow-1 answer-close">
			  </div>
              <p style="display: none;" class="answer answer-1">대답대답대답대답</p>
            </li>
            <li>
			  <div class="notice notice-2">
                <span>Q</span>
                <a>2질문질문질문질문질문질문질문질문질문</a>
		        <img src="/photo/main/right.png" class="arrow-2 answer-close">
			  </div>
              <p style="display: none;" class="answer answer-2">대답대답대답대답</p>
            </li>
            <li>
			  <div class="notice notice-3">
                <span>Q</span>
                <a>3질문질문질문질문질문질문질문질문질문</a>
			    <img src="/photo/main/right.png" class="arrow-3 answer-close">
			  </div>
              <p style="display: none;" class="answer answer-3">대답대답대답대답</p>
            </li>
            <li>
			  <div class="notice notice-4">
                <span>Q</span>
                <a>4질문질문질문질문질문질문질문질문질문</a>
			    <img src="/photo/main/right.png" class="arrow-4 answer-close">
			  </div>
              <p style="display: none;" class="answer answer-4">대답대답대답대답</p>
            </li>
            <li>
			  <div class="notice notice-5">
                <span>Q</span>
                <a href="#">5질문질문질문질문질문질문질문질문질문</a>
			    <img src="/photo/main/right.png" class="arrow-5 answer-close">
			  </div>
              <p style="display: none;" class="answer answer-5">대답대답대답대답</p>
            </li>
          </ul>
        </nav>
	  </div>
	</div>
	{% include "menu/menu.html" %}
  </body>
  <script>
	document.querySelectorAll('.notice').forEach((notice) => {
	  notice.addEventListener('click', (e) => {
		let answer = document.querySelector(`.answer-${notice.classList[1].split("-")[1]}`);
		answer.style.display = answer.style.display === 'none' ? 'block' : 'none';
		let arrow = document.querySelector(`.arrow-${notice.classList[1].split("-")[1]}`);
		if (arrow.classList[1] === 'answer-close') {
		  arrow.classList.add('answer-open');
		  arrow.classList.remove('answer-close');
		} else {
		  arrow.classList.add('answer-close');
		  arrow.classList.remove('answer-open');
		}
	  });
	});
  </script>
</html>