<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>공지사항</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style> 
    <link rel="stylesheet" href="/css/main/notice.css">
	{% include "common.html" %}
  </head>

  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}
	  <div class="content">
        <span class="title">공지사항</span>
        <nav>
          <ul class="nav">
            <li>
			  <div class="notice notice-1">
                <a>보담길 서비스 오픈</a>
			    <img src="/photo/main/right.png" class="arrow-1 answer-close">
			  </div>
              <p style="display: none;" class="answer answer-1">
				보담길, 너와 함께 나를 찾다<br>
				2023년 11월, '보다 나은 너를 찾길'이라는 소망을 안고 보담길을 시작했습니다.<br>
				때로는 삶의 소란과 바쁨 속에서 우리는 자기 자신을 잃어버릴 때가 있습니다. <br>
				또 나를 찾는 과정이 어렵게만 느껴지기도 하죠. <br>
				이에 우리는 그 어려움을 함께 극복하며, 더 나은 자신을 찾아가는 여정을 만들어나가고자 합니다.<br><br>

				여정의 시작, 나를 알아가다<br>
				보담길은 여러분이 스스로에게 귀 기울이고, 내면에서 속삭이는 소리를 들어보기 위한 초대장입니다. <br>
				어떤 감정이 당신을 감싸고 있는지, 무엇이 진정으로 중요한지를 발견하고, 그 소중한 당신의 존재에 더 깊이 다가가는 여정의 시작입니다.<br><br>

				세상을 담아낸 다양한 이야기<br>
				이곳에서는 더 이상 단순한 정보가 아닌, 세상의 다양한 얼굴을 담은 이야기들이 여러분을 기다립니다. <br>
				  우리의 이야기는 당신의 이야기와 연결되며, 서로의 감정이 공감의 고리를 만들어갑니다. <br>
				  함께하는 순간들이 우리를 더 가깝게 만들어주는 동시에, 세상에 대한 다양한 정보를 통해 시각을 넓혀보고 싶습니다.<br><br>

				미래를 그리다, 함께하는 보담길<br>
				보담길은 미래에 대한 당신만의 꿈을 그리는데 도움이 되고자 합니다. <br>
				  자기 자신을 마주하고, 나만의 길을 발견하며, 강한 나로 걸어가는 그 여정, 모두를 위한 소중한 순간으로 남을 것입니다.<br><br>

				지금, 보담길과 나의 여정을 시작하세요<br>
				이제 여러분은 나를 찾아가는 여정에서 함께 걸어갈 동반자를 찾고 있습니다. <br>
				  '보담길'은 여러분을 기다리고 있습니다. 함께 나를 찾아가는 순간, 삶의 의미를 발견할 수 있을 것입니다. <br>
				  지금, 보담길과 함께 나의 여정을 시작하세요.</p>
            </li>
          </ul>
        </nav>
	  </div>
	</div>
	{% include "menu/menu.html" %}
  </body>
  <script>
	document.querySelectorAll('.notice').forEach((notice) => {
	  notice.addEventListener('click', (e) => {
		let answer = document.querySelector(`.answer-${notice.classList[1].split("-")[1]}`);
		answer.style.display = answer.style.display === 'none' ? 'block' : 'none';
		let arrow = document.querySelector(`.arrow-${notice.classList[1].split("-")[1]}`);
		if (arrow.classList[1] === 'answer-close') {
		  arrow.classList.add('answer-open');
		  arrow.classList.remove('answer-close');
		} else {
		  arrow.classList.add('answer-close');
		  arrow.classList.remove('answer-open');
		}
	  });
	});
  </script>
</html>