<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>새 비밀번호 설정</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	  </style> 
    <link rel="stylesheet" href="/css/main/setpassword.css">
    <link rel="stylesheet" href="/css/menu/navigationbar.css">
    <link rel="stylesheet" href="/css/menu/menu.css">
  </head>

  <body>
	<div id="container">
	  {% include "menu/navigationbar.html" %}
      <span class="findpassword">새 비밀번호 설정</span>
      <p class="findpassword_context">새로운 비밀번호를 입력해주세요</p>
	  <form action="/auth/setpassword" method="post" id="setForm">
        <div class="field">
		  <span class="passwordcontext">새 비밀번호</span>
          <input id="password" type="password" name="password" require minlength="8" maxlength="20" placeholder="새 비밀번호를 입력해주세요 (영문, 숫자, 특수문자 포함 8~20자)">
		  <p>※ 영문, 숫자, 특수문자 포함 8자 이상 입력해주세요.</p>
        </div>
        <div class="field">
		  <span class="passwordcontext">새 비밀번호 확인</span>
          <input id="confirm" type="password" name="confirm" require minlength="8" maxlength="20" placeholder="새 비밀번호를 한 번 더 입력해주세요">
		  <p>※ 비밀번호를 다시 확인해주세요.</p>
        </div>
        <div>
          <input id="id" name="id" readonly>
        </div>
        <button type="submit" class="submit">확인</button>
	  </form>
    </div>
	{% include "menu/menu.html" %}
  </body>
<script defer>
  exports = {};
</script>
<script defer src="/js/uservalidation.js"></script>
<script defer src="/js/userinputvalidation.js"></script>
  <script>
    window.onload = () => {
	  document.querySelector('input#id').value = window.location.href.split("/setpassword/")[1].split("?")[0].split("/")[0];  
	  let message = (new URLSearchParams(location.search)).get('message');
	  if (message) {
		switch (message) {
		  case 'passwordError':
		    alert('잘못된 비밀번호 형식입니다!');
		    break;
		  case 'passwordConfirmError':
		    alert('비밀번호를 다시 확인해주세요!');
		    break;
		}
	  }
    }
  </script>
</html>