<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>새 비밀번호 설정</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	  </style> 
    <link rel="stylesheet" href="../../css/main/setpassword.css">
    <link rel="stylesheet" href="../../css/menu/navigationbar.css">
    <link rel="stylesheet" href="../../css/menu/menu.css">
  </head>

  <body>
	<div id="container">
	  {% include "menu/navigationbar.html" %}
      <img src="../../photo/main/previous.png" class="previous">
      <span class="findpassword">비밀번호 변경</span>
      <p class="findpassword_context">새로운 비밀번호를 입력해주세요</p>

	  <form action="/auth/setpassword" method="post">
        <div>
          <input id="password" type="password" name="password" require minlength="8" maxlength="20" placeholder="새 비밀번호를 입력해주세요">
        </div>
        <div>
          <input id="passwordcheck" type="password" name="passwordcheck" require placeholder="새 비밀번호를 한 번 더 입력해주세요">
        </div>
        <button type="submit" class="login">확인</button>
	  </form>
    </div>
	{% include "menu/menu.html" %}
  </body>
</html>