<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>프로필 수정</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	{% include "metatag.html" %}
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	  </style> 
    <link rel="stylesheet" href="/css/main/setprofile.css">
    <link rel="stylesheet" href="/css/main/signup.css">
	{% include "common.html" %}
  </head>

  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}
	  {% if not user.gender or not user.birthDate %}
	  <div class="block-1">
        {% include "main/contract.html" %}  
	  </div>
	  {% endif %}
	  <div class="block-2" style="{% if user.gender and user.birthDate %}display: block;{% endif %}">
	  {% if user.gender and user.birthDate %}
	  <div class="previous-circle">
		<a href="/myprofile">
		  <img src="/photo/main/previous.png" class="previous" alt="뒤로가기">
		  <span>마이페이지</span>
		</a>
	  </div>    
	  {% endif %}
	  {% if not user.gender or not user.birthDate %}
	    <div class="incomplete">
		  프로필 작성을 완료해주세요!
		</div>
	  {% endif %}
      <img src="{% if user.image %}{{ user.image }}{% else %}/photo/main/profile_square.png{% endif %}" class="photo" alt="프로필사진">
	  <form action="/auth/setprofile" method="post" enctype="multipart/form-data" id="setForm">
	    <div>
		  <label class="imagecontext" for="image">파일 선택</label>	  
	      <input id="image" type="file" name="image" accept="image/*">
        </div>
        <div class="field">
          <span class="namecontext">이름</span>
          <input id="name" type="text" name="name" require value="{{ user.name }}" maxlength="20" placeholder="변경할 이름을 작성해주세요 (20자 이내)">
		  <p>※ 20자 이내로 작성해주세요.</p>
        </div>
        <div class="field">
          <span class="introductioncontext">한 줄 소개</span>
          <input id="introduction" type="text" name="introduction" require value="{{ user.introduction }}" maxlength="100" placeholder="변경할 소개 문구를 작성해주세요 (100자 이내)">
		  <p>※ 100자 이내로 작성해주세요.</p>
        </div>
		<div class="fieldgender field">
		  <span class="gendercontext">성별</span>
		  <select name="gender" id="gender">   
			<option disabled {% if not user.gender %}selected{% endif %}>성별</option> 
			<option value="man" {% if user.gender === 'man' %}selected{% endif %}>남자</option>
			<option value="woman" {% if user.gender === 'woman' %}selected{% endif %}>여자</option>
		  </select>
		  <p></p>
		</div>
		<div class="fieldbirth field">
		  <span class="birthcontext">생년월일</span>
		  <div class="user-birth" style="display: none">{{ user.birthDate }}</div>
		  <div class="birth">
			  <select name="birthyear" class="box" id="birthyear">
				<option class="option-year" disabled>년도</option>
				  {% for i in range(2023, 1899, -1) %}
					<option class="option-year-{{ i }}" value="{{ i }}">{{ i }}년</option>
				  {% endfor %}
			  </select>
			  <select name="birthmonth" class="box" id="birthmonth">
				<option class="option-month" disabled>월</option>
				  {% for i in range(1, 13) %}
					<option class="option-month-{{ i }}" value="{{ i }}">{{ i }}월</option>
				  {% endfor %}
			  </select>
			  <select name="birthday" class="box" id="birthday">
				<option class="option-day" disabled>일</option>
				  {% for i in range(1, 32) %}
					<option class="option-day-{{ i }}" value="{{ i }}">{{ i }}일</option>
				  {% endfor %}
			  </select>
		      <p>※ 유효한 날짜를 선택해주세요.</p>
			 </div>
		</div>
        <button class="fpmgBt">변경사항 저장하기</button>
      </form>
	  </div>
	</div>
	{% include "menu/menu.html" %}
  </body>
<script defer>
  exports = {};
</script>
<script defer src="/js/uservalidation.js"></script>
<script defer src="/js/userinputvalidation.js"></script>
<script>
  window.onload = () => {
	let message = (new URLSearchParams(location.search)).get('message');

	if (message) {
	  switch (message) {
		case 'nameError':
		  alert('잘못된 이름 형식입니다!');
		  break;
		case 'genderError':
		  alert('성별을 선택해주세요!');
		  break;
		case 'birthError':
		  alert('잘못된 생년월일 형식입니다!');
		  break;
		case 'signupSuccess':
		  alert('회원 가입이 완료되었습니다. 보담길에 오신 것을 환영합니다.');
		  break;
	  }
	}
  };  
	  
	const dateNode = document.querySelector('.user-birth');
	if (dateNode.innerHTML === '') {
	  document.querySelector('.option-year').selected = true;
	  document.querySelector('.option-month').selected = true;
	  document.querySelector('.option-day').selected = true;
	} else {
	  const dateArray = dateNode.innerHTML.split("-");
	  document.querySelector(`.option-year-${Number(dateArray[0])}`).selected = true;
	  document.querySelector(`.option-month-${Number(dateArray[1])}`).selected = true;
	  document.querySelector(`.option-day-${Number(dateArray[2])}`).selected = true;
	}
	  
	// 사진 미리보기
	document.querySelector('input#image').addEventListener('change', (e) => {
	  const maxSize = 5 * 1024 * 1024;
	  if (e.target.files[0].size > maxSize) {
		alert('5MB를 초과하는 파일은 업로드할 수 없습니다!');
		document.querySelector('input#image').value = '';
		document.querySelector('.photo').setAttribute("src", null);
	  } else {
		let reader = new FileReader();
	    reader.onload = function(event) {
		  document.querySelector('.photo').setAttribute("src", event.target.result);
	    };
	    reader.readAsDataURL(e.target.files[0]);  
	  }
	});
  </script>
</html>