<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>회원가입 완료</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	{% include "metatag.html" %}
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	  </style> 
    <link rel="stylesheet" href="/css/main/signupsuccess.css">
	{% include "common.html" %}
  </head>
  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}
      <div class="content">
        <span class="contract">가입완료</span>
        <p class="welcome">보담길에 오신 것을 환영합니다</p>
	    <a href="/login"><button class="fpmgBt">로그인 하러가기</button></a>
      </div>
	</div>
	{% include "menu/menu.html" %}
  </body>
</html>