<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	  </style> 
    <link rel="stylesheet" href="../../css/main/signup1.css">
  </head>

  <body>

     <div class="header">
         <div class="title"><a href="/">LOGO</a></div>
		 <a href="#"><img src="../../photo/main/menu.png" class="menuimage"></a>
	 </div>
    <img src="../../photo/main/previous.png" class="previous">
     <span class="contract">정보입력</span>

     <form>
		<div>
          <span class="emailcontext">아이디</span>
		  <input id="email" type="email" name="email" require autofocus placeholder="아이디를 입력해주세요">
		</div>
		<div>
          <span class="passwordcontext">비밀번호</span>
          <input id="password" type="password" name="password" require minlength="8" maxlength="20" placeholder="비밀번호를 입력해주세요(문자, 숫자, 특수문자 포함 8~10자)">
		</div>
        <div>
            <span class="passwordcheckcontext">비밀번호확인</span>
            <input id="passwordcheck" type="password" name="passwordcheck" require placeholder="비밀번호를 한 번 더 입력해주세요">
        </div>
        <div>
            <span class="namecontext">이름</span>
            <input id="name" type="text" name="name" require placeholder="이름을 입력해주세요">
        </div>
        <div>
          <span class="telcontext">전화번호</span>
          <input id="tel" type="tel" name="tel" require placeholder="00*-000*-0000" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{3,4}" maxlength="13">
        </div>
        <div class="gender">
            <span class="gendercontext">성별</span>
            <select name="gender" id="gender">    
                <option value="man">남자</option>
                <option value="woman">여자</option>
            </select>
        </div>
        <div class="birth">
            <span class="birthcontext">생년월일</span>
            <select class="box" id="birthyear">
              <option disabled selected>년도</option>
            </select>
            <select class="box" id="birthmonth">
              <option disabled selected>월</option>
            </select>
            <select class="box" id="birthday">
              <option disabled selected>일</option>
            </select>
        </div>
	  </form>

     <form action="" id="joinForm">
        <button class="fpmgBt">가입완료</button>
    </form>

</body>
</html>