
a {
    text-decoration: none;
    color: black;
}
#container{
	position: relative;
}
/*select*/
.select span{
    position: relative;
	width: 159px;
    left: calc(50% - 159px/2);
    top: 10px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: block;
    text-align: center;
    color: #000000;
}
.select{
	text-align: center;
}
.select button{
	margin-top: 30px;
	margin-bottom: 20px;
}
.all{
    position: relative;
    border: 0.5px solid #BFBFBF;
    width: 50px;
    height: 30px;
    background: white;
    border-radius: 20px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #BFBFBF;
    cursor: pointer;
}
.all:hover{
    background-color: #FF731D;
    color: white;
    border: none;
}
.like{
    position: relative;
    border: 0.5px solid #BFBFBF;
    width: 50px;
    height: 30px;
    background: white;
    border-radius: 20px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #BFBFBF;
    cursor: pointer;
}
.like:hover{
    background-color: #FF731D;
    color: white;
    border: none;
}
.good{
    position: relative;
    border: 0.5px solid #BFBFBF;
    width: 50px;
    height: 30px;
    background: white;
    border-radius: 20px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #BFBFBF;
    cursor: pointer;
}
.good:hover{
    background-color: #FF731D;
    color: white;
    border: none;
}
.goal{
    position: relative;
    border: 0.5px solid #BFBFBF;
    width: 50px;
    height: 30px;
    background: white;
    border-radius: 20px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #BFBFBF;
    cursor: pointer;
}
.goal:hover{
    background-color: #FF731D;
    color: white;
    border: none;
}
.value{
    position: relative;
    border: 0.5px solid #BFBFBF;
    width: 50px;
    height: 30px;
    background: white;
    border-radius: 20px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #BFBFBF;
    cursor: pointer;
}
.value:hover{
    background-color: #FF731D;
    color: white;
    border: none;
}
.etc{
    position: relative;
    border: 0.5px solid #BFBFBF;
    width: 50px;
    height: 30px;
    background: white;
    border-radius: 20px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #BFBFBF;
    cursor: pointer;
}
.etc:hover{
    background-color: #FF731D;
    color: white;
    border: none;
}
.checked {
    background-color: #FF731D;
    color: white;
    border: none;
}

/*contentme*/
.contentme {
    padding-bottom: 15px;
}
.content{
	position: relative;
	width: 85%;
	border: 0.5px solid #959595;
	border-radius: 10px;
	margin: 8px auto;
	padding: 13px;
	cursor: pointer;
}
.content:hover{
	color: white;
	background-color: rgba(0,0,0,0.2);
}
.content span{
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #000000;
	padding-left: 10px;
}
.content p{
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 140%;
	color: #000000;
	padding: 0 10px;
	margin: 5px 0;
}




/*1200px 이상*/
  @media ( min-width: 1025px ) {
    #container {
      width: 1024px;
      margin: auto;
    }

    /*header*/
    .header{
        height: 45px;
    }
    .menuimage{
        display: none;
    }
    /*select*/
    .select span{
        font-size: 22px;
		width: 174.25px;
		left: calc(50% - 174.25px/2);
    }
    .all{
        width: 100px;
        height: 35px;
        font-size: 14px;
        line-height: 20px;
    }
    .like{
        width: 100px;
        height: 35px;
        font-size: 14px;
        line-height: 20px;
		margin-left: 30px;
    }
    .good{
        width: 100px;
        height: 35px;
        font-size: 14px;
        line-height: 20px;
		margin-left: 30px;
    }
    .goal{
        width: 100px;
        height: 35px;
        font-size: 14px;
        line-height: 20px;
		margin-left: 30px;
    }
    .value{
        width: 100px;
        height: 35px;
        font-size: 14px;
        line-height: 20px;
		margin-left: 30px;
    }
    .etc{
        width: 100px;
        height: 35px;
        font-size: 14px;
        line-height: 20px;
		margin-left: 30px;
    }
  }