<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title><!-- 제목 --></title>	  
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--
	<meta property="og:site_name" content="보담길" />
	<meta property="og:title" content="보담길" />
	<meta property="og:description"
      content="" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.bodamgil.com" />
	<meta property="og:image"
      content="" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="보담길">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
	-->
	<style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style>  
	<link rel="stylesheet" href="/css/monthlyplan/monthlyplan.css">
	{% include "common.html" %}
  </head>
  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}
	  <div class="previous-circle">
		<a href="/myself/monthlyplan">
		  <img src="/photo/main/previous.png" class="previous" alt="뒤로가기">
		</a>
	  </div> 
		
	 <div class="main">	 
			<h1>나의 이번 달의 모습은?</h1>

			<div class="firstgoal">
				<p class="month">{{ monthlyPlan.year }}년 {{ monthlyPlan.month }}월</p>
				<div class="show">
					<img src="{{ monthlyPlan.image }}">
					<p>{{ monthlyPlan.name }}의 달</p>
					<span>{{ monthlyPlan.year }}.{{ monthlyPlan.month }}</span>
				</div>
				<div class="monthgoal">
					<p class="monthgoalContent">{{ monthlyPlan.year }}년 {{ monthlyPlan.month }}월의 목표</p>
				</div>
			</div>
			<div class="content">
				{% for i in range(1, 6) %}
				<div class="week">
					<h1 class="week{{ loop.index }}">{{ loop.index }}주차</h1>
					<ul id="todoList">
						{% for planDetail in planDetailArray[loop.index - 1] %}
						<li><span>{{ planDetail.content }}</span></li>
						{% endfor %}
					</ul>
				</div>
				{% endfor %}
			</div>
			<div class="list">목록으로</div>
		</div>		  
	  </div>
	<!--
	  <div class="main">	
		<div>{{ monthlyPlan.year }} 년 {{ monthlyPlan.month }} 월</div>
		<div>{{ monthlyPlan.name }}</div>
		<div>{{ monthlyPlan.content }}</div>
		<div>{{ monthlyPlan.contentSpecific }}</div>
		<div>{{ monthlyPlan.contentMeasurable }}</div>
		<div>{{ monthlyPlan.contentAchievable }}</div>
		<div>{{ monthlyPlan.contentRelevant }}</div>
		<div>{{ monthlyPlan.contentTimelimited }}</div>
	  </div>	  
    </div>
	-->
  {% include "menu/menu.html" %}
  </body>
  <script>
    window.onload = () => {
	  let message = (new URLSearchParams(location.search)).get('message');
    
	  if (message) {
	    switch (message) {
		  // To-DO
	    }
	  }
    };  
  </script> 
</html>