<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title><!-- 제목 --></title>	  
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--
	<meta property="og:site_name" content="보담길" />
	<meta property="og:title" content="보담길" />
	<meta property="og:description"
      content="" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.bodamgil.com" />
	<meta property="og:image"
      content="" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="보담길">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
	-->
	<style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style>  
	<link rel="stylesheet" href="/css/monthlyplan/monthlyplan.css">
	{% include "common.html" %}
  </head>
  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}
	  <div class="main">	
	    <!-- HTML 작업 공간 -->
		<div>{{ monthlyPlan.year }} 년 {{ monthlyPlan.month }} 월</div>
		<div>{{ monthlyPlan.name }}</div>
		<div>{{ monthlyPlan.content }}</div>
		<div>{{ monthlyPlan.contentSpecific }}</div>
		<div>{{ monthlyPlan.contentMeasurable }}</div>
		<div>{{ monthlyPlan.contentAchievable }}</div>
		<div>{{ monthlyPlan.contentRelevant }}</div>
		<div>{{ monthlyPlan.contentTimelimited }}</div>
	  </div>	  
    </div>
  {% include "menu/menu.html" %}
  </body>
  <script>
    window.onload = () => {
	  let message = (new URLSearchParams(location.search)).get('message');
    
	  if (message) {
	    switch (message) {
		  // To-DO
	    }
	  }
    };  
  </script> 
</html>