<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title><!-- 제목 --></title>	  
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--
	<meta property="og:site_name" content="보담길" />
	<meta property="og:title" content="보담길" />
	<meta property="og:description"
      content="" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.bodamgil.com" />
	<meta property="og:image"
      content="" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="보담길">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
	-->
	<style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style>  
	<link rel="stylesheet" href="/css/monthlyplan/monthlyplan.css">
	{% include "common.html" %}
  </head>
  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}
	<div class="previous-circle">
		<a href="#">
		  <img src="/photo/main/previous.png" class="previous" alt="뒤로가기">
		</a>
	</div>    
	<div class="main">	 
			<h1>2024년 1월</h1>
			<img src="images/trash.png" class="trash">

		 	<div class="firstgoal">
				<p class="month">2024년 1월: OOO의 달</p>
				<div class="monthgoal">
					<p class="monthgoalContent">2024년 1월의 목표</p>
				</div>
			
				<ul>
					<li>
						<p class="alphabet">S<p>
						<p class="alphabetcontent">2024년 1월의 적어둔 목표</p>
					</li>
					<li>
						<p class="alphabet">M<p>
						<p class="alphabetcontent">2024년 1월의 적어둔 목표</p>
					</li>
					<li>
						<p class="alphabet">A<p>
						<p class="alphabetcontent">2024년 1월의 적어둔 목표</p>
					</li>
					<li>
						<p class="alphabet">R<p>
						<p class="alphabetcontent">2024년 1월의 적어둔 목표</p>
					</li>
					<li>
						<p class="alphabet">T<p>
						<p class="alphabetcontent">2024년 1월의 적어둔 목표</p>
					</li>
				</ul>
				
			</div>

			<div class="week">
				<h1>1주차</h1>
				<ul id="todoList">
					<li><span>목표를 적어주세요</span></li>
					<li><span>목표를 적어주세요</span></li>
				</ul>
			</div>

			<div class="week">
				<h1>2주차</h1>
				<ul id="todoList">
					<li><span>목표를 적어주세요</span></li>
					<li><span>목표를 적어주세요</span></li>
				</ul>
			</div>

			<div class="week">
				<h1>3주차</h1>
				<ul id="todoList">
					<li><span>목표를 적어주세요</span></li>
					<li><span>목표를 적어주세요</span></li>
				</ul>
			</div>

			<div class="week">
				<h1>4주차</h1>
				<ul id="todoList">
					<li><span>목표를 적어주세요</span></li>
					<li><span>목표를 적어주세요</span></li>
				</ul>
			</div>
			<div class="button">
				<div class="save">이미지로 저장하기</div>
				<div class="edit">수정하기</div>
			</div>
		</div>
	  
    </div>
  {% include "menu/menu.html" %}
  </body>
  <script>
    window.onload = () => {
	  let message = (new URLSearchParams(location.search)).get('message');
    
	  if (message) {
	    switch (message) {
		  // To-DO
	    }
	  }
    };  
  </script> 
</html>