<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title>나만의 이번 달 컨셉과 목표 세우기 - 확인하기</title>	  
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description"
      content="목표를 정해 내가 향할 목적지를 미리 설정해두며 실행력을 높일 수 있어요. 작심삼일이 아닌 꾸준히 이룰 수 있게 하기 위해 제대로 된 목표를 함께 세워봐요." />
	<meta name="keywords" content="보담길,진로,진로사이트,진로고민,진로교육,진로게임,진로이야기,진로여정,꿈,꿈찾기,대학생,대학생진로,직업,직무,심리검사,진로검사" />
	<meta name="robots" content="index,nofollow">
	<meta property="og:site_name" content="보담길" />
	<meta property="og:title" content="보담길" />
	<meta property="og:description"
      content="나만의 이번 달 컨셉과 목표 세우기" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.bodamgil.com" />
	<meta property="og:image"
      content="https://bodamgil.com/photo/monthlyplan/monthlyplan_kakaotalk.png" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="보담길">
    <meta name="twitter:description" content="나만의 이번 달 컨셉과 목표 세우기">
    <meta name="twitter:image" content="https://bodamgil.com/photo/monthlyplan/monthlyplan_kakaotalk.png">
	<style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style>  
	<link rel="stylesheet" href="/css/monthlyplan/plandetail.css">
	{% include "common.html" %}
  </head>
  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}

	<div class="previous-circle">
		<a href="/myself/monthlyplan/view">
		  <img src="/photo/main/previous.png" class="previous" alt="뒤로가기">
		</a>
	</div>    
	<div class="main">	 
			<h1>{{ monthlyPlan.year }}년 {{ monthlyPlan.month }}월</h1>
			<img src="/photo/monthlyplan/trash.png" class="trash">
			<div id="monthlyplan-uuid" style="display: none;">{{ monthlyPlan.uuid }}</div>
		 	<div class="firstgoal">
				<p class="month">{{ monthlyPlan.year }}년 {{ monthlyPlan.month }}월 : {{ monthlyPlan.name }}</p>
				<div class="monthgoal">
					<p class="monthgoalContent">{{ monthlyPlan.content }}</p>
				</div>
			
				<ul>
					<li>
						<p class="alphabet">S<p>
						<p class="alphabetcontent">{{ monthlyPlan.contentSpecific }}</p>
					</li>
					<li>
						<p class="alphabet">M<p>
						<p class="alphabetcontent">{{ monthlyPlan.contentMeasurable }}</p>
					</li>
					<li>
						<p class="alphabet">A<p>
						<p class="alphabetcontent">{{ monthlyPlan.contentAchievable }}</p>
					</li>
					<li>
						<p class="alphabet">R<p>
						<p class="alphabetcontent">{{ monthlyPlan.contentRelevant }}</p>
					</li>
					<li>
						<p class="alphabet">T<p>
						<p class="alphabetcontent">{{ monthlyPlan.contentTimelimited }}</p>
					</li>
				</ul>
				
			</div>
		
			{% for i in range(1, 6) %}
			<div class="week">
				<h1>{{ loop.index }}주차</h1>
					{% for planDetail in planDetailArray[loop.index - 1] %}
					  <ul id="todoList" class="todoList todoList-{{ planDetail.id }} {% if planDetail.checked %}checked{% else %}notchecked{% endif %}">
					    <li><span>{{ planDetail.content }}</span></li>
					  </ul>
					{% endfor %}
			</div>
			{% endfor %}

			<div class="button">
				<a href="/myself/monthlyplan/monthlyplan"><div class="save">이미지로 저장하기</div></a>
				<a href="/myself/monthlyplan/plandetail_edit"><div class="edit">수정하기</div></a>
			</div>
		</div>
	  
  
    </div>
  {% include "menu/menu.html" %}
  </body>
  <script>
    window.onload = () => {
	  let message = (new URLSearchParams(location.search)).get('message');
    
	  if (message) {
	    switch (message) {
		  // To-DO
	    }
	  }
    };  
  </script> 
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
	const monthlyplanId = document.querySelector('#monthlyplan-uuid').innerHTML;	  
	document.querySelectorAll('#todoList').forEach((todoList) => {
	  todoList.addEventListener('click', () => {
	    let detailid = todoList.classList[1].split("-")[1];
		let checked = todoList.classList[2];
		let newChecked = checked === 'checked' ? 'notchecked' : 'checked';
	    axios.patch(`/myself/monthlyplan/${monthlyplanId}/${detailid}/check`, { newChecked })
		  .then((res) => {
			todoList.classList.remove(checked);
			todoList.classList.add(newChecked);
		  })
		  .catch((err) => {
			console.error(err);
		  });
	  });
	});

	
  </script>
</html>