<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title><!-- 제목 --></title>	  
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--
	<meta property="og:site_name" content="보담길" />
	<meta property="og:title" content="보담길" />
	<meta property="og:description"
      content="" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.bodamgil.com" />
	<meta property="og:image"
      content="" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="보담길">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
	-->
	<style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style>  
	<link rel="stylesheet" href="/css/monthlyplan/select.css">
	{% include "common.html" %}
  </head>
  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}
	  <div class="previous-circle">
		<a href="/myself/monthlyplan">
		  <img src="/photo/main/previous.png" class="previous" alt="뒤로가기">
		</a>
	  </div>
	  <div class="main">
	  
		  <div class="progress"></div>
		  <div class="progress-color"></div>

		  <div class="block-1">
			<h1>어떤 날의 목표를 세울 건가요?</h1>
			<input type="month" name="birthmoon" value="{{ defaultYear }}-{% if defaultMonth < 10 %}0{% endif %}{{ defaultMonth }}">
			  <a href="/myself/monthlyplan/write?year={{ defaultYear }}&month={{ defaultMonth }}" id="writelink">
				<button class="next" type="button">NEXT</button>
			  </a>
		  </div>
	  
    </div>
	</div>
  {% include "menu/menu.html" %}
  </body>
  <script>
    window.onload = () => {
	  let message = (new URLSearchParams(location.search)).get('message');
    
	  if (message) {
	    switch (message) {
		  // To-DO
	    }
	  }
    };
	  
	const writeLink = document.querySelector('#writelink');
	const searchParams = new URL(writeLink.href).searchParams;
	let selectedYear = searchParams.get('year');
	let selectedMonth = searchParams.get('month');
	  
	document.querySelector('input[type=month]').addEventListener('change', (e) => {
	  let selectedValue = e.target.value.split("-");
	  selectedValue = selectedValue.map((value) => parseInt(value));
	  writeLink.href = writeLink.href
		.replace(`year=${selectedYear}`, `year=${selectedValue[0]}`)
		.replace(`month=${selectedMonth}`, `month=${selectedValue[1]}`);
	  selectedYear = selectedValue[0];
	  selectedMonth = selectedValue[1];
	});
  </script> 
</html>