<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title><!-- 제목 --></title>	  
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--
	<meta property="og:site_name" content="보담길" />
	<meta property="og:title" content="보담길" />
	<meta property="og:description"
      content="" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.bodamgil.com" />
	<meta property="og:image"
      content="" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="보담길">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
	-->
	<style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style>  
	<link rel="stylesheet" href="/css/monthlyplan/select.css">
	{% include "common.html" %}
  </head>
  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}
	  <div class="previous-circle">
		<a href="/myself/monthlyplan">
		  <img src="/photo/main/previous.png" class="previous" alt="뒤로가기">
		</a>
	  </div>
	  <div class="main">
	  <form action="#" method="post">
		  <div class="progress"></div>
		  <div class="progress-color"></div>

		  <div class="block-1">
			<h1>어떤 날의 목표를 세울 건가요?</h1>
			<input type="month" name="birthmoon">
			<button class="next" type="button">NEXT</button>
		  </div>
	  </form>
	    <!--
		<div>
		  <button id="decreaseYear">-1</button>
		  <div class="year">{{ defaultYear }} 년</div>
		  <button id="increaseYear">+1</button>
		</div>
		<div>
		  {% for i in range(1, 13) %}
			<div class="month month-{{ i }} {% if i == defaultMonth %}selected{% endif %}">{{ i }} 월</div>
		  {% endfor %}
		</div>
		<a href="/myself/monthlyplan/write?year={{ defaultYear }}&month={{ defaultMonth }}" class="writelink">NEXT</a>
	  </div>
		-->
    </div>
	</div>
  {% include "menu/menu.html" %}
  </body>
	  


  <script>
    window.onload = () => {
	  let message = (new URLSearchParams(location.search)).get('message');
    
	  if (message) {
	    switch (message) {
		  // To-DO
	    }
	  }
    };
	  
	const writeLink = document.querySelector('.writelink');
	const searchParams = new URL(writeLink.href).searchParams;
	let selectedYear = searchParams.get('year');
	let selectedMonth = searchParams.get('month');
	  
	const increaseYearButton = document.querySelector('#increaseYear');
	const decreaseYearButton = document.querySelector('#decreaseYear');
	increaseYearButton.addEventListener('click', (e) => {
	  selectedYear++;
	  writeLink.href = writeLink.href.replace(`year=${selectedYear - 1}`, `year=${selectedYear}`);
	  document.querySelector('.year').innerHTML = `${selectedYear} 년`;
	});
	decreaseYearButton.addEventListener('click', (e) => {
	  selectedYear--;
	  writeLink.href = writeLink.href.replace(`year=${selectedYear + 1}`, `year=${selectedYear}`);
	  document.querySelector('.year').innerHTML = `${selectedYear} 년`;
	});
	  
	const monthButtons = document.querySelectorAll('.month');
	monthButtons.forEach((button) => {
	  button.addEventListener('click', () => {
		let originalMonth = selectedMonth;
		document.querySelector(`.month-${originalMonth}`).classList.remove('selected');
		selectedMonth = button.classList[1].split("-")[1];
		button.classList.add('selected');
	    writeLink.href = writeLink.href.replace(`month=${originalMonth}`, `month=${selectedMonth}`);
	  })
	})
  </script> 
</html>