<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title><!-- 제목 --></title>	  
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--
	<meta property="og:site_name" content="보담길" />
	<meta property="og:title" content="보담길" />
	<meta property="og:description"
      content="" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.bodamgil.com" />
	<meta property="og:image"
      content="" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="보담길">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
	-->
	<style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style>  
	<link rel="stylesheet" href="/css/monthlyplan/view.css">
	{% include "common.html" %}
  </head>
  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}
	  <div class="main">	

	    <div class="previous-circle">
		<a href="/monthlyplan/main">
		  <img src="images/previous.png" class="previous"  alt="뒤로가기">
		</a>
	  </div>      

	<div class="mainexplain">
		<h1>당신의 이번 달은 어떤 모습인가요?</h1>
  		<p>매달 컨셉을 정해 목표를 정하고 목표를 달성하기 <br> 위해 노력해봐요. 불가능해보일지라도 적어두면 <br>훨씬 많은 목표를 이룰 수 있을 거예요.</p>
	</div>

	<div class="content">
		<a href="#">
			<div class="flexbox">
				<img src="/photo/polaroid/beach.jpg" class="monthimage"  alt="월별사진">
				<p class="monthdate">2024년 1월</p>
				<p class="monthconcept">OOO의 달</p>
			</div>
		</a>
		<a href="#">
			<div class="flexbox">
				<img src="/photo/polaroid/beach.jpg" class="monthimage"  alt="월별사진">
				<p class="monthdate">2024년 1월</p>
				<p class="monthconcept">OOO의 달</p>
			</div>
		</a>
		<a href="#">
			<div class="flexbox">
				<img src="/photo/polaroid/beach.jpg" class="monthimage"  alt="월별사진">
				<p class="monthdate">2024년 1월</p>
				<p class="monthconcept">OOO의 달</p>
			</div>
		</a>
		<a href="#">
			<div class="flexbox">
				<img src="/photo/polaroid/beach.jpg" class="monthimage"  alt="월별사진">
				<p class="monthdate">2024년 1월</p>
				<p class="monthconcept">OOO의 달</p>
			</div>
		</a>
		<a href="#"><img src="/photo/monthlyplan/plus.png" class="plus"></a>
	</div>
</div>
</div>	  


  {% include "menu/menu.html" %}
  </body>
  <script>
    window.onload = () => {
	  let message = (new URLSearchParams(location.search)).get('message');
    
	  if (message) {
	    switch (message) {
		  // To-DO
	    }
	  }
    };  
  </script> 
</html>



