<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title></title>	  
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style>  
	<link rel="stylesheet" href="../../css/polaroid/example.css">
  </head>
  <body>
	<div style="display: flex; justify-content: center;">
	  <div style="width: 360px; height: 640px; border: 1px solid black;" class="container">
	  <div style="width: 360px; height: 45px; background-color:red" class="header">
	    <a href="/">Com:pass 로고</a>
		<img src="../../photo/polaroid/menu.png" class="menu">
	
    <div class="main">
        <img src="../../photo/polaroid/exit.png" class="exit">

        <div class="polaroid"></div>
        <div class="sticker"></div>
		<img src="../../photo/polaroid/beach.jpg" class="photo">
        <p class="polaroid-content">바다 보는 것을 좋아했던 어린 시절의 나</p>

        <p class="example-content1">어릴 때의 꿈이나 즐겼던 활동 사진, <br>장소의 사진을 넣어주세요 <br>ex.어렸을 때 가장 좋아했던 바다사진</p>
        <p class="example-content2">좋았던 내용에 대해 <br>최대한 구체적으로 적어주세요. <br> ex. 바다가 좋다(X) <br> 푸른 바다를 보는 것이 좋다(O)</p>
        <img src="../../photo/polaroid/arrow1.png" class="arrow1">
        <img src="../../photo/polaroid/arrow2.png" class="arrow2">
	</div>	  
	</div>
	</div>
	</div>
  </body>
</html>