<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title>어릴 때의 내가 좋아했던 것은?</title>	  
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description"
      content="꿈이 많고 마냥 즐거웠던 어렸을 때의 꿈, 좋아했던 것, 인상깊었던 경험 등을 떠올려보면서 나라는 사람이 어떤 것을 좋아하는 사람이었는지 생각해보는 시간을 가질 수 있어요." />
	<meta name="keywords" content="보담길,진로,진로사이트,진로고민,진로교육,진로게임,진로이야기,진로여정,꿈,꿈찾기,대학생,대학생진로,직업,직무,심리검사,진로검사" />
	<meta name="robots" content="index,nofollow">
	<meta property="og:site_name" content="보담길" />
	<meta property="og:title" content="보담길" />
	<meta property="og:description"
      content="어릴 때의 내가 좋아했던 것은?" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.bodamgil.com" />
	<meta property="og:image"
      content="/photo/polaroid/polaroid_kakaotalk.png" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="보담길">
    <meta name="twitter:description" content="어릴 때의 내가 좋아했던 것은?">
    <meta name="twitter:image" content="/photo/polaroid/polaroid_kakaotalk.png">
	<link rel="stylesheet" href="/css/polaroid/main.css">
	{% include "common.html" %}
  </head>
  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}  
	  <div class="main">	  
		<h1>어릴 때의 내가 좋아했던 것은?</h1>
		<a href="/myself/polaroid/write" class="start">시작하기</a>
		<a href="/myself/polaroid/view" class="confirm">확인하기</a>
		<img src="/photo/polaroid/main_flower.png" class="main_flower" alt="꽃">
		<img src="/photo/polaroid/main_photo.png" class="main_photo" alt="폴라로이드">
		<img src="/photo/polaroid/main_camera.png" class="main_camera" alt="카메라">
	  </div>	  
	</div>
	{% include "menu/menu.html" %}
	<script>
	window.onload = () => {
	  let message = (new URLSearchParams(location.search)).get('message');
	
	  if (message) {
		switch (message) {
  		  case 'wrongAddressError':
			alert('주소에 오류가 있거나 폴라로이드 사진이 삭제된 것 같아요.');
    		break;
  		  case 'noPolaroid':
			alert('작성한 폴라로이드 사진이 없어요. 시작하기 버튼을 눌러보세요!')
    		break;
		}
	  }
	};  
	</script>
  </body>
</html>
	
	
	