<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title></title>	  
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="../../css/polaroid/main.css">
  </head>
  <body>
	<div style="display: flex; justify-content: center;">
	  <div style="width: 360px; height: 640px; border: 1px solid black;" class="container">
	  <div style="width: 360px; height: 45px; background-color:red" class="header">
	    <a href="/">Com:pass 로고</a>
		<img src="../../photo/polaroid/menu.png" class="menu">
		  
	<div class="main">	  
		<h1>어릴 때의 내가 좋아했던 것은?</h1>
		<a href="/myself/polaroid/write" class="start">시작하기</a>
		<a href="/myself/polaroid/view" class="confirm">확인하기</a>
		<img src="../../photo/polaroid/main_flower.png" class="main_flower">
		<img src="../../photo/polaroid/main_photo.png" class="main_photo">
		<img src="../../photo/polaroid/main_camera.png" class="main_camera">

	</div>	  
	  
	  </div>
	</div>
	</div>
  </body>
</html>
	
	
	