<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title>어릴 때의 내가 좋아했던 것은?</title>	  
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<style>
  	  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style>  
	<link rel="stylesheet" href="/css/polaroid/polaroid.css">
	{% include "common.html" %}
  </head>
  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}   
	  <div class="previous-circle">
		<a href="/myself/polaroid">
		  <img src="/photo/main/previous.png" class="previous">
		  <span>메인 화면</span>
		</a>
	  </div>    
      <div class="main polaroid-{{ polaroid.color }}">
        <div class="polaroid polaroid-{{ polaroid.size }}"></div>
        <div class="sticker polaroid-{{ polaroid.color }} polaroid-{{ polaroid.size }}"></div>
        <img src="{{ polaroid.image }}" class="photo polaroid-{{ polaroid.size }}">
        <p class="polaroid-content polaroid-{{ polaroid.size }}">{{ polaroid.content }}</p>
	  </div>	  
    </div>
	{% include "menu/menu.html" %}
  </body>
  <script>
  window.onload = () => {
	let message = (new URLSearchParams(location.search)).get('message');
    
	if (message) {
	  switch (message) {
		case 'signupSuccess':
		  alert('회원 가입이 완료되었습니다. 보담길에 오신 것을 환영합니다.');
		  break;
	  }
	}
  };  
  </script>
</html>