<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title></title>	  
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style>  
	<link rel="stylesheet" href="../../../css/polaroid/success.css">
  </head>
  <body>
	<div style="display: flex; justify-content: center;">
	  <div style="width: 360px; height: 640px; border: 1px solid black;" class="container">
	  <div style="width: 360px; height: 45px; background-color:white" class="header">
	    <a href="/myself/polaroid"><img src="../../../photo/polaroid/previous.png" class="previous"></a>
		<span class="home">홈 화면</span>
		<img src="../../../photo/polaroid/trash.png" class="trash">
		<img src="../../../photo/polaroid/menu.png" class="menu">

    <div class="main polaroid-{{ polaroid.color }}">
		{% if polaroid.size == "horizontal" %}<div style="height: 53px; background: inherit;"></div>{% endif %}
		<div class="polaroid-download polaroid-{{ polaroid.color }} polaroid-{{ polaroid.size }} id-{{ polaroid.id }}">
        <div class="polaroid polaroid-{{ polaroid.size }}"></div>
        <div class="sticker polaroid-{{ polaroid.color }}"></div>
        <img src="../../../{{ polaroid.image }}" class="photo polaroid-{{ polaroid.size }}">
        <p class="polaroid-content polaroid-{{ polaroid.size }}">{{ polaroid.content }}</p>
    	</div>	  
        <div class="button">
			<a href="/myself/polaroid/write">
				<button class="button1">
					<img src="../../../photo/polaroid/last-again.png" class="last-again"><span class="last-again-content">다시하기</span>
				</button>
			</a>
			<button class="button2">
				<img src="../../../photo/polaroid/last-link.png" class="last-link"><span class="last-link-content">링크 복사하기</span>
			</button>
			<a href="/myself/polaroid/">
				<button class="button3">
					<img src="../../../photo/polaroid/home.png" class="last-home"><span class="last-home-content">홈으로 가기</span>
				</button>
			</a>
			<button class="image-download">
				<img src="../../../photo/polaroid/last-image.png" class="last-image"><span class="last-image-content">이미지로 저장</span>
			</button>
		</div>
		

    <div class="link-select-box">
        <div class="link-select"></div>
        <img src="../../../photo/polaroid/kakaotalk.png" class="kakaotalk"><span class="kakaotalkcontent">카카오톡</span>
		<button class="url-copy" data-clipboard-text=""><img src="../../../photo/polaroid/link.png" class="link"><span class="linkcontent">주소 복사</span></button>
    </div>
		  
</div>
		  
		  
	<div class="delete">
		<div class="black"></div>
		<div class="alert"></div>
		<div class="line1"></div>
		<div class="line2"></div>
		<p>해당 결과를 삭제하면<br>더이상 확인할 수 없어요.<br>결과를 정말 삭제하시겠어요?</p>
		<span class="no">취소</span>
		<span class="yes">삭제</span>
	</div>
</div>
</div>
</div>
</body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script>  
  <script>
	const linkSelectBox = document.querySelector('.link-select-box');  
	document.querySelector('.button2').addEventListener('click', (e) => {
		linkSelectBox.style.display = (linkSelectBox.style.display === 'none') ? 'block' : 'none';
	});
	  
	const deleteAlert = document.querySelector('.delete');  
	document.querySelector('.trash').addEventListener('click', (e) => {
		deleteAlert.style.display = (deleteAlert.style.display === 'none') ? 'block' : 'none';
	});
	  
	document.querySelector('.yes').addEventListener('click', (e) => {
		let id = document.querySelector('.polaroid-download').classList[3].split("-")[1];
		axios.delete(`/myself/polaroid/${id}`)
		  .catch((err) => {
			console.error(err);
		  })
		  .finally(() => {
			window.location.href = `${location.origin + '/myself/polaroid'}`;
		});
	});
	  
	document.querySelector('.no').addEventListener('click', (e) => {
		deleteAlert.style.display = 'none';
	});
	  
	// URL 복사
	document.querySelector('.url-copy').setAttribute("data-clipboard-text", `${location.origin + location.pathname.slice(0, -8)}`);
	const clipboard = new ClipboardJS('.url-copy');
      
        clipboard.on('success', function(e) {
            alert("URL 복사 완료!");
        });
      
        clipboard.on('error', function(e) {
            console.log(e);
        });
	
  // 이미지 저장  
  document.querySelector('.image-download').addEventListener('click', (e) => {
    domtoimage.toBlob(document.querySelector('.polaroid-download')).then(function (blob) {
      window.saveAs(blob, 'image.png');
    }); 
  });
  </script>
</html>