<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title></title>	  
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style>  
	<link rel="stylesheet" href="../../css/polaroid/view.css">
  </head>
  <body>
	<div style="display: flex; justify-content: center;">
	  <div style="width: 360px; height: 640px; border: 1px solid black;" class="container">
	  <div style="width: 360px; height: 45px; background-color:white" class="header">
	    <a href="/myself/polaroid"> <img src="../../photo/polaroid/previous.png" class="previous"></a>
		<span class="home">홈 화면</span>
		<img src="../../photo/polaroid/trash.png" class="trash">
		<img src="../../photo/polaroid/menu.png" class="menu">
    <div class="main">
        <div class="polaroid"></div>
        <div class="sticker"></div>
        <img src="../../{{ polaroid.image }}" class="photo">
        <p class="polaroid-content">{{ polaroid.content }}</p>
		
		<ul>
			<li><img src="../../photo/polaroid/last-link.png" class="last-link"><span class="last-link-content">링크 복사하기</span></li>
			<li><img src="../../photo/polaroid/last-image.png" class="last-image"><span class="last-image-content">이미지로 저장</span></li>
        </ul>
		<button class="back">BACK</button>
		<button class="next">NEXT</button>
	</div>	
		  
	<div class="delete">
		<div class="black"></div>
		<div class="alert"></div>
		<div class="line1"></div>
		<div class="line2"></div>
		<p>해당 결과를 삭제하면<br>더이상 확인할 수 없어요.<br>결과를 정말 삭제하시겠어요?</p>
		<span class="no">취소</span>
		<span class="yes">삭제</span>
	</div>
		  
</div>
</div>
</div>
</body>
</html>