<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title>어릴 때의 내가 좋아했던 것은? - 확인하기</title>	  
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">	
	<meta property="og:site_name" content="보담길" />
	<meta property="og:title" content="보담길" />
	<meta property="og:description"
      content="어릴 때의 내가 좋아했던 것은?" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.bodamgil.com" />
	<meta property="og:image"
      content="/photo/polaroid/polaroid_kakaotalk.png" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="보담길">
    <meta name="twitter:description" content="어릴 때의 내가 좋아했던 것은?">
    <meta name="twitter:image" content="/photo/polaroid/polaroid_kakaotalk.png">
	<link rel="stylesheet" href="/css/polaroid/main.css">

	<style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style>  
	<link rel="stylesheet" href="/css/polaroid/view.css">
	{% include "common.html" %}
  </head>
  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}    
	  <div class="previous-circle">
		<a href="/myself/polaroid">
		  <img src="/photo/main/previous.png" class="previous"  alt="뒤로가기">
		</a>
	  </div>     
	  <div class="trash-circle">
		<img src="/photo/polaroid/trash.png" class="trash"  alt="휴지통">
	  </div>
      <div class="main polaroid-{{ polaroids[0].color }}">
        <span class="name1">1</span>
        <span class="name2">/</span>
        <span class="name3">{{ polaroids.length }}</span>
	    {% for polaroid in polaroids %}
		  {% if polaroid.size == "horizontal" %}<div class="contents-{{ loop.index }}" style="height: 53px; background: inherit; {% if loop.index > 1 %}display: none;{% endif %}"></div>{% endif %}
		  <div class="download-container">
		    <div class="polaroid-download polaroid-{{ polaroid.color }} polaroid-{{ polaroid.size }} contents-{{ loop.index }} id-{{ polaroid.uuid }}" style="{% if loop.index > 1 %}display: none;{% endif %}">
              <div class="polaroid polaroid-{{ polaroid.size }}"></div>
              <div class="sticker polaroid-{{ polaroid.color }}"></div>
              <img src="{{ polaroid.image }}" class="photo polaroid-{{ polaroid.size }}"  alt="폴라로이드">
              <p class="polaroid-content polaroid-{{ polaroid.size }}">{{ polaroid.content }}</p>
			  <img src="/photo/main/weblogo.png" class="polaroid-logo"  alt="보담길 로고">
		    </div>
		  </div>
		{% endfor %}
		<div>
		  <button class="link-copy"><img src="/photo/polaroid/last-link.png" class="last-link"  alt="링크"><span class="last-link-content">링크 복사하기</span></button>
		  <button class="image-download"><img src="/photo/polaroid/last-image.png" class="last-image"  alt="저장"><span class="last-image-content">이미지로 저장</span></button>
        </div>
        <div class="link-select-box" style="display: none;">
          <div class="link-select"></div>
		  {% for polaroid in polaroids %}
          <button class="kakao-send contents-{{ loop.index }} id-{{ polaroid.uuid }}"><img src="/photo/polaroid/kakaotalk.png" class="kakaotalk"  alt="카카오톡"><span class="kakaotalkcontent">카카오톡</span></button>
		  <button class="url-copy contents-{{ loop.index }}" data-clipboard-text="{{ polaroid.uuid }}"><img src="/photo/polaroid/link.png" class="link"  alt="링크"><span class="linkcontent">주소 복사</span></button>
		  {% endfor %}
        </div>
		<img src="/photo/paperplane/back.png" class="back"  alt="이전">
		<img src="/photo/paperplane/next.png" class="next"  alt="이후">
	  </div>	
	  <div class="delete" style="display: none;">
		<div class="black"></div>
		<div class="alert"></div>
		<div class="line1"></div>
		<div class="line2"></div>
		<p>해당 결과를 삭제하면<br>더이상 확인할 수 없어요.<br>결과를 정말 삭제하시겠어요?</p>
		<span class="no">취소</span>
		<span class="yes">삭제</span>
	  </div>  
    </div>
  {% include "menu/menu.html" %}
</body>
  <script src="/js/changepage.js"></script>
  <script src="/js/polaroidcolor.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
  window.onload = () => {
	let message = (new URLSearchParams(location.search)).get('message');
    
	if (message) {
	  switch (message) {
		case 'signupSuccess':
		  alert('회원 가입이 완료되었습니다. 보담길에 오신 것을 환영합니다.');
		  break;
	  }
	}
  };  
	  
	document.querySelector('.back').addEventListener('click', () => {
	  let color = document.querySelector(`.polaroid-download.contents-${page}`).classList[1].split("-")[1];
	  changePolaroidColor(color);
	});
	  
	document.querySelector('.next').addEventListener('click', () => {
	  let color = document.querySelector(`.polaroid-download.contents-${page}`).classList[1].split("-")[1];
	  changePolaroidColor(color);
	});
	  
	const linkSelectBox = document.querySelector('.link-select-box');  
	document.querySelector('.link-copy').addEventListener('click', (e) => {
		linkSelectBox.style.display = (linkSelectBox.style.display === 'none') ? 'block' : 'none';
	});
	  
	const deleteAlert = document.querySelector('.delete');  
	document.querySelector('.trash').addEventListener('click', (e) => {
		deleteAlert.style.display = (deleteAlert.style.display === 'none') ? 'block' : 'none';
	});
	  
	document.querySelector('.yes').addEventListener('click', (e) => {
		let id = document.querySelector(`.polaroid-download.contents-${page}`).classList[4].slice(3);
		axios.delete(`/myself/polaroid/${id}`)
		  .catch((err) => {
			console.error(err);
		  })
		  .finally(() => {
			location.reload();
		});
	});
	  
	document.querySelector('.no').addEventListener('click', (e) => {
		deleteAlert.style.display = 'none';
	});
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script> 
  <script>
	// URL 복사
	document.querySelectorAll('.url-copy').forEach((button) => {
	  let id = button.getAttribute("data-clipboard-text");
	  button.setAttribute("data-clipboard-text", `${location.origin + location.pathname.slice(0, -4) + id}`);
	});
	const clipboard = new ClipboardJS('.url-copy');
      
        clipboard.on('success', function(e) {
            alert("URL 복사 완료!");
        });
      
        clipboard.on('error', function(e) {
            console.log(e);
        });
	
	// 이미지 저장 
  let scale = 3.5;
  document.querySelector('.image-download').addEventListener('click', (e) => {
    domtoimage.toBlob(document.querySelector(`.polaroid-download.contents-${page}`), {
	  width: document.querySelector(`.polaroid-download.contents-${page}`).clientWidth * scale,
	  height: document.querySelector(`.polaroid-download.contents-${page}`).clientHeight * scale,
	  style: {
        transform: `scale(${scale})`,
        transformOrigin: 'top left',
	  }
	}).then(function (blob) {
      window.saveAs(blob, 'bodamgil_polaroid.png');
    }); 
  });
  </script>
  <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.4.0/kakao.min.js" integrity="sha384-mXVrIX2T/Kszp6Z0aEWaA8Nm7J6/ZeWXbL8UpGRjKwWe56Srd/iyNmWMBhcItAjH" crossorigin="anonymous"></script>
  <script>
	// 카카오톡 공유
    Kakao.init('312ea14508757274fe50f9dbfc79956b');
	function shareKakao(id) {
      Kakao.Share.sendDefault({
        objectType: 'feed',
          content: {
            title: '어릴 때의 내가 좋아했던 것은?',
            description: '{{ user.name }} 님이 만든 폴라로이드 기록을 확인해보세요.',
            imageUrl: `${location.origin}/photo/polaroid/polaroid_main.png`,
            link: {
              mobileWebUrl: `${location.origin + location.pathname.slice(0, -4) + id}`,
              webUrl: `${location.origin + location.pathname.slice(0, -4) + id}`,
            },
          },
        buttons: [
          {
            title: '확인하기',
            link: {
              mobileWebUrl: `${location.origin + location.pathname.slice(0, -4) + id}`,
              webUrl: `${location.origin + location.pathname.slice(0, -4) + id}`,
            },
          },
        ],
      });
    }
	 
	document.querySelectorAll('.kakao-send').forEach((button) => {
	  button.addEventListener('click', () => {
	    let id = button.classList[2].slice(3);
		shareKakao(id);
	  });
	});
  </script> 
</html>