<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title></title>	  
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style>  
	<link rel="stylesheet" href="../../css/polaroid/view.css">
  </head>
  <body>
	<div style="display: flex; justify-content: center;">
	  <div style="width: 360px; height: 640px; border: 1px solid black;" class="container">
	  <div style="width: 360px; height: 45px; background-color:white" class="header">
	    <a href="/myself/polaroid"><img src="../../photo/polaroid/previous.png" class="previous"></a>
		<span class="home">홈 화면</span>
		<img src="../../photo/polaroid/trash.png" class="trash">
		<img src="../../photo/polaroid/menu.png" class="menu">
    <div class="main">
		<div class="number-block">
        <span class="name1"></span>
        <span class="name2">/</span>
        <span class="name3">{{ polaroids.length }}</span>
		</div>
	    {% for polaroid in polaroids %}
		<div class="polaroid-download polaroid-{{ polaroid.color }} polaroid-{{ polaroid.size }} contents-{{ loop.index }}">
        <div class="polaroid"></div>
        <div class="sticker"></div>
        <img src="../../{{ polaroid.image }}" class="photo">
        <p class="polaroid-content">{{ polaroid.content }}</p>
		</div>
		{% endfor %}

		<div>
			<button class="link-copy"><img src="../../photo/polaroid/last-link.png" class="last-link"><span class="last-link-content">링크 복사하기</span></button>
			<button class="image-download"><img src="../../photo/polaroid/last-image.png" class="last-image"><span class="last-image-content">이미지로 저장</span></button>
        </div>

        <div class="link-select-box">
            <div class="link-select"></div>
            <img src="../../photo/polaroid/kakaotalk.png" class="kakaotalk"><span class="kakaotalkcontent">카카오톡</span>
            <img src="../../photo/polaroid/instagram.png" class="instagram"><span class="instagramcontent">인스타그램</span>
            <img src="../../photo/polaroid/link.png" class="link"><span class="linkcontent">주소 복사</span>
        </div>

		<img src="../../../photo/paperplane/back.png" class="back">
		<img src="../../../photo/paperplane/next.png" class="next">
	</div>	
		  
	<div class="delete">
		<div class="black"></div>
		<div class="alert"></div>
		<div class="line1"></div>
		<div class="line2"></div>
		<p>해당 결과를 삭제하면<br>더이상 확인할 수 없어요.<br>결과를 정말 삭제하시겠어요?</p>
		<span class="no">취소</span>
		<span class="yes">삭제</span>
	</div>
		  
</div>
</div>
</div>
</body>
  <script src="../../../js/changepage.js"></script>
  <script src="../../../js/polaroidcolor.js"></script>
  <script src="../../../js/polaroidsize.js"></script>
  <script>
	const color = document.querySelector('.polaroid-download').classList[1].split("-")[1];
	changePolaroidColor(color);
	const size = document.querySelector('.polaroid-download').classList[2].split("-")[1];
	changePolaroidSize(size);
  </script>
  <script>
	document.querySelector('.back').addEventListener('click', () => {
	  let color = document.querySelector(`.polaroid-download.contents-${page}`).classList[1].split("-")[1];
	  let size = document.querySelector(`.polaroid-download.contents-${page}`).classList[2].split("-")[1];
	  changePolaroidColor(color);
	  changePolaroidSize(size);
	});
	document.querySelector('.next').addEventListener('click', () => {
	  let color = document.querySelector(`.polaroid-download.contents-${page}`).classList[1].split("-")[1];
	  let size = document.querySelector(`.polaroid-download.contents-${page}`).classList[2].split("-")[1];
		console.log(size);
	  changePolaroidColor(color);
	  changePolaroidSize(size);
	});
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script> 
  <script>
	document.querySelector('.image-download').addEventListener('click', (e) => {
      domtoimage.toBlob(document.querySelector(`.polaroid-download.contents-${page}`)).then(function (blob) {
        window.saveAs(blob, 'image.png');
	  });
	});
  </script>
</html>