html {
	height: 100%;
}

.main {
	position: absolute;
	width: 100%;
	background: #F5F8FF;
}

@media ( min-width: 1025px ) {
	.main {
		width: 1025px;
	}
	.main p {
		width: 1025px;
	}
}

h1{
	position: absolute;
	width: auto;
	left: calc(50% - 290.31px/2);
	top: 60px;

	font-family: 'Noto Sans KR';
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	color: #000000;
}

.main p{
	position: absolute;
	width: 100%;
	top: 97px;
	text-align: center;
	
	font-family: 'Noto Sans KR';
	font-weight: 300;
	font-size: 13px;
	line-height: 142%;
	text-align: center;
	color: #000000;
}

/*세 개 버튼*/
.main li {
	position: relative;
	border: 1px solid #BFBFBF;
	border-radius: 30px;
	top: 180px;
    left: calc(50% - 350px/2);
    margin-right: 5px;
    height: 40px;
    line-height: 40px;
    width: 98px;
	list-style: none;
	float: left;
}

.main li.active {
    transition: background-color .4s;
	cursor: pointer;
}

.main li.inactive {
	background: #BFBFBF;
}

.main li button{
	cursor: pointer;
}

.main li:last-child{
	 margin-right: 0px;
}

.main li.active:hover{
    background-color: #0066FF;
}

.url-copy, .kakao-send {
	border: none;
	background-color: transparent;
	padding: 0;
}
 
.main img {  
    position: absolute;
    top: 13px;
    left: 14px;
    display: inline-block;
    width: 16px;
    height: 16px;
    text-indent: -1000px;
    overflow: hidden;
    }
 
.main span {
    padding: 0 0 0 34px;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 30px;
	color: black;
}

.main a {
    padding: 0 0 0 36px;
	text-align: center;
	text-decoration: none;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 40px;
	color: black;
}

.jar{
	position: absolute;
	width: calc(83*2.5px);
	height: calc(128*2.5px);
	left: calc(50% - 83*2.5px/2 + 0.5px);
	top: 315px;
}


/*병 안에 종이비행기*/
.airplane10{
	position: absolute;
	width: 60px;
	height: 47.66px;
	left: calc(50% - 360px/2 + 85px);
	top: 490px;
	transform: rotate(42.22deg);	
}

.airplane9{
	position: absolute;
	width: 60px;
	height: 47.66px;
	left: calc(50% - 360px/2 + 215px);
	top: 520px;
	transform: rotate(-12.16deg);
}

.airplane8{
	position: absolute;
	width: 60px;
	height: 47.66px;
	left: calc(50% - 360px/2 + 185px);
	top: 512px;
	transform: rotate(20.78deg);	
}

.airplane7{
	position: absolute;
	width: 60px;
	height: 47.66px;
	left: calc(50% - 360px/2 + 170px);
	top: 525px;
	transform: rotate(158.2deg);	
}

.airplane6{
	position: absolute;
	width: 60px;
	height: 47.14px;
	left: calc(50% - 360px/2 + 120px);
	top: 515px;
	transform: rotate(18.34deg);
}

.airplane5{
	position: absolute;
	width: 60px;
	height: 47.66px;
	left: calc(50% - 360px/2 + 85px);
	top: 525px;
	transform: rotate(85.35deg);
}

.airplane4{
	position: absolute;
	width: 60px;
	height: 47.14px;
	left: calc(50% - 360px/2 + 205px);
	top: 547px;
	transform: rotate(32.43deg);
}

.airplane3{
	position: absolute;
	width: 60px;
	height: 47.66px;
	left: calc(50% - 360px/2 + 167px);
	top: 569px;
}

.airplane2{
	position: absolute;
	width: 60px;
	height: 47.66px;
	left: calc(50% - 360px/2 + 135px);
	top: 550px;
	transform: rotate(31.77deg);
}

.airplane1{
	position: absolute;
	width: 60px;
	height: 47.14px;
	left: calc(50% - 360px/2 + 93px);
	top: 561px;
}

/*확인하기 경고문*/
.alert-modal {
	display: none;
	transition: 0.3s;
}

.alert { 
	position: absolute;
	background: #FFFFFF; 
	width: 302px; 
	height: 10px;
	border-radius: 30px;
	border: 1px solid #BFBFBF;
	padding: 15px;
	top: 185px;
	left: calc(50% - 334px/2);
	
}
.alert:after { /*말풍선 꼭지*/
	top: 40px; /*말풍선꼭지위치 위아래*/
	left: 10%; /*말풍선위치 좌우*/
	transform: rotate(-180deg);
	border: 1px solid #BFBFBF;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent transparent #BFBFBF transparent; /*말풍선 꼭지방향*/
	border-width: 12px; /*말풍선 꼭지 사이즈*/
	margin-left: 125px; /*말풍선 상세위치 조정*/
}

.alert.right-alert:after {
	left: 42%;
}

.alert-content {
	position: absolute;
	width: auto;
	font-family: 'Noto Sans KR';
	font-weight: 400;
	font-size: 12px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FF0000;
}

.alert-content.not-owner-alert {
	top: 197px;
	left: calc(50% - 334px/2 + 38px);
}

.alert-content.owner-alert {
	top: 197px;
	left: calc(50% - 334px/2 + 43px);
}

.alert-content.no-paperplane-alert {
	top: 190px;
	left: calc(50% - 334px/2 + 45px);
	line-height: 15px;
}


/*링크복사하기 누르면 나오는 선택사항*/
.link-select-box {
	display: none;
}

.link-select { 
	position: absolute;
	background: #FFFFFF; 
	width: 95px; 
	height: 50px;
	border-radius: 10px;
	border: 1px solid #BFBFBF;
	padding:15px;
	top: 145px;
	left: calc(50% - 360px/2 + 30px);
	z-index: 1;
}
.link-select:after { /*말풍선 꼭지*/
	top: 80px; /*말풍선꼭지위치 위아래*/
	transform: rotate(-180deg);
	border: 1px solid #BFBFBF;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent transparent #BFBFBF transparent; /*말풍선 꼭지방향*/
	border-width: 10px; /*말풍선 꼭지 사이즈*/
	margin-left: 20px; /*말풍선 상세위치 조정*/
}

.kakaotalk{
    position: absolute;
    width: 30px;
    height: 30px;
    left: calc(50% - 360px/2 + 50px);
    top: 164px;
	cursor: pointer;
	z-index: 2;
}

.kakaotalkcontent{
    position: absolute;
    left: calc(50% - 360px/2 + 48px);
    top: 199px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    text-align: center;
    color: #000000;
	z-index: 2;
}

.link{
    position: absolute;
    width: 32px;
    height: 32px;
    left: calc(50% - 360px/2 + 107px);
    top: 164px;
    cursor: pointer;
	z-index: 2;
}

.linkcontent{
    position: absolute;
    left: calc(50% - 360px/2 + 103.5px);
    top: 199px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    text-align: center;
    color: #000000;
	z-index: 2;
}