html {
	height: 100%;
}

.main {
	position: absolute;
	width: 100%;
	background: #F5F8FF;
}

.previous-circle {
	border: 1px solid #0066FF!important;
}

.previous-circle:hover {
    background-color: #0066FF!important;
}

@media ( min-width: 1025px ) {
	.main {
		width: 1025px;
	}
	.main h1 {
		width: 1025px;
	}
}

.main h1{
	position: absolute;
	width: 100%;
	top: 65px;
	text-align: center;
	font-family: 'Noto Sans KR';
	font-weight: 700;
	font-size: 16px;
	line-height: 142%;
	text-align: center;
	color: #000000;	
}

.main .relationship{
	border-radius: 30px;
	background-color: #F2F2F2;

	position: absolute;
	width: 81px;
	height: 26px;
	left: calc(50% - 360px/2 + 50px);
	top: 165px;
	
	font-family: 'Noto Sans KR';
	font-weight: 400;
	font-size: 12px;
	text-align: center;
	line-height: 26px;
}

.main .name{
	border-radius: 30px;
	background-color: #F2F2F2;

	position: absolute;
	width: 166px;
	height: 26px;
	left: calc(50% - 360px/2 + 143px);
	top: 165px;
	
	font-family: 'Noto Sans KR';
	font-weight: 400;
	font-size: 12px;
	text-align: center;
	line-height: 26px;
}

.main .line{
	position: absolute;
	width: 256px;
	height: 0px;
	left: calc(50% - 360px/2 + 52px);
	top: 205px;
	border: 0.01px solid #BFBFBF;
}

.main .content{
    position: absolute;
    width: 256px;
	left: calc(50% - 360px/2 + 52px);
	top: 215px;

    font-family: 'Noto Sans KR';
	font-weight: 300;
	font-size: 12px;
	text-align: left;
	word-break: break-all;
}

.main .note{
	box-sizing: border-box;
	position: absolute;
	width: 304px;
	height: 401px;
	left: calc(50% - 304px/2);
	top: 148px;

	background: #FFFFFF;
	border: 1px solid #BFBFBF;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

/* 맨 위에 현재 숫자*/
.name1{
    position: absolute;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 14px;
    top: 585px;
	left: calc(50% - 360px/2 + 157px);
	text-align: center;
}

.name2{
    position: absolute;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 14px;
    top: 585px;
	left: calc(50% - 360px/2 + 180px);
	text-align: center;
}

.name3{
    position: absolute;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 14px;
    top: 585px;
	left: calc(50% - 360px/2 + 198px);
	text-align: center;
}

/*next 버튼*/
.next{
	position: absolute;
	width: 32px;
	height: 32px;
	right: 10%;
	top: 578px;
	cursor: pointer;
}

/*back 버튼*/
.back{
	position: absolute;
	width: 32px;
	height: 32px;
	left: 10%;
	top: 578px;
	cursor: pointer;
}
