/* 전체화면 */

.previous-circle {
	border: 1px solid #0066FF!important;
}

.previous-circle:hover {
    background-color: #0066FF!important;
}
.header{
	position: relative;
}

.previous{
	width: 13px;
	height: 10px;
	position: absolute;
	left: 16px;
	top: 17.5px;
	cursor: pointer;
}

.menu{
	position: absolute;
	width: 25px;
	height: 25px;
	left: 319px;
	top: 9.5px;	
	cursor: pointer;
}

.main{
	position: absolute;
	width: 360px;
	height: 595px;
	top: 45px;	
	background: #F5F8FF;
}

h1{
position: absolute;
width: auto;
margin: 0 59px;
top: 30px;

font-family: 'Noto Sans KR';
font-weight: 700;
font-size: 20px;
line-height: 142%;
text-align: center;
color: #000000;	
}

.relationship{
	border-radius: 30px;
	background-color: #F2F2F2;

	position: absolute;
	width: 81px;
	height: 26px;
	left: 50px;
	top: 125px;
	
	font-family: 'Noto Sans KR';
	font-weight: 400;
	font-size: 12px;
	text-align: center;
	line-height: 26px;
}

.name{
	border-radius: 30px;
	background-color: #F2F2F2;

	position: absolute;
	width: 166px;
	height: 26px;
	left: 143px;
	top: 125px;
	
	font-family: 'Noto Sans KR';
	font-weight: 400;
	font-size: 12px;
	text-align: center;
	line-height: 26px;
}

.line{
	position: absolute;
	width: 256px;
	height: 0px;
	left: 52px;
	top: 165px;
	border: 0.01px solid #BFBFBF;
}

.content{
    position: absolute;
    width: 256px;
	left: 52px;
	top: 175px;

    font-family: 'Noto Sans KR';
	font-weight: 300;
	font-size: 12px;
	text-align: left;
	word-break: break-all;
}

.note{
	box-sizing: border-box;
	position: absolute;
	width: 304px;
	height: 401px;
	left: calc(50% - 304px/2);
	top: 108px;

	background: #FFFFFF;
	border: 1px solid #BFBFBF;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

/* 맨 위에 현재 숫자*/
.name1{
    position: absolute;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 14px;
    padding: 545px 0 0 157px;
	text-align: center;
}

.name2{
    position: absolute;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 14px;
    padding: 545px 0 0 180px;
	text-align: center;
}

.name3{
    position: absolute;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 14px;
    padding: 545px 0 0 198px;
	text-align: center;
}

/*next 버튼*/
.next{
	position: absolute;
	width: 32px;
	height: 32px;
	right: 20px;
	top: 538px;
	cursor: pointer;
}

/*back 버튼*/
.back{
	position: absolute;
	width: 32px;
	height: 32px;
	left: 20px;
	top: 538px;
	cursor: pointer;
}
