html {
	height: 100%;
}

.main {
	position: absolute;
	width: 100%;
	background: #F5F8FF;
}

@media ( min-width: 1025px ) {
	.main {
		width: 1025px;
	}
}

.main img{
    position: absolute;
    width: 70px;
    height: 70px;
    left: calc(50% - 70px/2 + 1px);
    top: 150px;
}

.main p{
    position: absolute;
    left: calc(50% - 188px/2 + 1px);
    top: 230px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #000000;
}

.more{
    position: absolute;
    width: 255px;
    height: 40px;
    left: calc(50% - 255px/2 - 0.5px);
    top: 300px;
    background: #FFFFFF;
    border: 1px solid #0066FF;
    border-radius: 30px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 40px;
    display: block;
    text-align: center;
	text-decoration: none;
    color: #0066FF;

    cursor: pointer;
    transition: all .4s;
}

.more:hover{
    background-color: #0066FF;
	color: white;
}

.check{
    position: absolute;
    width: 255px;
    height: 40px;
    left: calc(50% - 255px/2 - 0.5px);
    top: 350px;
    background: #FFFFFF;
    border: 1px solid #0066FF;
    border-radius: 30px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 40px;
    display: block;
    text-align: center;
	text-decoration: none;
    color: #0066FF;

    cursor: pointer;
    transition: all .4s;
}

.check:hover{
    background-color: #0066FF;
	color: white;
}
