/* 전체화면 */
.header{
	position: relative;
}

.previous{
	width: 13px;
	height: 10px;
	position: absolute;
	left: 16px;
	top: 17.5px;
}

.home{
	position: absolute;
	left: 38px;
	top: 17.5px;

	font-family: 'Noto Sans KR';
	font-weight: 400;
	font-size: 14px;
	line-height: 10px;
	text-align: center;

	color: #000000;
}

.menu{
	position: absolute;
	width: 25px;
	height: 25px;
	left: 319px;
	top: 9.5px;	
}

.main{
	position: absolute;
	width: 360px;
	height: 595px;
	top: 45px;	
	background: #F5F8FF;
}

.progress{
	box-sizing: border-box;
	position: absolute;
	width: 360px;
	height: 16px;
	background: #FFFFFF;
	border: 0.1px solid #BFBFBF;
}

.progress-color{
	box-sizing: border-box;
	position: absolute;
	width: 90px;
	height: 16px;
	background: #0066FF;
	border: 0.1px solid #BFBFBF;
}

h1{
	position: absolute;
	width: auto;
	left: calc(50% - 211px/2 - 53.5px);
	top: 25px;

	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: #000000;
}


.content1{
	position: absolute;
	width: 260px;
	height: 40px;
	left: 30px;
	top: 76px;
	background: #FFFFFF;
	border: 0.5px solid #BFBFBF;
	border-radius: 10px;

	position: absolute;
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 142%;
	color: #000000;	
	padding: 20px 20px 20px 20px;
}

.content2{
	position: absolute;
	width: 260px;
	height: 40px;
	left: 30px;
	top: 168px;
	background: #FFFFFF;
	border: 0.5px solid #BFBFBF;
	border-radius: 10px;

	position: absolute;
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 142%;
	color: #000000;	
	padding: 20px 20px 20px 20px;
}

.content3{
	position: absolute;
	width: 260px;
	height: 40px;
	left: 30px;
	top: 260px;
	background: #FFFFFF;
	border: 0.5px solid #BFBFBF;
	border-radius: 10px;

	position: absolute;
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 142%;
	color: #000000;	
	padding: 20px 20px 20px 20px;
}

.content4{
	position: absolute;
	width: 260px;
	height: 40px;
	left: 30px;
	top: 352px;
	background: #FFFFFF;
	border: 0.5px solid #BFBFBF;
	border-radius: 10px;

	position: absolute;
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 142%;
	color: #000000;	
	padding: 20px 20px 20px 20px;
}


/*next 버튼*/
.next{
	border: 1px solid #0066FF;
	border-radius: 30px;

	position: absolute;
	width: 100px;
	height: 32px;
	right: 16px;
	bottom: 20px;
	
	font-family: 'Noto Sans KR';
	font-weight: 300;
	font-size: 14px;
	background-color: white;
	text-align: center;
	line-height: 20px;
	color: #0066FF;
	
	cursor: pointer;
    transition: all .4s;
}

.next:hover{
    background-color: #0066FF;
	color: white;
}