/* 전체화면 */
.header{
	position: relative;
}

.previous{
	width: 13px;
	height: 10px;
	position: absolute;
	left: 16px;
	top: 17.5px;
}

.home{
	position: absolute;
	left: 38px;
	top: 17.5px;

	font-family: 'Noto Sans KR';
	font-weight: 400;
	font-size: 14px;
	line-height: 10px;
	text-align: center;

	color: #000000;
}

.menu{
	position: absolute;
	width: 25px;
	height: 25px;
	left: 319px;
	top: 9.5px;	
}

.main{
	position: absolute;
	width: 360px;
	height: 595px;
	top: 45px;	
	background: #F5F8FF;
}

.progress{
	box-sizing: border-box;
	position: absolute;
	width: 360px;
	height: 16px;
	background: #FFFFFF;
	border: 0.1px solid #BFBFBF;
}

.progress-color{
	box-sizing: border-box;
	position: absolute;
	width: 360px;
	height: 16px;
	background: #0066FF;
	border: 0.1px solid #BFBFBF;
}

h1{
	position: absolute;
	width: auto;
	left: calc(50% - 211px/2 - 53.5px);
	top: 25px;

	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: #000000;
}

.name{
    position: absolute;
    width: 300px;
    height: 50px;
    left: 19px;
    top: 92px;
    background: #FFFFFF;
    border: 0.5px solid #BFBFBF;
    border-radius: 10px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 50px;
    color: #BFBFBF;
    padding: 0 0 0 20px;
}

.message{
    position: absolute;
    width: 300px;
    height: 333px;
    left: 19px;
    top: 153px;
    background: #FFFFFF;
    border: 0.5px solid #BFBFBF;
    border-radius: 10px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 50px;
    color: #BFBFBF;
    padding: 0 0 0 20px;
}


/*back 버튼*/
.back{
	border: 1px solid #0066FF;
	border-radius: 30px;

	position: absolute;
	width: 100px;
	height: 32px;
	left: 16px;
	top: 583px;
	
	font-family: 'Noto Sans KR';
	font-weight: 300;
	font-size: 14px;
	background-color: white;
	text-align: center;
	line-height: 20px;
	color: #0066FF;
	
	cursor: pointer;
    transition: all .4s;
}

.back:hover{
    background-color: #0066FF;
	color: white;
}

/*next 버튼*/
.next{
	border: 1px solid #0066FF;
	border-radius: 30px;

	position: absolute;
	width: 100px;
	height: 32px;
	right: 16px;
	top: 583px;
	
	font-family: 'Noto Sans KR';
	font-weight: 300;
	font-size: 14px;
	background-color: white;
	text-align: center;
	line-height: 20px;
	color: #0066FF;
	
	cursor: pointer;
    transition: all .4s;
}

.next:hover{
    background-color: #0066FF;
	color: white;
}

/*이미지 삭제*/
.black{
	position: relative;
	width: 360px;
	height: 640px;
	left: 0px;
	top: 0px;
	background: rgba(0, 0, 0, 0.3);
}

.alert{
	position: absolute;
	width: 290px;
	height: 153px;
	left: calc(50% - 290px/2);
	top: 243px;
	background: #FFFFFF;
	border-radius: 10px;	
}

.delete p{
	position: absolute;
	width: auto;
	left: 86px;
	top: 250px;

	font-family: 'Noto Sans KR';
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	color: #000000;
}

.no{
    border: 1px solid #BFBFBF;
	border-radius: 10px;

	position: absolute;
	width: 120px;
	height: 40px;
	left: 55px;
	top: 337px;

	font-family: 'Noto Sans KR';
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	color: #000000;
    line-height: 40px;
	cursor: pointer;
    transition: all .4s;
}

.yes{
	border: 1px solid #BFBFBF;
	border-radius: 10px;

	position: absolute;
	width: 120px;
	height: 40px;
	left: 188px;
	top: 337px;

	font-family: 'Noto Sans KR';
	font-weight: 400;
	font-size: 16px;
	text-align: center;
    background-color: #0066FF;
	color: white;
    line-height: 40px;
	cursor: pointer;
    transition: all .4s;
}