
a {
    text-decoration: none;
    color: black;
}


/*content1*/
.content1{
	width: 100%;
    height: 640px;
}
.content1 .white{
    position: absolute;
    width: 100%;
    height: 640px;
    background-color: white;
}
.content1 .background{
    position: absolute;
    width: 100%;
    height: 460px;
    background-color: #F1D6CB;
}

.about{
    position: absolute;
    left: calc(50% - 85px/2 - 0.5px);
    top: 96px;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.content1 .explain{
	position: absolute;
	top: 140px;
	animation: slide1 1s ease-out;
	left: calc(50% - 320px/2 + 0.5px);
	 
}
.content1 .aboutexplain1{
    position: absolute;
    width: 320px;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    align-items: center;
    text-align: center;
    color: #000000;   
	
}
.content1 .aboutexplain2{
    position: absolute;
    width: 320px;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    align-items: center;
    text-align: center;
    color: #000000;
	padding: 120px 0 0 0;
	
}

.content1 .aboutphoto{
	position: absolute;
	width: 320px;
	height: 212px;
	left: calc(50% - 320px/2 + 4px);
	top: 370px;
	background: #D9D9D9;
}

/*content2*/
.content2{
	width: 100%;
    height: 640px;
}
.content2 .white{
    position: absolute;
    width: 100%;
    height: 640px;
    background-color: white;
}
.content2 .background{
    position: absolute;
    width: 100%;
    height: 460px;
    background-color: #FDF5DE;
}
.content2 .explain{
	position: absolute;
	top: 740px;
	animation: slide2 1s ease-out;
	left: calc(50% - 320px/2 + 0.5px);
	 
}
.content2 .aboutexplain1{
    position: absolute;
    width: 320px;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    align-items: center;
    text-align: center;
    color: #000000;    
}
.content2 .aboutexplain2{
    position: absolute;
    width: 320px;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    align-items: center;
    text-align: center;
    color: #000000;
	padding: 50px 0 0 0;
}
.content2 .aboutexplain3{
    position: absolute;
    width: 320px;
    height: 60px;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    align-items: center;
    text-align: center;
    color: #000000;    
	padding: 130px 0 0 0;
}
.content2 .aboutphoto{
	position: absolute;
	width: 320px;
	height: 212px;
	left: calc(50% - 320px/2 + 4px);
	top: 1010px;
	background: #D9D9D9;
}

/*content3*/
.content3{
	width: 100%;
    height: 640px;
}
.content3 .white{
    position: absolute;
    width: 100%;
    height: 640px;
    background-color: white;
}
.content3 .background{
    position: absolute;
    width: 100%;
    height: 460px;
    background-color: #E7EEF9;
}
.content3 .explain{
	position: absolute;
	top: 1400px;
	animation: slide3 1s ease-out;
	left: calc(50% - 320px/2 + 0.5px);
	 
}
.content3 .aboutexplain1{
    position: absolute;
    width: 320px;
    height: 60px;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    align-items: center;
    text-align: center;
    color: #000000;    
}
.content3 .aboutexplain2{
    position: absolute;
    width: 320px;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    align-items: center;
    text-align: center;
    color: #000000;
	padding: 150px 0 0 0;
}
.content3 .aboutphoto{
	position: absolute;
	width: 320px;
	height: 212px;
	left: calc(50% - 320px/2 + 4px);
	top: 1650px;
	background: #D9D9D9;
}



@media ( min-width: 1025px ) {
    .content1, .content2, .content3{
        display: flex;
        justify-content: center;    
		height: 500px;
    }
    .content1 .background{
        width: 1024px;
        height: 640px;
        top: 60px;
		margin: 0;
    }
	 .content2 .background{
		position: relative;
        width: 1024px;
        height: 640px;
    }
	.content3 .background{
        width: 1024px;
        height: 640px;
    }
    .about{
        left: calc(50% - 110px/2 + 123px);
        top: 150px;
        font-size: 28px;
        text-align: left;
    }
    .content1 .aboutexplain1{
        width: 377px;
        left: calc(50% - 110px/2 + 123px);
        top: 210px;
        font-size: 14px;
        text-align: left;
		line-height: 150%;
    }
    .content1 .aboutexplain2{
        width: 377px;
        left: calc(50% - 110px/2 + 123px);
        top: 320px;
        font-size: 20px;
        text-align: left;
		line-height: 150%;
    }
    .content1 .aboutphoto{
        width: 512px;
        height: 640px;
        left: calc(50% - 512px/2 - 256px);
        top: 60px;
    }

    .content2 .aboutexplain1{
        left: calc(50% - 226px/2 - 350px);
        top: 620px;
        font-size: 14px;
        text-align: left;
		line-height: 150%;
		width: 377px;
    }
    .content2 .aboutexplain2{
        left: calc(50% - 226px/2 - 350px);
        top: 670px;
        font-size: 20px;
        text-align: left;
		line-height: 150%;
		width: 377px;
    }
	.content2 .aboutexplain3{
        left: calc(50% - 226px/2 - 350px);
        top: 760px;
        font-size: 14px;
        text-align: left;
		line-height: 150%;
		width: 377px;
    }
	.content2 .aboutphoto{
		width: 512px;
        height: 640px;
        left: calc(50% - 512px/2 + 256px);
		top: 559px;
    }
	
    .content3 .aboutexplain1{
        width: 377px;
        left: calc(50% - 110px/2 + 123px);
        top: 1150px;
        font-size: 14px;
        text-align: left;
		line-height: 150%;
    }
    .content3 .aboutexplain2{
       width: 400px;
        left: calc(50% - 110px/2 + 123px);
        top: 1300px;
        font-size: 20px;
        text-align: center;
		line-height: 150%;
    }
	 .content3 .aboutphoto{
       width: 512px;
        height: 640px;
        left: calc(50% - 512px/2 - 256px);
        top: 1059px;
    }
    

}
/*footer*/
  .footer {
    position: relative;
    background-color: #D9D9D9;
    height: 225px;
    top: 20px;
  }
  .footer .logo{
	position: absolute;
	width: 80px;
	height: 21px;
    padding: 17px 0 0 10px;
}
  .instagram{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 15px;
    top: 65px;
  }
  .blog{
    position: absolute;
    width: 28px;
    height: 25px;
    left: 65px;
    top: 65px;
  }
  .youtube{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 122px;
    top: 63px;
  }
  .aboutus{
    position: absolute;
    left: 15px;
    top: 112px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #000000;
  }
  .line1{
    position: absolute;
    width: 11px;
    left: 97px;
    top: 122px;
    border: 0.05px solid #7D7D7D;
    transform: rotate(90deg);
  }
  .notice{
    position: absolute;
    left: 125px;
    top: 112px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #000000;
  }
  .line2{
    position: absolute;
    width: 11px;
    left: 192px;
    top: 122px;
    border: 0.05px solid #7D7D7D;
    transform: rotate(90deg);
  }
  .FAQ{
    position: absolute;
    left: 225px;
    top: 112px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #000000;
  }
  .write{
    position: absolute;
    left: 15px;
    top: 137px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    color: #000000;
  }
  .contact{
    position: absolute;
    left: 15px;
    top: 170px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    color: #000000;
  }

@keyframes slide1{
	from{top: 400px; opacity: 0;}
	to{top: 140px;opacity: 1;}
}
@keyframes slide2{
	from{top: 1000px; opacity: 0;}
	to{top: 740px;opacity: 1;}
}
@keyframes slide3{
	from{top: 1700px; opacity: 0;}
	to{top: 1400px;opacity: 1;}
}
