.container{
    width: 700px; 
    height: 470px; 
    border: 1px solid black;
}

/*header*/
.header {
    position: relative;
    background-color: white;
    height: 45px;
    font-size: 14px;
    margin: 0;
    padding: 0px;
  }
.title {
    position: absolute;
    font-size: 1.3em;
    left: 20px;
    top: 10px;
    color: black;
}
.menuimage{
	position: absolute;
	width: 25px;
	height: 25px;
    right: 20px;
    top: 10px;
}
a {
    text-decoration: none;
    color: black;
}
.passwordchange{
    position: absolute;
    left: calc(50% - 115px/2 - 251.5px);
    top: 68px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}
.exit{
    position: absolute;
    width: 16px;
    height: 16px;
    left: calc(50% + 290px);
    top: 73px;
    cursor: pointer;
}
.line{
    position: absolute;
    width: 640px;
    height: 0px;
    top: 110px;
    border: 1px solid #BFBFBF;
    left: calc(50% - 320px);
}
.passwordchange_context{
    position: absolute;
    left: calc(50% - 476px/2);
    top: 125px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 165%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

/*폼*/
#currentpassword{
    position: absolute;
    width: 500px;
    height: 40px;
    left: calc(50% - 500px/2);
    top: 240px;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
}
#newpassword{
    position: absolute;
    width: 500px;
    height: 40px;
    left: calc(50% - 500px/2);
    top: 290px;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
}
#newpasswordcheck{
    position: absolute;
    width: 500px;
    height: 40px;
    left: calc(50% - 500px/2);
    top: 340px;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
}
input::placeholder{
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 12px;
    padding: 0 0 0 15px;
}
.change{
    border-style: none;
    position: absolute;
    width: 149px;
    height: 50px;
    left: calc(50% - 300px/2 - 1px);
    top: 410px;
    background: #FF731D;
    border-radius: 10px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer
}

.nochange{
    border-style: none;
    position: absolute;
    width: 149px;
    height: 50px;
    left: calc(50% + 2px);
    top: 410px;
    border: 1px solid #BFBFBF;
    background-color: white;
    border-radius: 10px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 14px;
    color: black;
    cursor: pointer
}


@media ( min-width: 1025px ) {
    .passwordchange{
        font-size: 18px;
    }
    .passwordchange_context{
        font-size: 14px;
    }
    #password{
        width: 400px;
        left: calc(50% - 400px/2);
    }
    #passwordcheck{
        width: 400px;
        left: calc(50% - 400px/2);
    }
    .login{
        left: calc(50% - 300px/2);
        width: 300px;
        height: 50px;
        top: 340px;
    }
    input::placeholder{
        font-size: 14px;
        padding: 0 0 0 20px;
    }
}