/*header*/
.header {
    position: relative;
    background-color: white;
    height: 45px;
    font-size: 14px;
    margin: 0;
    padding: 0px;
  }
.title {
    position: absolute;
    font-size: 1.3em;
    left: 20px;
    top: 10px;
    color: black;
}
.menuimage{
	position: absolute;
	width: 25px;
	height: 25px;
  right: 20px;
  top: 10px;
}
a {
    text-decoration: none;
    color: black;
}
.exit{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 16px;
    top: 68px;
    cursor: pointer;
}
.passwordchange{
    position: absolute;
    left: calc(50% - 92px/2 - 4px);
    top: 100px;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.passwordchange_context{
    position: absolute;
    left: calc(50% - 306px/2 - 5px);
    top: 130px;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

/*폼*/
#currentpassword{
    position: absolute;
    width: 300px;
    height: 40px;
    left: calc(50% - 300px/2 - 1px);
    top: 240px;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
}
#newpassword{
    position: absolute;
    width: 300px;
    height: 40px;
    left: calc(50% - 300px/2 - 1px);
    top: 290px;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
}
#newpasswordcheck{
    position: absolute;
    width: 300px;
    height: 40px;
    left: calc(50% - 300px/2 - 1px);
    top: 340px;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
}
input::placeholder{
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 12px;
    padding: 0 0 0 15px;
}
.change{
    border-style: none;
    position: absolute;
    width: 149px;
    height: 50px;
    left: calc(50% - 300px/2 - 1px);
    top: 410px;
    background: #FF731D;
    border-radius: 10px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer
}

.nochange{
    border-style: none;
    position: absolute;
    width: 149px;
    height: 50px;
    left: calc(50% + 2px);
    top: 410px;
    border: 1px solid #BFBFBF;
    background-color: white;
    border-radius: 10px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 14px;
    color: black;
    cursor: pointer
}
