a {
    text-decoration: none;
    color: black;
}
/*
.exit{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 16px;
    top: 68px;
    cursor: pointer;
}
*/
.passwordchange{
    position: absolute;
    left: calc(50% - 92.81px/2);
    top: 130px;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.passwordchange_context{
    position: absolute;
    left: calc(50% - 306px/2 - 5px);
    top: 130px;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

/*폼*/
#changeForm{
    width: 320px;
    margin: 120px auto 0px auto;
}
#changeForm .field{
	margin: 5px 0;
	height: 100px;
}
#changeForm span{
	display: block;
	margin-bottom: 5px;
	font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 14px;
}
#changeForm p{
	position: absolute;	
	font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 10px;
	color: red;
	display: flex;
    align-items: center;
	padding: 0px 0 0 8px;
	display: none;
	margin-top: 6px;
}
#changeForm input{
    width: 314px;
    height: 50px;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
	padding: 0 0 0 10px;
}
input::placeholder{
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 10px;
    padding: 0 0 0 5px;
}
.change{
    border-style: none;
    position: absolute;
    width: 300px;
    height: 50px;
    left: calc(50% - 300px/2);
    top: 520px;
    background: #FF731D;
    border-radius: 10px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer
}

.invalid {
	background-color: #ffe1e1!important;
}

.invalid + p {
	display: block!important;
}


@media ( min-width: 1025px ) {
    #changeForm{
		width: 500px;
	}
	#changeForm .field{
		margin-bottom: 10px;
	}
	#changeForm span{
		font-size: 16px;
	}
	#changeForm p{
		font-size: 12px;
		margin-top: 0px;
	}
	#changeForm input{
		width: 480px;
		padding: 5px;
		margin-bottom: 5px;
		padding: 0 0 0 15px;
	}
	input::placeholder{
		font-size: 12px;
		padding: 0 0 0 5px;
	}
	.change{
		width: 460px;
    	left: calc(50% - 460px/2);
	}
}

/*
.nochange{
    border-style: none;
    position: absolute;
    width: 149px;
    height: 50px;
    left: calc(50% + 2px);
    top: 520px;
    border: 1px solid #BFBFBF;
    background-color: white;
    border-radius: 10px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 14px;
    color: black;
    cursor: pointer
}
*/

/* desktop

.container{
    width: 700px; 
    height: 470px; 
    border: 1px solid black;
}

.header {
    position: relative;
    background-color: white;
    height: 45px;
    font-size: 14px;
    margin: 0;
    padding: 0px;
  }
.title {
    position: absolute;
    font-size: 1.3em;
    left: 20px;
    top: 10px;
    color: black;
}
.menuimage{
	position: absolute;
	width: 25px;
	height: 25px;
    right: 20px;
    top: 10px;
}
a {
    text-decoration: none;
    color: black;
}
.passwordchange{
    position: absolute;
    left: calc(50% - 115px/2 - 251.5px);
    top: 68px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}
.exit{
    position: absolute;
    width: 16px;
    height: 16px;
    left: calc(50% + 290px);
    top: 73px;
    cursor: pointer;
}
.line{
    position: absolute;
    width: 640px;
    height: 0px;
    top: 110px;
    border: 1px solid #BFBFBF;
    left: calc(50% - 320px);
}
.passwordchange_context{
    position: absolute;
    left: calc(50% - 476px/2);
    top: 125px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 165%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

#currentpassword{
    position: absolute;
    width: 500px;
    height: 40px;
    left: calc(50% - 500px/2);
    top: 240px;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
}
#newpassword{
    position: absolute;
    width: 500px;
    height: 40px;
    left: calc(50% - 500px/2);
    top: 290px;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
}
#newpasswordcheck{
    position: absolute;
    width: 500px;
    height: 40px;
    left: calc(50% - 500px/2);
    top: 340px;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
}
input::placeholder{
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 12px;
    padding: 0 0 0 15px;
}
.change{
    border-style: none;
    position: absolute;
    width: 149px;
    height: 50px;
    left: calc(50% - 300px/2 - 1px);
    top: 410px;
    background: #FF731D;
    border-radius: 10px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer
}

.nochange{
    border-style: none;
    position: absolute;
    width: 149px;
    height: 50px;
    left: calc(50% + 2px);
    top: 410px;
    border: 1px solid #BFBFBF;
    background-color: white;
    border-radius: 10px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 14px;
    color: black;
    cursor: pointer
}


@media ( min-width: 1025px ) {
    .passwordchange{
        font-size: 18px;
    }
    .passwordchange_context{
        font-size: 14px;
    }
    #password{
        width: 400px;
        left: calc(50% - 400px/2);
    }
    #passwordcheck{
        width: 400px;
        left: calc(50% - 400px/2);
    }
    .login{
        left: calc(50% - 300px/2);
        width: 300px;
        height: 50px;
        top: 340px;
    }
    input::placeholder{
        font-size: 14px;
        padding: 0 0 0 20px;
    }
}

*/