a {
    text-decoration: none;
    color: black;
}

.FAQ{
    position: absolute;
	left: calc(50% - 36.86px/2);
    top: 80px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

/*nav*/
.content nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 87px 0 0 0;
}
.content nav ul li{
	position: relative;
    padding: 20px 35px;
    font-family: 'Noto Sans KR';
	font-weight: 300;
	font-size: 12px;
    border-bottom: 0.3px solid #BFBFBF;
}

.content img{
	position: absolute;
	width: 10px;
	height: 10px;
	right: 20px;
	top: 50%;
}


/*
.content nav ul li div {
    padding: 20px 30px;
}
*/
.content nav ul li span{
    font-family: 'Noto Sans KR';
	font-weight: 400;
	font-size: 14px;
    color:#FF731D;
	line-height: 170%;
	width: 20%
}
.content nav ul li:last-child{
    border-bottom: none;
}
.content nav ul li:first-child{
    border-top: 0.3px solid #BFBFBF;
}

.content nav ul li p{
    padding: 0px 15px;
    font-family: 'Noto Sans KR';
	font-weight: 300;
	font-size: 12px;
    line-height: 170%;
    border-bottom: none;
}


.answer-open{
	transform:  translateY(-50%) rotate(270deg);
}
.answer-close{ 
    transform: translateY(-50%) rotate(0deg); 
}

	
@media ( min-width: 1025px ) {
    .FAQ{
        top: 90px;
		left: calc(50% - 44.24px/2);
        font-size: 24px;
    }
    .content nav ul{
        margin: 100px 0 0 0;
    }
    .content nav ul li{
        font-size: 14px;
    }
	/*
	.content nav ul li div{
        padding: 20px 40px;
	}
	*/
    .content nav ul li span{
        font-size: 16px;
    }
    .content nav ul li p{
        font-size: 14px;
    }
	.content img{
		
		right: calc(50% - 495px);
	}
}