a {
    text-decoration: none;
    color: black;
}

.header {
    position: relative;
    background-color: white;
    height: 45px; /* 70px */
    font-size: 14px;
    margin: 0;
    padding: 0px;
  }
.menuimage{
	position: absolute;
	width: 25px;
	height: 25px;
  right: 20px;
  top: 10px;
	cursor:pointer;
}
.previous{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 16px;
    top: 15px;
    cursor: pointer;
}

.FAQ{
    position: absolute;
    left: calc(50% - 38px/2 - 1px);
    top: 80px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

/*nav*/
.content nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 87px 0 0 0;
}
.content nav ul li{
    padding: 20px 30px;
    font-family: 'Noto Sans KR';
	font-weight: 300;
	font-size: 12px;
    line-height: 100%;
    border-bottom: 0.3px solid #BFBFBF;
}
.content nav ul li span{
    font-family: 'Noto Sans KR';
	font-weight: 400;
	font-size: 14px;
    color:#FF731D;
}
.content nav ul li:last-child{
    border-bottom: none;
}
.content nav ul li:first-child{
    border-top: 0.3px solid #BFBFBF;
}

.content nav ul li p{
    padding: 10px 25px;
    font-family: 'Noto Sans KR';
	font-weight: 300;
	font-size: 12px;
    line-height: 100%;
    border-bottom: none;
}


@media ( min-width: 1025px ) {
    .FAQ{
        top: 90px;
        font-size: 24px;
    }
    .content nav ul{
        margin: 100px 0 0 0;
    }
    .content nav ul li{
        font-size: 14px;
        padding: 20px 40px;
    }
    .content nav ul li span{
        font-size: 16px;
    }
    .content nav ul li p{
        padding: 15px 25px;
        font-size: 14px;
    }
}