/*header*/
.header {
    position: relative;
    background-color: white;
    height: 45px;
    font-size: 14px;
    margin: 0;
    padding: 0px;
  }
.title {
    position: absolute;
    font-size: 1.3em;
    left: 20px;
    top: 10px;
    color: black;
}
.menuimage{
	position: absolute;
	width: 25px;
	height: 25px;
  right: 20px;
  top: 10px;
	cursor:pointer;
}
a {
    text-decoration: none;
    color: black;
}
.previous{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 16px;
    top: 68px;
    cursor: pointer;
}
.findid{
    position: absolute;
    left: calc(50% - 92px/2 - 1px);
    top: 100px;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.findid_context{
    position: absolute;
    left: calc(50% - 251px/2 - 0.5px);
    top: 130px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

/*폼*/
#name{
    position: absolute;
    width: 280px;
    height: 50px;
    left: calc(50% - 280px/2);
    top: 190px;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
}
#tel{
    position: absolute;
    width: 280px;
    height: 50px;
    left: calc(50% - 280px/2);
    top: 255px;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
}
input::placeholder{
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 12px;
    padding: 0 0 0 15px;
}
.login{
    border-style: none;
    position: absolute;
    width: 280px;
    height: 40px;
    left: calc(50% - 280px/2);
    top: 330px;
    background: #FF731D;
    border-radius: 30px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer
}


@media ( min-width: 1025px ) {
    .findid{
        font-size: 18px;
    }
    .findid_context{
        font-size: 14px;
    }
    #name{
        width: 400px;
        left: calc(50% - 400px/2);
    }
    #tel{
        width: 400px;
        left: calc(50% - 400px/2);
    }
    .login{
        left: calc(50% - 300px/2);
        width: 300px;
        height: 50px;
        top: 340px;
    }
    input::placeholder{
        font-size: 14px;
        padding: 0 0 0 20px;
    }
}