a {
    text-decoration: none;
    color: black;
}
.previous-circle {
	width: 90px!important;
}
.findpassword{
    position: absolute;
    left: calc(50% - 92px/2 - 1px);
    top: 130px;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.findpassword_context{
    position: absolute;
    left: calc(50% - 251px/2 - 0.5px);
    top: 155px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

/*폼*/
#email{
    position: absolute;
    width: 280px;
    height: 50px;
    left: calc(50% - 280px/2);
    top: 230px;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
}
input::placeholder{
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 12px;
    padding: 0 0 0 15px;
}
.login{
    border-style: none;
    position: absolute;
    width: 280px;
    height: 40px;
    left: calc(50% - 280px/2);
    top: 310px;
    background: #FF731D;
    border-radius: 30px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer
}

.nosignup{
    position: absolute;
    left: calc(50% - 126px/2 - 30px);
    top: 365px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #000000;
}
.findid{
    position: absolute;
    left: calc(50% - 45px/2 + 58px);
    top: 377px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #FF731D;
}


@media ( min-width: 1025px ) {
    .findpassword{
        font-size: 18px;
    }
    .findpassword_context{
        font-size: 14px;
    }
    #email{
        width: 400px;
        left: calc(50% - 400px/2);
    }
    .login{
        left: calc(50% - 300px/2);
        width: 300px;
        height: 50px;
    }
    input::placeholder{
        font-size: 14px;
        padding: 0 0 0 20px;
    }
    .nosignup{
        font-size: 14px;
        left: calc(50% - 166px/2 - 30px);
    }
    .findid{
        font-size: 14px;
        left: calc(50% - 65px/2 + 60px);
   		top: 379px;
    }
}