a {
    text-decoration: none;
    color: black;
}

/*content*/
.content {
	position: relative;
	height: 550px;
	background: #fff4ee;
}

.main-image{
  width: 100%;
  height: 350px;
}

.content h1{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  top: 45px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #000000;
}

.content li{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  list-style: none;
  color: #000000;
  text-align: center;
}

.content li:first-child{
  top: 150px;
}

.content li:nth-child(2){
  top: 180px;
}

.content li:last-child{
  top: 210px;
}

.content p{
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
  top: 370px;
  left: 50%;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #000000;
}

.content p.wide {
	display: none;
}

.content h3{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  top: 480px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  color: #FF731D;
}

.content a{
    border: 1px solid #FF731D;
    background-color: #FF731D;
    border-radius: 30px;
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 255px;
    height: 50px;
    top: 470px;
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    display: block;
    text-align: center;
    line-height: 50px;
    color: white;
}

.contentme {
	position: relative;
}

  /*contentme*/
  .contentme_title{
    position: relative;
    left: calc(50% - 87.84px/2);
    transform: translateX(-50%);
    top: 80px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #000000;
  }
  .flexbox{
    display: flex;
    flex-wrap: wrap;
    gap: 1.3%;
    margin-top: 110px;
	margin-left: 10px;
	margin-right: 10px;
}
  .item{
    min-height: 450px;
    flex-basis: 23%;
    flex-shrink: 1;
    flex-grow: 1;

  }

  .contentme .item img{
    width: 100%;
	height: 60%;
	filter: brightness(1);
  } 
  .contentme .item img:hover{
	filter: brightness(0.8);
  } 

  .contentme .item .contentme_type{
    position: absolute;
    width: 45px;
    height: 25px;
    background: #FF731D;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    line-height: 200%;
    color: #FFFFFF;
    margin: 10px 0px 0px 0px;
  }

  .contentme .item .contentme_name{
    position: absolute;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
	width: 45%;
    color: #000000;
    margin: 45px 0px 20px 0px;
  }

  .contentme .item .contentme_explain{
    position: absolute;
    width: 45%;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 130%;
    color: #000000;
    margin: 82px 0px 0px 0px;
  }

  .contentme .more{
    position: relative;
	display: block;
    width: 330px;
    height: 42px;
    left: 50%;
	top: 20px;
    transform: translateX(-50%);
    background: #FFFFFF;
    border: 0.5px solid #000000;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    line-height: 42px;
    color: #000000;
  }

.contentme .more:hover{
	color: white;
	background: black;
	transition: 0.5s;
}

.contentworld {
	position: relative;
	top: 30px;
}

  /*contentworld*/
  .world-image{
    position: relative;
    width: 97%;
    height: 330px;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
  }

  .contentworld_title{
    position: relative;
    top: 402px;
	left: 20px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: left;
    color: #000000;
  }

  .contentworld_explain{
    position: relative;
	width: 344px;
    top: 75px;
	left: 20px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    text-align: left;
    color: #000000;
  }

  .contentworld .more{                           
    width: 330px;
    height: 42px;
    position: relative;
	display: block;
	margin-top: 120px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFFFFF;
    border: 0.5px solid #000000;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    line-height: 42px;
    color: #000000;
  }
.contentworld .more:hover{
	color: white;
	background: black;
	transition: 0.5s;
}

  /*footer*/
.footer {
	position: relative;
	top: 40px;
    background-color: #D9D9D9;
    height: 225px;
	margin-top: 50px;
}
.footer .logo{
	position: relative;
	width: 80px;
	height: 21px;
    padding: 20px 0 0 20px;
}
.instagram{
    position: relative;
    width: 25px;
    height: 25px;
    left: 20px;
    top: 5px;
}
.blog{
    position: relative;
    width: 28px;
    height: 25px;
    left: 40px;
    top: 5px;
}
.youtube{
    position: relative;
    width: 25px;
    height: 25px;
    left: 60px;
    top: 3px;
}
.aboutus{
    position: absolute;
    left: 20px;
    top: 112px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #000000;
}
.line1{
    position: absolute;
    width: 11px;
    left: 102px;
    top: 122px;
    border: 0.05px solid #7D7D7D;
    transform: rotate(90deg);
}
.notice{
    position: absolute;
    left: 130px;
    top: 112px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #000000;
}
.line2{
    position: absolute;
    width: 11px;
    left: 197px;
    top: 122px;
    border: 0.05px solid #7D7D7D;
    transform: rotate(90deg);
}
.FAQ{
    position: absolute;
    left: 230px;
    top: 112px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #000000;
}
.write{
    position: absolute;
    left: 20px;
    top: 134px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    color: #000000;
}
.contact{
    position: absolute;
    left: 20px;
    top: 170px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    color: #000000;
}

  /*1200px 이상*/
@media screen and (max-width:1023px){
	.item{
		flex-basis: 49%;
	}
}
@media ( min-width: 1025px ) {
    #container {
    	width: 1025px;
     	margin: auto;
    }
  
    /*header*/
    #container .navigationbar{
        height: 50px;
    }
    #container .nav{
        display: flex;
    }
    #container .navigationbar ul li{
      padding: 0px 20px;
      font-family: 'Noto Sans KR';
	  font-weight: 400;
	  font-size: 16px;
      line-height: 100%;
    }

    #container .menuimage{
        display: none;
    }

    /*content*/
    #content {
      width: 1025px;
    }
    .main-image{
      width: 1025px;
      height: 380px;
    }
    .content h1{
      font-size: 38px;
    }

    .content li:first-child{
      font-size: 18px;
      top: 180px;
    }
    
    .content li:nth-child(2){
      font-size: 18px;
      top: 220px;
    }
    
    .content li:last-child{
      font-size: 18px;
      top: 260px;
    }

    .content p.wide{
      top: 400px;
	  width: 1025px;
      font-size: 18px;
	  display: block;
    }
	  
	  .content p.narrow {
		  display: none;
	  }

    /*contentme*/
    .contentme_title{
      font-size: 24px;
	  left: calc(50% - 117.13px/2);
    }
	.content h3{
		top: 475px;
	 }
    .contentme .more{
    } 

    /*contentworld*/
    .world-image{
      height: 500px;
    }
    .contentworld_title{
      font-size: 24px;
	  top: 580px;
	  left: calc(50% - 950px/2);
    }
    .contentworld_explain{
      font-size: 20px;
	  width: 492px;
	  left: calc(50% - 950px/2);
    }
    .contentworld .more{
    }

    /*footer*/
    .footer {
      clear: both;
      height: 190px;
    }
    .footer .logo{
      padding: 25px 0 0 25px;
    }
    .instagram{
	  position: absolute;
	  left: 820px;
	  top: 25px;
      /*left: 845px;
      top: 22px;*/
    }
    .blog{
	  position: absolute;
	  left: 880px;
	  top: 25px;
    }
    .youtube{
	  position: absolute;
	  left: 945px;
	  top:25px;
    }
    .aboutus{
      left: 30px;
      top: 70px;
      font-size: 16px;
    }
    .line1{
      left: 120px;
      top: 81px;
    }
    .notice{
      left: 153px;
      top: 70px;
      font-size: 16px;
    }
    .line2{
      left: 233px;
      top: 81px;
    }
    .FAQ{
      left: 270px;
      top: 70px;
      font-size: 16px;
    }
    .write{
      left: 30px;
      top: 92px;
    }
    .contact{
      left: 30px;
      top: 125px;
    }

    /*노트북: 메뉴바 드롭다운*/
    #container .navigationbar nav ul {
      font-size: 0;
      margin: 0;
      padding: 0;
    }
    #container .navigationbar nav ul li {
      display: inline-block;
      position: relative;
    }
    #container .navigationbar nav ul li a {
      color: black;
      display: block;
      font-size: 14px;
      padding: 15px 14px;
      transition: 0.3s linear;
    }
    #container .navigationbar nav ul li:hover { 
      font-weight: 700;
    }
	.person{
		margin: -2px 0 -2px 0;
	}
    #container .navigationbar nav ul li ul {
      position: absolute;
      width: 200px;
      right: -10px;
    }
    #container .navigationbar nav ul li ul li {
      display: block;
    }
    #container .navigationbar nav ul li ul li a {
      background: #FF731D ;
      color: white;
      display: block;
      padding: 10px 14px;
    }
    .menu_mobile{
      display: none;
    }
}

.opacity_change {
	opacity: 0;
	transition: opacity 2s;
}