.header{
    position: relative;
    background-color: white;
    height: 70px;
    font-size: 14px;
    margin: 0;
    padding: 0px;
}

a{
    text-decoration: none;
    color: inherit;
}

/*header*/
.header {
    position: relative;
    background-color: white;
    height: 45px;
    font-size: 14px;
    margin: 0;
    padding: 0px;
  }
.title {
    position: absolute;
    font-size: 1.3em;
    left: 20px;
    top: 10px;
    color: black;
}
.menuimage{
	position: absolute;
	width: 25px;
	height: 25px;
  right: 20px;
  top: 10px;
	cursor:pointer;
}
a {
    text-decoration: none;
    color: black;
}
.previous{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 16px;
    top: 15px;
    cursor: pointer;
}

.notice{
    position: absolute;
    left: calc(50% - 38px/2 - 1px);
    top: 80px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

/*nav*/
nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 87px 0 0 0;
}
nav ul li{
    padding: 20px 30px;
    font-family: 'Noto Sans KR';
	font-weight: 300;
	font-size: 12px;
    line-height: 100%;
    border-bottom: 0.3px solid #BFBFBF;
}
nav ul li:last-child{
    border-bottom: none;
}
nav ul li:first-child{
    border-top: 0.3px solid #BFBFBF;
}
nav ul li p{
    padding: 10px 25px;
    font-family: 'Noto Sans KR';
	font-weight: 300;
	font-size: 12px;
    line-height: 100%;
    border-bottom: none;
}


@media ( min-width: 1025px ) {
    .notice{
        top: 90px;
        font-size: 24px;
    }
    nav ul{
        margin: 100px 0 0 0;
    }
    nav ul li{
        font-size: 14px;
        padding: 20px 40px;
    }
    nav ul li p{
        padding: 15px 25px;
        font-size: 14px;
    }
}