a{
    text-decoration: none;
    color: black;
}

.title{
    position: absolute;
	left: calc(50% - 73.6px/2);
    top: 80px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

/*nav*/
.content nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 87px 0 0 0;
}
.content nav ul li{
    font-family: 'Noto Sans KR';
	font-weight: 300;
	font-size: 12px;
    line-height: 100%;
    border-bottom: 0.3px solid #BFBFBF;
	position: relative;
}
.content img{
	position: absolute;
	width: 10px;
	height: 10px;
	right: 25px;
	top: 50%;
}
.content nav ul li div {
    padding: 20px 30px;
}
.content nav ul li span{
    font-family: 'Noto Sans KR';
	font-weight: 400;
	font-size: 14px;
    color:#FF731D;
}
.content nav ul li:first-child{
    border-top: 0.3px solid #BFBFBF;
}
.content nav ul li:last-child{
    border-bottom: none;
}
.content nav ul li p{
    padding: 0px 25px 10px 40px;
    font-family: 'Noto Sans KR';
	font-weight: 300;
	font-size: 12px;
    line-height: 130%;
    border-bottom: none;
}



.answer-open{
	transform: translateY(-50%) rotate(270deg);
}
.answer-close{ 
    transform: translateY(-50%) rotate(0deg); 
}

@media ( min-width: 1025px ) {
    .title{
        top: 90px;
		left: calc(50% - 88.32px/2);
        font-size: 24px;
    }
    .content nav ul{
        margin: 100px 0 0 0;
    }
    .content nav ul li{
        font-size: 14px;
    }
	.content nav ul li div{
        padding: 20px 40px;
	}
    .content nav ul li span{
        font-size: 16px;
    }
    .content nav ul li p{
        padding: 0px 25px 10px 60px;
        font-size: 14px;
    }
	.content img{
	right: calc(50% - 495px);
	}
}