
a {
    text-decoration: none;
    color: black;
}
.changecontent{
    position: absolute;
    left: 45px;
    top: 13px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;   
}
.previous{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 16px;
    top: 15px;
    cursor: pointer;
}

.photo{
    position: absolute;
    width: 120px;
    height: 150px;
    left: calc(50% - 120px/2);
    top: 115px;
}

/*이미지 선택*/
#joinForm input#image{
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.imagecontext {
	border: 1px solid #5F2987;
	border-radius: 30px;
	position: absolute;
	left: calc(50% - 102px/2);
	top: 280px;
	width: 100px;
	height: 30px;

	font-family: 'Noto Sans KR';
	font-weight: 300;
	font-size: 12px;
	background-color: white;
	text-align: center;
	line-height: 30px;
	color: #5F2987;
	cursor: pointer;
    transition: background-color .4s, color .4s;
}

.imagecontext:hover {
    background-color: #5F2987;
	color: white;
}

/*폼*/
#joinForm{
	width: 300px;
	margin: auto;
	padding: 0 20px;
	margin-top: 280px;
}
#joinForm .field{
	margin: 5px 0;
	height: 100px;
}
#joinForm .fieldgender{
	margin: 0 0 5px 0;
}
#joinForm .fieldbirth{
	margin: 5px 0 15px 0;
}

#joinForm span{
	display: block;
	margin-bottom: 5px;
	font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 14px;
}
#joinForm input{
	border: 1px solid #dadada;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
	border-radius: 10px;
}
#joinForm p{
	position: absolute;	
	font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 10px;
	color: red;
	display: flex;
    align-items: center;
	padding: 0px 0 0 8px;
	display: none;
}
#joinForm select{
	border: 1px solid #dadada;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
	border-radius: 10px;
	background: #ffffff;
}
#joinForm #gender{
	width: 330px;
}
#joinForm .birth {
	width: 330px;
	display: flex;
	gap: 3px;
	border-radius: 5px;
}

input::placeholder{
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 10px;
    padding: 0 0 0 3px;
}
.fieldgender select{
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 12px;
    padding: 0 0 0 10px;
}
.fieldbirth select{
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 12px;
    padding: 0 0 0 10px;
}
.namecontext ~ p {
	margin-top: 0px;
}
.introductioncontext ~ p {
	margin-top: 0px;
}
.birth p {
	margin-top: 55px;
}

/*가입완료 버튼*/
ul.join_box{
    border: 1px solid #ddd;
    background-color: #fff;
}
.fpmgBt{
    display: block; 
	width: 332px;
    height: 100%; 
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 50px;
    border: none;
    background-color: #FF731D;
    color: #fff;
    cursor: pointer;
	margin: 0 auto;
	border-radius: 10px;
}

@media ( min-width: 1025px ) {
    .photo{
        width: 180px;
        height: 210px;
        left: calc(50% - 1000px/2 + 127px);
        top: 185px;
    }
	.imagecontext {
		top: 445px;
		left: calc(50% - 1000px/2 + 141px);
		width: 150px;
	}
    #joinForm{
		width: 450px;
		margin-left: 400px;
		margin-top: 55px;
	}
	#joinForm .field{
		margin: 8px 0;
	}
	#joinForm .fieldgender{
		margin: 0 0 8px 0;
	}
	#joinForm .fieldbirth{
		margin: 8px 0 25px 0;
	}
	#joinForm #name {
		width: 425px;
	}
	#joinForm #introduction {
		width: 425px;
	}
	#joinForm #gender {
		width: 457px;
	}
	#joinForm .birth {
		width: 457px;
	}
	#joinForm span{
		margin-bottom: 8px;
		font-size: 16px;
	}
	#joinForm p{
		font-size: 12px;
	}
	#joinForm input{
		padding: 15px;
		margin-bottom: 5px;
	}
	input::placeholder{
		font-size: 12px;
		padding: 0 0 0 5px;
	}
	.gender select{
		font-size: 14px;
		padding: 0 0 0 10px;
	}
	.birth select{
		font-size: 14px;
		padding: 0 0 0 10px;
	}
    .birth p {
	    margin-top: 58px;
    }
	.fpmgBt{
		width: 460px;
	}
}

.invalid {
	background-color: #ffe1e1!important;
}

.invalid + p {
	display: block!important;
}