a {
    text-decoration: none;
    color: black;
}
.findpassword{
    position: absolute;
    left: calc(50% - 111.96px/2);
    top: 100px;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.findpassword_context{
    position: absolute;
    left: calc(50% - 161.18px/2);
    top: 130px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

/*폼*/
#setForm{
    width: 320px;
    margin: 120px auto 0px auto;
}
#setForm .field{
	margin: 5px 0;
	height: 100px;
}
#setForm input{
    width: 314px;
    height: 50px;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
	padding: 0 0 0 10px;
}
input#id {
	display: none;
}
input::placeholder{
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 10px;
    padding: 0 0 0 15px;
}
#setForm span{
	display: block;
	margin-bottom: 5px;
	font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 14px;
}
#setForm p{
	position: absolute;	
	font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 10px;
	color: red;
	display: flex;
    align-items: center;
	padding: 0px 0 0 8px;
	display: none;
	margin-top: 6px;
}
.submit{
    border-style: none;
    position: absolute;
    width: 300px;
    height: 50px;
    left: calc(50% - 300px/2);
    top: 400px;
    background: #FF731D;
    border-radius: 10px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
}

.invalid {
	background-color: #ffe1e1!important;
}

.invalid + p {
	display: block!important;
}


@media ( min-width: 1025px ) {
    #setForm{
		width: 500px;
	}
	#setForm .field{
		margin-bottom: 10px;
	}
	#setForm span{
		font-size: 16px;
	}
	#setForm p{
		font-size: 12px;
		margin-top: 0px;
	}
	#setForm input{
		width: 480px;
		padding: 5px;
		margin-bottom: 5px;
		padding: 0 0 0 15px;
	}
	input::placeholder{
		font-size: 12px;
		padding: 0 0 0 5px;
	}
	.change{
		width: 460px;
    	left: calc(50% - 460px/2);
	}
}