.block-1 *, .block-2 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contents {
    background-color: #f7f7f7;
	position: absolute;
	width: 100%;
}

ul > li{
    list-style: none;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    color: black;
}

.contract {
    position: absolute;
    top: 50px;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.block-1 .contract{
    left: calc(50% - 92px/2 - 1px);
}

.block-2 .contract, .block-3 .contract{
    left: calc(50% - 59px/2 - 0.5px);
}

.contract_context{
    position: absolute;
    left: calc(50% - 251px/2 - 0.5px);
    top: 90px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

/*form*/
#checkForm{
    width: 320px;
    margin: 150px auto;
}
ul.join_box{
    border: 1px solid #ddd;
    background-color: #fff;
}
.checkBox,.checkBox>ul{
    position: relative;
    margin: 10px 10px 0 10px;
}
.checkBox>ul>li{
    float: left;
}
.checkBox>ul>li:first-child{
    width: 85%;
    padding: 15px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 14px;
    color: black;
}
.checkBox>ul>li:nth-child(2){
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -12px;
}
.checkBox textarea{
    width: 96%;
    height: 90px; 
    margin: 0 2%;
    background-color: #f7f7f7;
    color: #888; 
    border: none;
	resize: none;
}
.footBtwrap{
    margin-top: 20px;
} 
.footBtwrap>li{
    float: left;
    width: 50%;
    height: 50px;
}
.footBtwrap>li>button{
    display: block; 
    width: 98%;
    height: 100%; 
    padding: 0 20px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 50px;
}
.fpmgBt1{
    background-color: #fff;
    color:black;
    border: 0.5px solid #BFBFBF;
    cursor: pointer;
}
.fpmgBt2{
    border: none;
    background-color: #FF731D;
    color: #fff;
    cursor: pointer;
}


@media ( min-width: 1025px ) {
	.contents {
		width: 1025px;
	}
    #checkForm {
        width: 500px;
    }
    .contract{
        font-size: 18px;
    }
    .contract_context{
        font-size: 14px;
		left: calc(50% - 297.92px/2);
    }
    .checkBox>ul>li:first-child{
        font-size: 16px;
    }
    .checkBox textarea{
        height: 150px;
    }
}

.block-2 {
	display: none;
}

/*가운데 콘텐츠*/
#joinForm{
	width: 300px;
	margin: auto;
	padding: 0 20px;
	margin-top: 95px;
}
#joinForm .field{
	margin: 5px 0;
	height: 100px;
}
#joinForm .fieldgender{
	margin: 0 0 5px 0;
}
#joinForm .fieldbirth{
	margin: 5px 0 15px 0;
}

#joinForm span{
	display: block;
	margin-bottom: 5px;
	font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 14px;
}
#joinForm p{
	position: absolute;	
	font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 10px;
	color: red;
	display: flex;
    align-items: center;
	padding: 0px 0 0 8px;
	display: none;
}
#joinForm input{
	border: 1px solid #dadada;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
	border-radius: 10px;
}
#joinForm select{
	border: 1px solid #dadada;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
	border-radius: 10px;
	background: #ffffff;
}
#joinForm .fieldbirth select {
	padding-left: 10px;
}
.fieldbirth .birth {
	display: flex;
	gap: 3px;
	border-radius: 5px;
}

input::placeholder{
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 10px;
    padding: 0 0 0 3px;
}
.gender select{
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 12px;
    padding: 0 0 0 10px;
}
.birth select{
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 12px;
    padding: 0 0 0 10px;
}
.birth p {
	margin-top: 55px;
}
/*가입완료 버튼*/
ul.join_box{
    border: 1px solid #ddd;
    background-color: #fff;
}
.fpmgBt{
    display: block; 
	width: 260px;
    height: 100%; 
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 50px;
    border: none;
    background-color: #FF731D;
    color: #fff;
    cursor: pointer;
	margin: 0 auto;
	border-radius: 10px;
	margin-bottom: 50px;
}

@media ( min-width: 1025px ) {
    .contract{
        font-size: 18px;
		left: calc(50% - 104.4px/2);
    }
    #joinForm{
		width: 500px;
		margin-top: 105px;
	}
	#joinForm .field{
		margin: 8px 0;
	}
	#joinForm .fieldgender{
		margin: 0 0 8px 0;
	}
	#joinForm .fieldbirth{
		margin: 8px 0 25px 0;
	}

	#joinForm span{
		margin-bottom: 8px;
			font-size: 16px;
	}
	#joinForm p{
		font-size: 12px;
	}
	#joinForm input{
			padding: 15px;
			margin-bottom: 5px;
	}
	input::placeholder{
		font-size: 12px;
		padding: 0 0 0 5px;
	}
	.gender select{
		font-size: 14px;
		padding: 0 0 0 10px;
	}
	.birth select{
		font-size: 14px;
		padding: 0 0 0 10px;
	}
	.fpmgBt{
		width: 460px;
	}
}

.invalid {
	background-color: #ffe1e1!important;
}

.invalid + p {
	display: block!important;
}