<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title>내가 잘하는 것은? 네가 잘하는 것은!</title>	  
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<style>
  	  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style> 
	<link rel="stylesheet" href="/css/paperplane/main.css">
	<link rel="stylesheet" href="/css/menu/navigationbar.css">
    <link rel="stylesheet" href="/css/menu/menu.css">
  </head>
  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}  
	  <div class="main">	  
	    <h1>내가 잘하는 것은? <br>네가 잘하는 것은!</h1>
	    <img src="/photo/paperplane/jar.png" class="jar">
	    <a href="/myself/paperplane/start">
		  <div class="start"></div>
		  <div class="start-content">시작하기</div>
	    </a>
	    <div class="sticker1"></div>
	    <div class="sticker2"></div>
	  </div>	  
	</div>
	{% include "menu/menu.html" %}
  <script>
	window.onload = () => {
	  let message = (new URLSearchParams(location.search)).get('message');
	
	  if (message) {
		switch (message) {
  		  case 'wrongAddressError':
			alert('주소에 오류가 있거나 유리병이 삭제된 것 같아요.');
    		break;
		}
	  }
	};  
	</script>
  </body>
</html>