<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title>내가 잘하는 것은? 네가 잘하는 것은!</title>	  
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description"
      content="때로는 자신이 잘하는 것을 자신이 발견하기는 어렵기도 하죠. 자신의 주변 사람들에게 물어보면서 자신이 무엇을 잘하는 사람인지 탐구해봐요." />
	<meta name="keywords" content="보담길,진로,진로사이트,진로고민,진로교육,진로게임,진로이야기,진로여정,꿈,꿈찾기,대학생,대학생진로,직업,직무,심리검사,진로검사" />
	<meta name="robots" content="index,nofollow">
	<meta property="og:site_name" content="보담길" />
	<meta property="og:title" content="보담길" />
	<meta property="og:description"
      content="내가 잘하는 것은? 네가 잘하는 것은!" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.bodamgil.com" />
	<meta property="og:image"
      content="https://bodamgil.com/photo/paperplane/paperplane_kakaotalk.png" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="보담길">
    <meta name="twitter:description" content="내가 잘하는 것은? 네가 잘하는 것은!">
    <meta name="twitter:image" content="https://bodamgil.com/photo/paperplane/paperplane_kakaotalk.png">
	<style>
  	  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style> 
	<link rel="stylesheet" href="/css/paperplane/main.css">
	{% include "common.html" %}
  </head>
  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}  
	  <div class="main">	  
	    <h1>내가 잘하는 것은? <br>네가 잘하는 것은!</h1>
	    <img src="/photo/paperplane/jar.png" class="jar" alt="유리병">
	    <a href="/myself/paperplane/start">
		  <div class="start"></div>
		  <div class="start-content">시작하기</div>
	    </a>
	    <div class="sticker1"></div>
	    <div class="sticker2"></div>
	  </div>	  
	</div>
	{% include "menu/menu.html" %}
  <script>
	window.onload = () => {
	  let message = (new URLSearchParams(location.search)).get('message');
	
	  if (message) {
		switch (message) {
  		  case 'wrongAddressError':
			alert('주소에 오류가 있거나 유리병이 삭제된 것 같아요.');
    		break;
		}
	  }
	};  
	</script>
  </body>
</html>