<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title></title>	  
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style> 
	<link rel="stylesheet" href="../../../css/paperplane/paperplane.css">
  </head>
  <body>
	<div style="display: flex; justify-content: center;">
	  <div style="width: 360px; height: 640px; border: 1px solid black;" class="container">
	  <div style="width: 360px; height: 45px; background-color:red" class="header">
	    <a href="/">Com:pass 로고</a>
		<img src="../../../photo/polaroid/menu.png" class="menu">
		  
	<div class="main">	  
 		<h1>{{ user.name }} 님에게 <br>총 {{ paperPlanes.length }}개의 편지가 도착했어요!</h1>
		<div class="note"></div>
		<span class="relationship">[관계]</span>
		<span class="name">[이름]</span>
		<div class="line"></div>
		
        {% for paperPlane in paperPlanes %}
		{{ paperPlane.relationship }}
		{{ paperPlane.name }}
		{{ paperPlane.content }}
		{% endfor %}
		<button class="back">BACK</button>
		<button class="next">NEXT</button>
	</div>	  
		  
	</div>
	</div>
	</div>
  </body>
</html>
<!--
  <p>{{ paperPlane.content }}</p>
  <p>{{ paperPlane.name }}</p>
  <p>{{ paperPlane.relationship }}</p>
-->