<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title>내가 잘하는 것은? 네가 잘하는 것은! - 확인하기</title>	  
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<style>
  	  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style> 
	<link rel="stylesheet" href="/css/paperplane/paperplane.css">
	{% include "common.html" %}
  </head>
  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}
	  <div class="previous-circle">
		<a href="/myself/paperplane">
		  <img src="/photo/main/previous.png" class="previous" alt="뒤로가기">
		</a>
	  </div>    
	  <div class="main">	  
 		<h1>{{ user.name }} 님에게 <br>총 {{ paperPlanes.length }}개의 편지가 도착했어요!</h1>
		<div class="note"></div>
        {% for paperPlane in paperPlanes %}
		<div class="paperplane contents-{{ loop.index }}">
		  <span class="relationship">
			{% if paperPlane.relationship === "friend" %}친구
			{% elif paperPlane.relationship === "couple" %}연인
			{% elif paperPlane.relationship === "family" %}가족
			{% elif paperPlane.relationship === "school" %}선후배
			{% elif paperPlane.relationship === "colleague" %}직장동료
			{% elif paperPlane.relationship === "etc" %}기타
			{% endif %}
		  </span>
		  <span class="name">{{ paperPlane.name }}</span>
		  <div class="line"></div>
		  <div class="content">{{ paperPlane.content }}</div>
		</div>
		{% endfor %}
        
        <span class="name1"></span>
        <span class="name2">/</span>
        <span class="name3">{{ paperPlanes.length }}</span> 

		<img src="/photo/paperplane/back.png" class="back" alt="이전">
		<img src="/photo/paperplane/next.png" class="next" alt="이후">
	  </div>	   
	</div>
	{% include "menu/menu.html" %}
  </body>
  <script src="/js/changepage.js"></script>
  <script>
  window.onload = () => {
	let message = (new URLSearchParams(location.search)).get('message');
    
	if (message) {
	  switch (message) {
		case 'signupSuccess':
		  alert('회원 가입이 완료되었습니다. 보담길에 오신 것을 환영합니다.');
		  break;
	  }
	}
  };  
  </script>
</html>