<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title>내가 잘하는 것은? 네가 잘하는 것은! - 작성하기</title>	  
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<style>
  	  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style>
	<link rel="stylesheet" href="/css/paperplane/success.css">
	{% include "common.html" %}
  </head>
  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}
	  <div class="previous-circle">
		<a href="/myself/paperplane">
		  <img src="/photo/main/previous.png" class="previous">
		</a>
	  </div>    
	  <div class="main">	 
		<img src="/photo/paperplane/airplane-last.png">
		<p>편지를 성공적으로 보냈어요.</p>
        <a href="/myself/paperplane/{{ id }}/write" class="more">더 보내기</a>
        <a href="/myself/paperplane/start" class="check">내꺼 확인하기</a>
	  </div>
	</div>
	{% include "menu/menu.html" %}
  </body>
</html>