<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title></title>	  
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style> 
	<link rel="stylesheet" href="../../../css/paperplane/write.css">
  </head>
  <body>
	<div style="display: flex; justify-content: center;">
	  <div style="width: 360px; height: 640px; border: 1px solid black;" class="container">
	  <div style="width: 360px; height: 45px; background-color:white" class="header">
	    <a href="/myself/paperplane/1"> <img src="../../photo/paperplane/previous.png" class="previous"></a>
		<span class="home">기본화면</span>
		<img src="../../photo/polaroid/menu.png" class="menu">
		  
	<div class="main">	 
		<div class="progress"></div>
		<div class="progress-color"></div>
 		<h1>이런 내용에 대해 적어주세요</h1>
		<p class="content1">남들보다 조금이라도 더 잘한다고 생각한 것들에 대해 자유롭게 작성해주세요.</p>
		<p class="content2">‘영어 말하기, 포토샵, 농구하기’ 등 기술적인 것에 대한 이야기도 좋아요!</p>
		<p class="content3">‘사람 얼굴을 잘 기억해요, 옷을 감각적이게 잘 입어요’와 같이 성향적인 것도 좋아요!</p>
		<p class="content4">상위 1%가 아니어도 좋아요. 평균보다 조금이라도 잘하는 일들을 적어주세요.</p>
		<button class="next">NEXT</button>
	</div>	  
		  
	</div>
	</div>
	</div>
  </body>
</html>
		
<!--
  <form action="/myself/paperplane/{{ id }}/write" method="post">
    <div>
	  <label for="relationship">관계</label>	  
	  <input id="relationship-friend" type="radio" name="relationship" value="friend">친구
	  <input id="relationship-couple" type="radio" name="relationship" value="couple">연인
	  <input id="relationship-family" type="radio" name="relationship" value="family">가족
	  <input id="relationship-school" type="radio" name="relationship" value="school">선후배
	  <input id="relationship-colleague" type="radio" name="relationship" value="colleague">직장동료
	  <input id="relationship-etc" type="radio" name="relationship" value="etc">기타
	</div>
	<div>
	  <label for="name">닉네임</label>	  
	  <input id="name" name="name" require>
	</div>
	<div>
	  <label for="content">내용</label>	  
	  <input id="content" name="content" require>
    </div>
    <button type="submit">다음</button>
  </form>
-->