<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title></title>	  
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style> 
	<link rel="stylesheet" href="../../../css/paperplane/write2.css">
  </head>
  <body>
	<div style="display: flex; justify-content: center;">
	  <div style="width: 360px; height: 640px; border: 1px solid black;" class="container">
	  <div style="width: 360px; height: 45px; background-color:white" class="header">
	    <a href="/myself/paperplane/1"> <img src="../../photo/paperplane/previous.png" class="previous"></a>
		<span class="home">기본화면</span>
		<img src="../../photo/polaroid/menu.png" class="menu">
		  
	<div class="main">	 
		<div class="progress"></div>
		<div class="progress-color"></div>
 		<h1>____와의 관계를 선택해주세요!</h1>
		<ul class="button1">
            <li>친구</li>
            <li>연인</li>
            <li>가족</li>
        </ul>
        <ul class="button2">
            <li>선후배</li>
            <li>직장동료</li>
            <li>기타</li>
        </ul>
	</div>	

	<button class="back">BACK</button>
	<button class="next">NEXT</button>
	
	</div>
	</div>
	</div>
  </body>
</html>
		