<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title>내가 잘하는 것은? 네가 잘하는 것은! - 작성하기</title>	  
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description"
      content="때로는 자신이 잘하는 것을 자신이 발견하기는 어렵기도 하죠. 자신의 주변 사람들에게 물어보면서 자신이 무엇을 잘하는 사람인지 탐구해봐요." />
	<meta name="keywords" content="보담길,진로,진로사이트,진로고민,진로교육,진로게임,진로이야기,진로여정,꿈,꿈찾기,대학생,대학생진로,직업,직무,심리검사,진로검사" />
	<meta name="robots" content="index,nofollow">
	<meta property="og:site_name" content="보담길" />
	<meta property="og:title" content="보담길" />
	<meta property="og:description"
      content="내가 잘하는 것은? 네가 잘하는 것은!" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.bodamgil.com" />
	<meta property="og:image"
      content="/photo/paperplane/paperplane_kakaotalk.png" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="보담길">
    <meta name="twitter:description" content="내가 잘하는 것은? 네가 잘하는 것은!">
    <meta name="twitter:image" content="/photo/paperplane/paperplane_kakaotalk.png">
	<style>
  		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
	</style> 
	<link rel="stylesheet" href="/css/paperplane/write.css">
	{% include "common.html" %}
  </head>
  <body>
    <div id="container">
	  {% include "menu/navigationbar.html" %}     
	  <div class="previous-circle">
		<a href="/myself/paperplane">
		  <img src="/photo/main/previous.png" class="previous" alt="뒤로가기">
		</a>
	  </div>    
	  <form action="/myself/paperplane/{{ id }}/write" method="post">
		<div class="main">	 
		  <div class="progress"></div>
		  <div class="progress-color"></div>

		  <div class="block-1">
			<h1>이런 내용에 대해 적어주세요</h1>
			<p class="content1">남들보다 조금이라도 더 잘한다고 생각한 것들에 대해 자유롭게 작성해주세요.</p>
			<p class="content2">‘영어 말하기, 포토샵, 농구하기’ 등 기술적인 것에 대한 이야기도 좋아요!</p>
			<p class="content3">‘사람 얼굴을 잘 기억해요, 옷을 감각적이게 잘 입어요’와 같이 성향적인 것도 좋아요!</p>
			<p class="content4">상위 1%가 아니어도 좋아요. 평균보다 조금이라도 잘하는 일들을 적어주세요.</p>
			<button class="next" type="button">NEXT</button>
		  </div>

		  <div class="block-2">
			<h1>적을 때 이런 점은 유의해주세요</h1>
			<p class="content1">타인을 비방하거나 욕설이 담긴 편지는 삼가해주세요.</p>
			<p class="content2">한 번 보낸 편지는 수정이나 삭제가 불가해요.</p>
			<p class="content3">자신을 탐구하는 진중한 기회 중 하나예요. 장난성 편지는 삼가해주세요.</p>
			<p class="content4">‘운동’보다는 ‘탁구를 잘 쳐요’와 같이 최대한 자세하게 작성해주세요.</p>
			<button class="back" type="button">BACK</button>
			<button class="next" type="button">NEXT</button>
		  </div>

		  <div class="block-3">
			<h1><name>{{ owner }}</name> 님과의 관계를 선택해주세요!</h1>
			<div class="button-relationship">
			  <input id="relationship-friend" type="radio" name="relationship" value="friend" checked>친구
			  <input id="relationship-couple" type="radio" name="relationship" value="couple">연인
			  <input id="relationship-family" type="radio" name="relationship" value="family">가족
			  <input id="relationship-school" type="radio" name="relationship" value="school">선후배
			  <input id="relationship-colleague" type="radio" name="relationship" value="colleague">직장동료
			  <input id="relationship-etc" type="radio" name="relationship" value="etc">기타
			</div>
			<ul class="button1">
			  <li class="friend check">친구</li>
		  	  <li class="couple">연인</li>
			  <li class="family">가족</li>
			</ul>
			<ul class="button2">
			  <li class="school">선후배</li>
			  <li class="colleague">직장동료</li>
			  <li class="etc">기타</li>
			</ul>
			<button class="back" type="button">BACK</button>
			<button class="next" type="button">NEXT</button>
		  </div>

		  <div class="block-4">
			<h1><name>{{ owner }}</name> 님이 잘하는 일을 적어주세요!</h1>
			<input id="name" class="name" name="name" placeholder="닉네임을 입력해주세요. (14글자 이내)" maxlength="14" require>
			<textarea id="content" class="message" name="content" placeholder="메시지를 적어주세요. (437글자 이내)" maxlength="437" require></textarea>
			<button class="back" type="button">BACK</button>
			<button class="next" type="button">SEND</button>
		  </div>
		</div>
		
		<div class="delete">
		  <div class="black"></div>
			  <div class="alert"></div>
			  <p>편지 작성이 완료되었습니다.<br>편지를 보내겠습니까?</p>
			  <button class="no" type="button">취소</button>
			  <button class="yes" type="submit">보내기</button>
		</div>
	  </form>
	</div>
	{% include "menu/menu.html" %}
  </body>
  <script>
	window.onload = () => {
	  let message = (new URLSearchParams(location.search)).get('message');
	
	  if (message) {
		switch (message) {
  		  case 'noDataError':
			alert('닉네임, 텍스트 모두 입력해주세요!');
    		break;
  		  case 'longDataError':
			alert('닉네임은 14자 이내, 텍스트는 437자 이내로 입력해주세요!');
    		break;
		  case 'signupSuccess':
		    alert('회원 가입이 완료되었습니다. 보담길에 오신 것을 환영합니다.');
		    break;
		}
	  }
	};  
	  
	let page = 1;
	const changePage = (currentPage) => {
	  for (let i = 1; i <= 4; i++) {
		if (i !== currentPage) {
	      document.querySelector(`.block-${i}`).style.display = 'none';
		} else {
	      document.querySelector(`.block-${i}`).style.display = 'block';
		}
	  }  
	    document.querySelector('.progress-color').style.width = `${25 * currentPage}%`;
	};
	changePage(page);
	
	document.querySelectorAll('.back').forEach((button) => {
	  button.addEventListener('click', () => {
		page--;
	    changePage(page);
	  });
	});
	
	document.querySelectorAll('.next').forEach((button) => {
	  button.addEventListener('click', () => {
		if (page === 4) {
		  document.querySelector('.delete').style.display = 'block';
		} else {
		  page++;
		  changePage(page);
		}
	  });
	});
	  
	document.querySelector('.no').addEventListener('click', () => {
	  document.querySelector('.delete').style.display = 'none';
	});	
	  
	const checkRelationship = (relationship) => {
	  document.querySelectorAll('.button1 > li, .button2 > li').forEach((tag) => {
	    tag.classList.remove('check');
	  });
	  document.querySelectorAll('.button-relationship > input').forEach((button) => {
		button.checked = false;
	  });
	  document.querySelector(`#relationship-${relationship}`).checked = true;
	};
	  
	document.querySelectorAll('.button1 > li, .button2 > li').forEach((tag) => {
	  tag.addEventListener('click', () => {
		checkRelationship(tag.classList[0]);
	    tag.classList.add('check');
	  });
	});
	  
	const name = document.querySelector('name').innerHTML;
	if (name.length >= 12) {
		document.querySelector('.main .block-3 h1').style.top = '50px';
		document.querySelectorAll('name').forEach((nameTag) => {
		  nameTag.innerHTML = name.slice(0, name.length / 2) + "<br>" + name.slice(name.length / 2);
		});
	}
  </script>
</html>